# Ej.1

In [1]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 80%; }
    div#maintoolbar-container { width: 80%; }a
</style>
"""))

In [2]:
'''
Importar librerias
- numpy 
- pandas
- Series 
'''
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
junin = pd.read_excel("../../data/Region_Junin.xlsx")
junin.head(3)

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,...,209.0,544.0,361.0,216.0,1.0,1.0,4.0,284.0,290.0,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,...,50.0,100.0,50.0,50.0,0.0,0.0,0.0,100.0,0.0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,...,25.0,72.0,47.0,25.0,0.0,0.0,0.0,69.0,3.0,0

In [5]:
 # 0. Dropear primera columna dado que es una repiticion del indice
junin.drop(junin.columns[0], axis=1, inplace=True) 
junin.head(3)

,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,158,74.0,...,209.0,544.0,361.0,216.0,1.0,1.0,4.0,284.0,290.0,1
1,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,30,0.0,...,50.0,100.0,50.0,50.0,0.0,0.0,0.0,100.0,0.0,0
2,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,25,0.0,...,25.0,72.0,47.0,25.0,0.0,0.0,0.0,69.0,3.0,0

In [6]:
# Pregunta 1: Obtener el nombre de todas las variables
list(junin.columns) #nombres

['District',
 'Place',
 '4_6_years_men',
 '4_6_years_women',
 '4_6_years_total',
 '6_14_years_men',
 '6_14_years_women',
 '6_14_years_total',
 'man_read',
 'women_read',
 'total_read',
 'men_not_read',
 'women_not_read',
 'total_not_read',
 'man_write',
 'women_write',
 'total_write',
 'men_not_write',
 'women_not_write',
 'total_not_write',
 'instruction_men',
 'instruction_women',
 'instruction_total',
 'no_instruction_men',
 'no_instruction_women',
 'no_instruction_total',
 'finished_instr_men',
 'finished_instr_women',
 'finished_instr_total',
 'not_finished_instr_men',
 'not_finished_instr_women',
 'not_finished_instr_total',
 'peruvian_men',
 'peruvian_women',
 'foreign_men',
 'foreign_women',
 'whites',
 'natives',
 'mestizos',
 'blacks']

In [7]:
type(junin.columns)   # Show the type

pandas.core.indexes.base.Index

In [8]:
# Pregunta 2: Mostrar el tipo de variables (type) así como presentar los principales estadísticos.
junin.info() 
        #se evidencia que la mayoría de variables son numeros (int, float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   District                  197 non-null    object
 1   Place                     186 non-null    object
 2   4_6_years_men             197 non-null    int64
 3   4_6_years_women           197 non-null    int64
 4   4_6_years_total           197 non-null    int64
 5   6_14_years_men            196 non-null    float64
 6   6_14_years_women          197 non-null    int64
 7   6_14_years_total          197 non-null    int64
 8   man_read                  197 non-null    int64
 9   women_read                193 non-null    float64
 10  total_read                197 non-null    int64
 11  men_not_read              197 non-null    int64
 12  women_not_read            197 non-null    int64
 13  total_not_read            196 non-null    float64
 14  man_write                 196 non-null    float64
 15  women_write               196 non-null    float64
 16  total_write               192 non-null    float64
 17  men_not_write             191 non-null    float64
 18  women_not_write           197 non-null    int64
 19  total_not_write           194 non-null    float64
 20  instruction_men           197 non-null    int64
 21  instruction_women         195 non-null    float64
 22  instruction_total         195 non-null    float64
 23  no_instruction_men        194 non-null    float64
 24  no_instruction_women      197 non-null    int64
 25  no_instruction_total      197 non-null    int64
 26  finished_instr_men        194 non-null    float64
 27  finished_instr_women      192 non-null    float64
 28  finished_instr_total      196 non-null    float64
 29  not_finished_instr_men    196 non-null    float64
 30  not_finished_instr_women  196 non-null    float64
 31  not_finished_instr_total  196 non-null    float64
 32  peruvian_men              196 non-null    float64
 33  peruvian_women            196 non-null    float64
 34  foreign_men               196 non-null    float64
 35  foreign_women             195 non-null    float64
 36  whites                    196 non-null    float64
 37  natives                   191 non-null    float64
 38  mestizos                  195 non-null    float64
 39  blacks                    197 non-null    int64
dtypes: float64(24), int64(14), object(2)
memory usage: 61.7+ KB

In [10]:
junin.describe()    # Principales estadísticos
    #en promedio hay 17=16.97 aprx. niños de 4 a 6 años en cada lugar
    #con una desviacion de 22 +/-
    #el máximo de niños de 4 a 6 años en un lugar es de 184

,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,men_not_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,196.000000,197.000000,197.000000,197.000000,193.000000,197.000000,197.000000,...,196.000000,196.000000,196.000000,196.000000,196.000000,195.000000,196.000000,191.000000,195.000000,197.000000
mean,16.979695,15.345178,32.324873,79.127551,62.482234,141.538071,34.654822,11.948187,46.360406,61.294416,...,78.969388,173.066327,95.250000,77.933673,0.030612,0.010256,9.943878,109.890052,53.102564,0.776650
std,22.571419,21.618979,43.489455,100.078118,90.879972,188.535210,51.091581,34.994455,83.291516,84.511046,...,112.021377,221.154316,120.117181,110.758275,0.266182,0.101013,39.772454,133.154297,123.645360,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,22.000000,...,24.750000,50.000000,30.500000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,41.000000,...,50.000000,109.000000,64.000000,50.000000,0.000000,0.000000,0.000000,73.000000,4.000000,0.000000
75%,20.000000,18.000000,39.000000,88.250000,73.000000,160.000000,42.000000,7.000000,50.000000,65.000000,...,91.750000,197.250000,101.500000,92.000000,0.000000,0.000000,0.250000,143.500000,48.000000,0.000000
max,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,817.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

In [11]:
# Pregunta 3: Verifique si las columnas presentan missing values
junin.isnull().sum()  #verificar con funcion isna
    # se evidencia que hay missings en las columnas; Place, total_not_read, man_write, entre otras.

District                     0
Place                       11
4_6_years_men                0
4_6_years_women              0
4_6_years_total              0
6_14_years_men               1
6_14_years_women             0
6_14_years_total             0
man_read                     0
women_read                   4
total_read                   0
men_not_read                 0
women_not_read               0
total_not_read               1
man_write                    1
women_write                  1
total_write                  5
men_not_write                6
women_not_write              0
total_not_write              3
instruction_men              0
instruction_women            2
instruction_total            2
no_instruction_men           3
no_instruction_women         0
no_instruction_total         0
finished_instr_men           3
finished_instr_women         5
finished_instr_total         1
not_finished_instr_men       1
not_finished_instr_women     1
not_finished_instr_total     1
peruvian_men                 1
peruvian_women               1
foreign_men                  1
foreign_women                2
whites                       1
natives                      6
mestizos                     2
blacks                       0
dtype: int64

In [16]:
junin.isnull().sum()  #verificar con funcion isnull (mismo resultado)

District                     0
Place                       11
4_6_years_men                0
4_6_years_women              0
4_6_years_total              0
6_14_years_men               1
6_14_years_women             0
6_14_years_total             0
man_read                     0
women_read                   4
total_read                   0
men_not_read                 0
women_not_read               0
total_not_read               1
man_write                    1
women_write                  1
total_write                  5
men_not_write                6
women_not_write              0
total_not_write              3
instruction_men              0
instruction_women            2
instruction_total            2
no_instruction_men           3
no_instruction_women         0
no_instruction_total         0
finished_instr_men           3
finished_instr_women         5
finished_instr_total         1
not_finished_instr_men       1
not_finished_instr_women     1
not_finished_instr_total     1
peruvian_men                 1
peruvian_women               1
foreign_men                  1
foreign_women                2
whites                       1
natives                      6
mestizos                     2
blacks                       0
dtype: int64

In [17]:
# Pregunta 4: Cambie el nombre de las siguientes variables: 
    #Place : comunidad, men_not_read: nlee_hombre, women_not_read: nlee_mujer, total_not_read: ntotal_lee, men_not_write: nesc_hombre, women_not_write: nesc_hombre, total_not_write: nesc_total.
junin.rename(columns = {'Place':'comunidad', 'men_not_read':'homxlee', 'women_not_read':'mujerxlee', 'total_not_read':'totalxlee'}, inplace = True)
junin.head(5)

,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,158,74.0,...,209.0,544.0,361.0,216.0,1.0,1.0,4.0,284.0,290.0,1
1,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,30,0.0,...,50.0,100.0,50.0,50.0,0.0,0.0,0.0,100.0,0.0,0
2,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,25,0.0,...,25.0,72.0,47.0,25.0,0.0,0.0,0.0,69.0,3.0,0
3,CIUDAD DEL CERRO,RANCA,0,6,6,25.0,19,44,25,0.0,...,25.0,50.0,25.0,25.0,0.0,0.0,0.0,25.0,25.0,0
4,CIUDAD DEL CERRO,PASCO,4,4,8,21.0,21,42,3,0.0,...,25.0,50.0,25.0,25.0,0.0,0.0,0.0,37.0,13.0,0

In [75]:
# Pregunta 5: Muestre los valores únicos de las siguientes variables (comunidad , District)
    # Comunidad:
print(junin.comunidad.unique())
print(len(junin.comunidad.unique())) #hay 183 valores unicos de comunidad

['C.CIUDAD DEL CERRO' 'P.YANACANCHA' 'VICO' 'RANCA' 'PASCO' nan
 'CAJAMARQUILLA' 'CAICO' 'ROCO' 'P.QUINUA' 'H.PARIAHUANCA' 'P.SULLUMARCA'
 'H.SAN ANDRÉS' 'P.HUALLAY' 'C.HUAYCHAO' 'COCHAMARCA' 'P.CHACAYÁN'
 'VILCABAMBA' 'CUCHES' 'CHANGO' 'MITO' 'ANTAPIRCA' 'P.CAYNA' 'A. COLPAS'
 'C.MASQUIN' 'P.YAMOR' 'TANGOR' 'QUIO' 'CAURY' 'CHUCCHUC' 'COQUIN'
 'A.YAPOC' 'P.YANAHUANCA' 'HUAYLACIRCA' 'HUARANTAMBO' 'ANDUCHACA' 'VILLO'
 'MICHIVILCA' 'PILLAO' 'YACÁN' 'TÁPUC' 'CHAUPIMARCA' 'P.OXAPAMPA'
 'P.JAUJA' 'A.CHUNÁN' 'C.PACAPACHA' 'HUANCAS' 'A.HUERTAS' 'PACA' 'MASMA'
 'ATAURA' 'HUALÁ' 'JULCÁN' 'P.RICRÁN' 'A.PAUCÁN' 'P.APATA' 'HUAMALÍ'
 'A.SAN LORENZO' 'PACUCHO' 'P.ORCOTUNA' 'A.VICSO' 'TISTES' 'P.HUARIPAMPA'
 'A.PARCO' 'PACCHA' 'CANCHAPUNCO' 'C.ULLUSCA' 'CANCHAS' 'P.MUQUIYAUYO'
 'MUQUI' 'P.ACOLLA' 'MARCO' 'TRAGADERO' 'ACAYA' 'YAUJAILLO' 'CURICACA'
 'C.LLACUARI' 'P.HUANCARÍ' 'C.CHALHUAS' 'ARAMACHAY' 'P.MITO' 'A.CHAMBARÁ'
 'C.QUICHA' 'HUACHAC' 'A.ACO' 'P.LLOCLLAPAMPA' 'VISCAS ESPERANZA'
 'CONCHAILLO' 'MATA-CHICO' 'MATA-GRANDE' 'P.CONCEPCIÓN'
 'SANTA ROSA DE OCOPA' 'HUANTAR' 'A.ALAYO' 'C.SAN ANTONIO DE CARICANCHO'
 'SANTO DOMINGO' 'P.CÓMAS' 'C.CHUPA' 'COCHAS' 'P.MATAHUASI' 'P.HUANCAYO'
 'CAJAS' 'P.CHUPACA' 'A.ISCOS' 'ANTAPAMPA' 'HUAUSCA GRANDE'
 'SAN JUAN DE TARPA' 'COPCA' 'HUAYAN' 'HUAMANCACA' 'PILCOMAYO' 'AHUAC'
 'ACAC' 'P.SAN GERÓNIMO' 'HUALHUAS' 'SAN PEDRO DE SAÑO' 'QUICHUAY'
 'CASACANCHA' 'A.INGENIO' 'P.SANTA CRUZ DE QUILCAY' 'RANGRA'
 'P.SAPALLANGA' 'A.LA PUNTA' 'P.PUCARÁ' 'C.PATALÁ' 'MARCAVALLE'
 'COCHARCAS' 'P.CHONGOS' 'C.TURPAC Y TINYARI' 'SOCOS' 'PUMPUNGA' 'CHUPURO'
 'CARHUAPACHA' 'A.HUAMANCACA' 'P.SICAYA' 'A.HUANCHAC' 'C.CACHICAMARCA'
 'P.COLCA' 'A.CHACAPAMPA' 'HUASICANCHA' 'CUCHO' 'CHILIAY' 'POTACA' 'LARIA'
 'CHONGOS ALTO' 'P.HUAYUCACHI' 'HUAMANMARCA' 'CACAS' 'HUARAPUQUIO'
 'CULLHUAS' 'RETAMA' 'PACHA' 'P.TARMA' 'MACO' 'MULLUERO' 'CHANCHA'
 'TARMATAMBO' 'P.JUNÍN' 'HUASAHUASY' 'PARI' 'YANEC' 'CHUPÁN' 'ACONCOCHA'
 'ONDORES' 'P.ACOBAMBA' 'PICOY' 'C.HUARACAYO' 'A.PALCA' 'C.HUAILAHUICHÁN'
 'P.PALCAMAYO' 'P.OROYA' 'HUAYNACANCHA' 'HUAYHUAY' 'P.CARHUAMAYO'
 'ULCUMAYO' 'P.SAN RAMÓN' 'P.VISCATÁN' 'PAN DE AZÚCAR' 'SUITUCANCHA'
 'CHACAPALCA' 'P.POMACOCHA' 'YAULI' 'MINAS DE MOROCOCHA']
183

In [18]:
    #District:
print(junin.District.unique())
print(len(junin.District.unique())) #hay 35 valores unicos de comunidad

['CIUDAD DEL CERRO' 'HUAYLLAY' 'CHACAYÁN' 'CAYNA' 'YANAHUANCA' 'NINACACA'
 'JAUJA' 'APATA' 'ORCOTUNA' 'HUARIPAMPA' 'MUQUIYAUYO' 'ACOLLA' 'CINCOS'
 'MITO' 'LLOCLLAPAMPA' 'CONCEPCIÓN' 'COCHAS' 'MATAHUASI' 'HUANCAYO'
 'CHUPACA' 'SAN GERÓNIMO' 'SAPALLANGA' 'CHONGOS' 'SICAYA' 'COLCA'
 'HUAYUCACHI' 'TARMA' 'JUNÍN' 'ACOBAMBA' 'OROYA' 'CARHUAMAYO'
 'CHANCHAMAYO' 'VITOC' 'CHACAPALCA' 'YAULI']
35

In [19]:
# Pregunta 6: Crear columnas con las siguiente información: 
    # a. % de mujeres que no escriben ni leen, 
    # b. % de varones que no escriben ni leen,
    # c. % de nativos respecto al total de la población.
junin['Total_poblacion']=junin['peruvian_men']+junin['peruvian_women']+junin['foreign_men']+junin['foreign_women']

In [20]:
    #a. 
junin['%_women_nread_nwrite'] = junin['mujerxlee'] * 100 / junin['totalxlee']

In [21]:
    #b.
junin['%_men_nread_nwrite'] = junin['homxlee'] * 100 / junin['totalxlee']

In [22]:
    #c.
junin['%_natives'] = junin['natives'] * 100 / junin['Total_poblacion']

In [23]:
junin.head(3)

,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite,%_men_nread_nwrite,%_natives
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,158,74.0,...,1.0,1.0,4.0,284.0,290.0,1,579.0,41.210375,58.789625,49.050086
1,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,30,0.0,...,0.0,0.0,0.0,100.0,0.0,0,100.0,71.428571,28.571429,100.000000
2,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,25,0.0,...,0.0,0.0,0.0,69.0,3.0,0,72.0,53.191489,46.808511,95.833333

In [24]:
# Pregunta 7: Crear una base de datos con la siguiente información:
# a. Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción
junin1 = junin[junin["District"].isin(["CIUDAD DEL CERRO","JAUJA","ACOLLA","SAN GERÓNIMO",
                                      "TARMA","OROYA","CONCEPCIÓN"])]
junin1

,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite,%_men_nread_nwrite,%_natives
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,158,74.0,...,1.0,1.0,4.0,284.0,290.0,1,579.0,41.210375,58.789625,49.050086
1,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,30,0.0,...,0.0,0.0,0.0,100.0,0.0,0,100.0,71.428571,28.571429,100.000000
2,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,25,0.0,...,0.0,0.0,0.0,69.0,3.0,0,72.0,53.191489,46.808511,95.833333
3,CIUDAD DEL CERRO,RANCA,0,6,6,25.0,19,44,25,0.0,...,0.0,0.0,0.0,25.0,25.0,0,50.0,100.000000,0.000000,50.000000
4,CIUDAD DEL CERRO,PASCO,4,4,8,21.0,21,42,3,0.0,...,0.0,0.0,0.0,37.0,13.0,0,50.0,53.191489,46.808511,74.000000
5,CIUDAD DEL CERRO,NaN,6,7,13,44.0,43,87,13,4.0,...,0.0,0.0,0.0,65.0,35.0,0,100.0,55.421687,44.578313,65.000000
6,CIUDAD DEL CERRO,CAJAMARQUILLA,9,8,17,31.0,39,70,0,0.0,...,0.0,0.0,0.0,87.0,0.0,0,87.0,54.022989,45.977011,100.000000
7,CIUDAD DEL CERRO,CAICO,18,23,41,90.0,77,167,34,22.0,...,0.0,0.0,4.0,175.0,29.0,0,208.0,51.315789,48.684211,84.134615
8,CIUDAD DEL CERRO,ROCO,7,4,11,42.0,19,61,0,2.0,...,0.0,0.0,0.0,70.0,NaN,0,72.0,30.000000,70.000000,97.222222
9,CIUDAD DEL CERRO,NaN,16,8,24,26.0,25,51,1,0.0,...,0.0,0.0,0.0,73.0,NaN,0,75.0,44.594595,55.405405,97.333333
10,CIUDAD DEL CERRO,P.QUINUA,8,6,14,17.0,19,36,0,0.0,...,0.0,0.0,0.0,50.0,0.0,0,50.0,50.000000,50.000000,100.000000
11,CIUDAD DEL CERRO,H.PARIAHUANCA,2,6,8,10.0,12,22,0,0.0,...,0.0,0.0,0.0,NaN,6.0,0,30.0,60.000000,40.000000,NaN
12,CIUDAD DEL CERRO,P.SULLUMARCA,12,14,26,38.0,32,70,0,0.0,...,0.0,0.0,0.0,96.0,0.0,0,96.0,47.916667,52.083333,100.000000
13,CIUDAD DEL CERRO,H.SAN ANDRÉS,8,0,8,17.0,25,42,3,0.0,...,0.0,0.0,0.0,44.0,6.0,0,NaN,53.191489,46.808511,NaN
47,JAUJA,P.JAUJA,69,71,140,375.0,327,702,265,181.0,...,0.0,0.0,63.0,117.0,662.0,0,842.0,54.797980,45.202020,13.895487
48,JAUJA,A.CHUNÁN,12,11,23,45.0,21,66,28,0.0,...,0.0,0.0,0.0,89.0,0.0,0,89.0,52.459016,47.540984,100.000000
49,JAUJA,C.PACAPACHA,1,7,8,24.0,18,42,17,0.0,...,0.0,NaN,0.0,50.0,0.0,0,NaN,75.757576,24.242424,NaN
50,JAUJA,HUANCAS,3,2,5,29.0,40,69,13,0.0,...,0.0,0.0,0.0,74.0,0.0,0,74.0,68.852459,31.147541,100.000000
51,JAUJA,A.HUERTAS,22,38,60,103.0,87,190,84,11.0,...,0.0,0.0,0.0,195.0,55.0,0,250.0,73.548387,26.451613,78.000000
52,JAUJA,PACA,1,4,5,84.0,52,136,75,0.0,...,0.0,0.0,6.0,141.0,0.0,0,141.0,84.848485,15.151515,100.000000
53,JAUJA,MASMA,27,15,42,148.0,139,287,90,7.0,...,0.0,0.0,0.0,294.0,29.0,0,329.0,63.362069,36.637931,89.361702
54,JAUJA,ATAURA,24,22,46,74.0,68,142,37,16.0,...,0.0,0.0,NaN,104.0,84.0,0,188.0,54.814815,45.185185,55.319149
55,JAUJA,HUALÁ,9,9,18,57.0,28,85,39,3.0,...,0.0,0.0,0.0,99.0,4.0,0,103.0,55.737705,44.262295,96.116505
56,JAUJA,JULCÁN,19,11,30,106.0,144,250,82,13.0,...,0.0,NaN,0.0,178.0,72.0,0,NaN,72.258065,27.741935,NaN
57,JAUJA,P.RICRÁN,36,21,57,98.0,93,191,42,2.0,...,0.0,0.0,0.0,240.0,8.0,0,248.0,54.901961,45.098039,96.774194
58,JAUJA,A.PAUCÁN,21,13,34,85.0,69,154,49,0.0,...,0.0,0.0,0.0,65.0,123.0,0,188.0,58.992806,41.007194,34.574468
74,ACOLLA,P.ACOLLA,45,38,83,160.0,117,277,66,17.0,...,0.0,0.0,0.0,333.0,27.0,0,360.0,53.198653,46.801347,92.500000
75,ACOLLA,MARCO,16,12,28,94.0,55,149,34,0.0,...,0.0,0.0,0.0,167.0,10.0,0,177.0,46.853147,53.146853,94.350282
76,ACOLLA,TRAGADERO,20,13,33,87.0,52,139,67,3.0,...,0.0,0.0,0.0,169.0,3.0,0,172.0,60.784314,39.215686,98.255814
77,ACOLLA,NaN,2,0,2,16.0,22,38,2,0.0,...,0.0,0.0,0.0,0.0,0.0,0,40.0,57.894737,42.105263,0.000000
78,ACOLLA,ACAYA,2,2,4,29.0,21,50,7,0.0,...,0.0,0.0,0.0,54.0,0.0,0,54.0,48.936170,51.063830,100.000000
79,ACOLLA,YAUJAILLO,11,2,13,13.0,4,17,3,0.0,...,0.0,0.0,0.0,30.0,0.0,0,30.0,22.222222,77.777778,100.000000
80,ACOLLA,CURICACA,8,3,11,25.0,10,35,18,0.0,...,0.0,0.0,0.0,46.0,0.0,0,46.0,46.428571,53.571429,100.000000
96,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178.0,164,342,82,39.0,...,0.0,0.0,0.0,141.0,282.0,0,423.0,55.629139,44.370861,33.333333
97,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95.0,93,188,54,7.0,...,0.0,0.0,0.0,183.0,65.0,0,248.0,63.101604,36.898396,73.790323
98,CONCEPCIÓN,HUANTAR,3,0,3,47.0,41,88,34,2.0,...,0.0,0.0,0.0,90.0,1.0,0,91.0,70.909091,29.090909,98.901099
99,CONCEPCIÓN,A.ALAYO,3,8,11,22.0,29,51,13,0.0,...,0.0,0.0,0.0,62.0,0.0,0,62.0,NaN,NaN,100.000000
100,CONCEPCIÓN,C.SAN ANTONIO DE CARICANCHO,10,8,18,68.0,46,114,28,0.0,...,0.0,0.0,0.0,0.0,0.0,0,132.0,51.923077,48.076923,0.000000
101,CONCEPCIÓN,SANTO DOMINGO,16,11,27,30.0,41,71,2,0.0,...,0.0,0.0,0.0,98.0,0.0,0,98.0,54.166667,45.833333,100.000000
121,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246.0,238,484,162,72.0,...,0.0,0.0,348.0,157.0,72.0,0,577.0,60.641399,39.358601,27.209705
122,SAN GERÓNIMO,HUALHUAS,20,20,40,92.0,90,182,40,1.0,...,0.0,0.0,222.0,0.0,0.0,0,222.0,60.220994,39.779006,0.000000
123,SAN GERÓNIMO,SAN PEDRO DE SAÑO,19,13,32,73.0,57,130,55,2.0,...,0.0,0.0,50.0,64.0,48.0,0,162.0,64.761905,35.238095,39.506173
124,SAN GERÓNIMO,QUICHUAY,13,19,32,62.0,56,118,31,3.0,...,0.0,0.0,59.0,26.0,65.0,0,150.0,62.068966,37.931034,17.333333
125,SAN GERÓNIMO,CASACANCHA,10,9,19,28.0,27,55,16,0.0,...,0.0,0.0,31.0,35.0,8.0,0,74.0,62.068966,37.931034,47.297297
126,SAN GERÓNIMO,A.INGENIO,18,6,24,77.0,75,152,45,3.0,...,0.0,0.0,57.0,72.0,47.0,0,176.0,60.937500,39.062500,40.909091
127,SAN GERÓNIMO,P.SANTA CRUZ DE QUILCAY,21,20,41,101.0,84,185,20,2.0,...,0.0,0.0,31.0,42.0,153.0,0,226.0,50.000000,50.000000,18.584071
128,SAN GERÓNIMO,RANGRA,7,1,8,26.0,12,38,15,0.0,...,0.0,0.0,13.0,33.0,0.0,0,46.0,41.935484,58.064516,71.739130
161,TARMA,P.TARMA,107,117,224,386.0,427,813,258,218.0,...,3.0,1.0,158.0,189.0,689.0,1,1037.0,58.110517,41.889483,18.225651
162,TARMA,MACO,28,12,40,72.0,52,124,36,0.0,...,0.0,0.0,0.0,164.0,0.0,0,164.0,50.000000,50.000000,100.000000
163,TARMA,MULLUERO,11,14,25,114.0,73,187,25,1.0,...,0.0,0.0,0.0,179.0,33.0,0,212.0,46.236559,53.763441,84.433962
164,TARMA,NaN,7,6,13,68.0,52,120,41,7.0,...,0.0,0.0,0.0,91.0,42.0,0,133.0,60.000000,40.000000,68.421053
165,TARMA,CHANCHA,17,20,37,122.0,77,199,28,0.0,...,0.0,0.0,0.0,228.0,8.0,0,236.0,46.634615,53.365385,96.610169
166,TARMA,TARMATAMBO,3,1,4,72.0,32,104,29,0.0,...,0.0,0.0,0.0,108.0,0.0,0,108.0,41.772152,58.227848,100.000000
181,OROYA,P.OROYA,11,9,20,41.0,35,76,19,25.0,...,0.0,0.0,15.0,28.0,53.0,0,96.0,36.538462,63.461538,29.166667
182,OROYA,HUAYNACANCHA,4,2,6,11.0,16,27,0,0.0,...,0.0,0.0,0.0,33.0,0.0,0,33.0,54.545455,45.454545,100.000000
183,OROYA,PACHA,2,4,6,7.0,3,10,0,0.0,...,0.0,0.0,0.0,16.0,0.0,0,16.0,43.750000,56.250000,100.000000
184,OROYA,HUAYHUAY,13,8,21,55.0,33,88,47,7.0,...,0.0,0.0,0.0,108.0,1.0,0,109.0,61.818182,38.181818,99.082569

In [25]:
# b. Quedarse con las comunidades que cuentan con nativos (implica > 0) y mestizos (implica > 0)
junin1=junin1[(junin1.natives > 0 ) & (junin1.mestizos > 0)] 
junin1.head(3)

,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite,%_men_nread_nwrite,%_natives
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,158,74.0,...,1.0,1.0,4.0,284.0,290.0,1,579.0,41.210375,58.789625,49.050086
2,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,25,0.0,...,0.0,0.0,0.0,69.0,3.0,0,72.0,53.191489,46.808511,95.833333
3,CIUDAD DEL CERRO,RANCA,0,6,6,25.0,19,44,25,0.0,...,0.0,0.0,0.0,25.0,25.0,0,50.0,100.000000,0.000000,50.000000

In [27]:
#c. Quedarse con las variables trabajadas en el punto 6), nombre de distrito y comunidad.
junin1 = junin1[['District','comunidad','%_women_nread_nwrite','%_men_nread_nwrite','Total_poblacion']]
junin1

,District,comunidad,%_women_nread_nwrite,%_men_nread_nwrite,Total_poblacion
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,41.210375,58.789625,579.0
2,CIUDAD DEL CERRO,VICO,53.191489,46.808511,72.0
3,CIUDAD DEL CERRO,RANCA,100.000000,0.000000,50.0
4,CIUDAD DEL CERRO,PASCO,53.191489,46.808511,50.0
5,CIUDAD DEL CERRO,NaN,55.421687,44.578313,100.0
7,CIUDAD DEL CERRO,CAICO,51.315789,48.684211,208.0
13,CIUDAD DEL CERRO,H.SAN ANDRÉS,53.191489,46.808511,NaN
47,JAUJA,P.JAUJA,54.797980,45.202020,842.0
51,JAUJA,A.HUERTAS,73.548387,26.451613,250.0
53,JAUJA,MASMA,63.362069,36.637931,329.0
54,JAUJA,ATAURA,54.814815,45.185185,188.0
55,JAUJA,HUALÁ,55.737705,44.262295,103.0
56,JAUJA,JULCÁN,72.258065,27.741935,NaN
57,JAUJA,P.RICRÁN,54.901961,45.098039,248.0
58,JAUJA,A.PAUCÁN,58.992806,41.007194,188.0
74,ACOLLA,P.ACOLLA,53.198653,46.801347,360.0
75,ACOLLA,MARCO,46.853147,53.146853,177.0
76,ACOLLA,TRAGADERO,60.784314,39.215686,172.0
96,CONCEPCIÓN,P.CONCEPCIÓN,55.629139,44.370861,423.0
97,CONCEPCIÓN,SANTA ROSA DE OCOPA,63.101604,36.898396,248.0
98,CONCEPCIÓN,HUANTAR,70.909091,29.090909,91.0
121,SAN GERÓNIMO,P.SAN GERÓNIMO,60.641399,39.358601,577.0
123,SAN GERÓNIMO,SAN PEDRO DE SAÑO,64.761905,35.238095,162.0
124,SAN GERÓNIMO,QUICHUAY,62.068966,37.931034,150.0
125,SAN GERÓNIMO,CASACANCHA,62.068966,37.931034,74.0
126,SAN GERÓNIMO,A.INGENIO,60.937500,39.062500,176.0
127,SAN GERÓNIMO,P.SANTA CRUZ DE QUILCAY,50.000000,50.000000,226.0
161,TARMA,P.TARMA,58.110517,41.889483,1037.0
163,TARMA,MULLUERO,46.236559,53.763441,212.0
164,TARMA,NaN,60.000000,40.000000,133.0
165,TARMA,CHANCHA,46.634615,53.365385,236.0
181,OROYA,P.OROYA,36.538462,63.461538,96.0
184,OROYA,HUAYHUAY,61.818182,38.181818,109.0

In [28]:
# d. Guardar la base de datos en formato csv en la carpeta data. Base_cleaned_WG(numero de grupo)
    #csv
junin1.to_csv("../../data/Base_cleaned_WG9.csv")
    #excel
junin1.to_excel("../../data/Base_cleaned_WG9.xlsx")