## TAREA 3_ GRUPO 10

In [12]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [13]:
junin_data = pd.read_excel("../data/Region_Junin.xlsx")

In [18]:
#Pregunta 1: Obtener el nombre de todas las variables
junin_data.head()

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297.0,171,468,...,209.0,544.0,361.0,216.0,1.0,1.0,4.0,284.0,290.0,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49.0,47,96,...,50.0,100.0,50.0,50.0,0.0,0.0,0.0,100.0,0.0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46.0,25,71,...,25.0,72.0,47.0,25.0,0.0,0.0,0.0,69.0,3.0,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25.0,19,44,...,25.0,50.0,25.0,25.0,0.0,0.0,0.0,25.0,25.0,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21.0,21,42,...,25.0,50.0,25.0,25.0,0.0,0.0,0.0,37.0,13.0,0

In [21]:
#Pregunta 2: Mostrar el tipo de variables (type) así como presentar los principales estadísticos.
junin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     186 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            196 non-null    float64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                193 non-null    float64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            196 non-null    float64
 16  man_write                 196 non-null    float64
 17  women_write               196 non-null    float64
 18  total_write               192 non-null    float64
 19  men_not_write             191 non-null    float64
 20  women_not_write           197 non-null    int64
 21  total_not_write           194 non-null    float64
 22  instruction_men           197 non-null    int64
 23  instruction_women         195 non-null    float64
 24  instruction_total         195 non-null    float64
 25  no_instruction_men        194 non-null    float64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        194 non-null    float64
 29  finished_instr_women      192 non-null    float64
 30  finished_instr_total      196 non-null    float64
 31  not_finished_instr_men    196 non-null    float64
 32  not_finished_instr_women  196 non-null    float64
 33  not_finished_instr_total  196 non-null    float64
 34  peruvian_men              196 non-null    float64
 35  peruvian_women            196 non-null    float64
 36  foreign_men               196 non-null    float64
 37  foreign_women             195 non-null    float64
 38  whites                    196 non-null    float64
 39  natives                   191 non-null    float64
 40  mestizos                  195 non-null    float64
 41  blacks                    197 non-null    int64
dtypes: float64(24), int64(15), object(3)
memory usage: 64.8+ KB

In [23]:
#Pregunta 3: Verifique si las columnas presentan valores faltantes
print(junin_data.isna().sum())

Unnamed: 0                   0
Region                       0
District                     0
Place                       11
4_6_years_men                0
4_6_years_women              0
4_6_years_total              0
6_14_years_men               1
6_14_years_women             0
6_14_years_total             0
man_read                     0
women_read                   4
total_read                   0
men_not_read                 0
women_not_read               0
total_not_read               1
man_write                    1
women_write                  1
total_write                  5
men_not_write                6
women_not_write              0
total_not_write              3
instruction_men              0
instruction_women            2
instruction_total            2
no_instruction_men           3
no_instruction_women         0
no_instruction_total         0
finished_instr_men           3
finished_instr_women         5
finished_instr_total         1
not_finished_instr_men       1
not_finished_instr_women     1
not_finished_instr_total     1
peruvian_men                 1
peruvian_women               1
foreign_men                  1
foreign_women                2
whites                       1
natives                      6
mestizos                     2
blacks                       0
dtype: int64

In [32]:
#Pregunta 4: Cambie el nombre de las siguientes variables
junin_data.rename(columns = {'Place':'comunidad', 'men_not_read':'homxlee', 'women_not_read':'mujerxlee', 'total_not_read':'totalxlee'}, inplace = True)

In [34]:
#Pregunta 5: Muestre los valores únicos de las siguientes variables ( comunidad , District)
print(junin_data.comunidad.unique())
print(junin_data.District.unique())

['C.CIUDAD DEL CERRO' 'P.YANACANCHA' 'VICO' 'RANCA' 'PASCO' nan
 'CAJAMARQUILLA' 'CAICO' 'ROCO' 'P.QUINUA' 'H.PARIAHUANCA' 'P.SULLUMARCA'
 'H.SAN ANDRÉS' 'P.HUALLAY' 'C.HUAYCHAO' 'COCHAMARCA' 'P.CHACAYÁN'
 'VILCABAMBA' 'CUCHES' 'CHANGO' 'MITO' 'ANTAPIRCA' 'P.CAYNA' 'A. COLPAS'
 'C.MASQUIN' 'P.YAMOR' 'TANGOR' 'QUIO' 'CAURY' 'CHUCCHUC' 'COQUIN'
 'A.YAPOC' 'P.YANAHUANCA' 'HUAYLACIRCA' 'HUARANTAMBO' 'ANDUCHACA' 'VILLO'
 'MICHIVILCA' 'PILLAO' 'YACÁN' 'TÁPUC' 'CHAUPIMARCA' 'P.OXAPAMPA'
 'P.JAUJA' 'A.CHUNÁN' 'C.PACAPACHA' 'HUANCAS' 'A.HUERTAS' 'PACA' 'MASMA'
 'ATAURA' 'HUALÁ' 'JULCÁN' 'P.RICRÁN' 'A.PAUCÁN' 'P.APATA' 'HUAMALÍ'
 'A.SAN LORENZO' 'PACUCHO' 'P.ORCOTUNA' 'A.VICSO' 'TISTES' 'P.HUARIPAMPA'
 'A.PARCO' 'PACCHA' 'CANCHAPUNCO' 'C.ULLUSCA' 'CANCHAS' 'P.MUQUIYAUYO'
 'MUQUI' 'P.ACOLLA' 'MARCO' 'TRAGADERO' 'ACAYA' 'YAUJAILLO' 'CURICACA'
 'C.LLACUARI' 'P.HUANCARÍ' 'C.CHALHUAS' 'ARAMACHAY' 'P.MITO' 'A.CHAMBARÁ'
 'C.QUICHA' 'HUACHAC' 'A.ACO' 'P.LLOCLLAPAMPA' 'VISCAS ESPERANZA'
 'CONCHAILLO' 'MATA-CHICO' 'MATA-GRANDE' 'P.CONCEPCIÓN'
 'SANTA ROSA DE OCOPA' 'HUANTAR' 'A.ALAYO' 'C.SAN ANTONIO DE CARICANCHO'
 'SANTO DOMINGO' 'P.CÓMAS' 'C.CHUPA' 'COCHAS' 'P.MATAHUASI' 'P.HUANCAYO'
 'CAJAS' 'P.CHUPACA' 'A.ISCOS' 'ANTAPAMPA' 'HUAUSCA GRANDE'
 'SAN JUAN DE TARPA' 'COPCA' 'HUAYAN' 'HUAMANCACA' 'PILCOMAYO' 'AHUAC'
 'ACAC' 'P.SAN GERÓNIMO' 'HUALHUAS' 'SAN PEDRO DE SAÑO' 'QUICHUAY'
 'CASACANCHA' 'A.INGENIO' 'P.SANTA CRUZ DE QUILCAY' 'RANGRA'
 'P.SAPALLANGA' 'A.LA PUNTA' 'P.PUCARÁ' 'C.PATALÁ' 'MARCAVALLE'
 'COCHARCAS' 'P.CHONGOS' 'C.TURPAC Y TINYARI' 'SOCOS' 'PUMPUNGA' 'CHUPURO'
 'CARHUAPACHA' 'A.HUAMANCACA' 'P.SICAYA' 'A.HUANCHAC' 'C.CACHICAMARCA'
 'P.COLCA' 'A.CHACAPAMPA' 'HUASICANCHA' 'CUCHO' 'CHILIAY' 'POTACA' 'LARIA'
 'CHONGOS ALTO' 'P.HUAYUCACHI' 'HUAMANMARCA' 'CACAS' 'HUARAPUQUIO'
 'CULLHUAS' 'RETAMA' 'PACHA' 'P.TARMA' 'MACO' 'MULLUERO' 'CHANCHA'
 'TARMATAMBO' 'P.JUNÍN' 'HUASAHUASY' 'PARI' 'YANEC' 'CHUPÁN' 'ACONCOCHA'
 'ONDORES' 'P.ACOBAMBA' 'PICOY' 'C.HUARACAYO' 'A.PALCA' 'C.HUAILAHUICHÁN'
 'P.PALCAMAYO' 'P.OROYA' 'HUAYNACANCHA' 'HUAYHUAY' 'P.CARHUAMAYO'
 'ULCUMAYO' 'P.SAN RAMÓN' 'P.VISCATÁN' 'PAN DE AZÚCAR' 'SUITUCANCHA'
 'CHACAPALCA' 'P.POMACOCHA' 'YAULI' 'MINAS DE MOROCOCHA']
['CIUDAD DEL CERRO' 'HUAYLLAY' 'CHACAYÁN' 'CAYNA' 'YANAHUANCA' 'NINACACA'
 'JAUJA' 'APATA' 'ORCOTUNA' 'HUARIPAMPA' 'MUQUIYAUYO' 'ACOLLA' 'CINCOS'
 'MITO' 'LLOCLLAPAMPA' 'CONCEPCIÓN' 'COCHAS' 'MATAHUASI' 'HUANCAYO'
 'CHUPACA' 'SAN GERÓNIMO' 'SAPALLANGA' 'CHONGOS' 'SICAYA' 'COLCA'
 'HUAYUCACHI' 'TARMA' 'JUNÍN' 'ACOBAMBA' 'OROYA' 'CARHUAMAYO'
 'CHANCHAMAYO' 'VITOC' 'CHACAPALCA' 'YAULI']

In [38]:
# pregunta 5: total de valores únicos
print (len(junin_data.comunidad.unique()))
print (len(junin_data.District.unique()))

183
35

In [50]:
junin_data['mujerxlee']

0      143
1       50
2       25
3       25
4       25
      ...
192      0
193      7
194      7
195     22
196     30
Name: mujerxlee, Length: 197, dtype: int64

In [56]:
# Pregunta 6: Crear columnas con las siguiente información: el % de mujeres del que no escriben
#ni leen (mujerxlee/totalxlee) % de varones que no escriben ni leen (homxlee/totalxlee) y % de 
#nativos respecto al total de la población. Para el total de la población sumar (peruvian_men +
#peruvian_women + foreign_men + foreign_women) 

mujerxlee /totalxlee = junin_data['% de mujeres del que no escriben ni leen']

SyntaxError: cannot assign to operator (2283918028.py, line 8)

In [40]:
junin_data.shape[0]

197

In [ ]:
np.arange(0, junin_data.shape[0
junin_data['% de mujeres del que no escriben ni leen'] = ['mujerxlee'] / ['totalxlee']