# WG6

### Merge Dataset (Python y R)

In [5]:
#Importo las librerias necesarias 
import os 
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

In [6]:
user = os.getlogin()

In [7]:
os.chdir(f"C:/Users/{user}/Documents/GitHub/My-scripts/Lab7") #fijar directorio

In [8]:
os.getcwd() #se comprueba cual es el directorio

'C:\\Users\\DELL\\Documents\\GitHub\\My-scripts\\Lab7'

In [9]:
#Importar las bases de datos a utilizar
#Primero, las bases del 2019
enaho01_2019 = pd.read_stata(r"../data_extra/enaho/2019/687-Modulo01/enaho01-2019-100.dta",
                           convert_categoricals=False) #Modulo 1
enaho01_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,nbi2,nbi3,nbi4,nbi5,codccpp,nomccpp,latitud,longitud,altura,factor07
0,2019,10,007060,005001,007,11,010101,4,4,1,...,0.0,0.0,0.0,0.0,0001,AA HH SANTO TORIBIO DE MOGROVEJO,-6.228422,-77.87709,2348,79.745071
1,2019,10,007060,005001,017,11,010101,4,4,1,...,0.0,0.0,0.0,0.0,0001,AA HH SANTO TORIBIO DE MOGROVEJO,-6.228422,-77.87709,2348,79.745071
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,0001,AA HH SANTO TORIBIO DE MOGROVEJO,-6.228422,-77.87709,2348,79.745071
3,2019,10,007060,005001,040,11,010101,4,4,1,...,0.0,1.0,0.0,0.0,0001,CIUDAD CHACHAPOYAS,-6.228422,-77.87709,2348,79.745071
4,2019,10,007060,005001,050,11,010101,4,4,1,...,0.0,0.0,0.0,0.0,0001,CIUDAD CHACHAPOYAS,-6.228422,-77.87709,2348,79.745071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43863,2019,12,043948,011350,022,11,180101,3,3,2,...,0.0,0.0,0.0,0.0,0023,ASOCIACION DE VIVIENDA BELLO AMANECER,-17.212933,-70.93914,1427,80.257660
43864,2019,12,043948,011350,059,11,180101,3,3,2,...,0.0,1.0,0.0,0.0,0023,ASOCIACION DE VIVIENDA LOS ROSALES 14 DE JUNIO,-17.212933,-70.93914,1427,80.257660
43865,2019,12,043948,011350,078,11,180101,3,3,2,...,0.0,1.0,0.0,0.0,0023,ASOCIACION DE VIVIENDA LOS ROSALES,-17.212933,-70.93914,1427,80.257660
43866,2019,12,043948,011350,097,11,180101,3,3,2,...,1.0,0.0,0.0,0.0,0023,ASOCIACION DE VIVIENDA BELLO AMANECER,-17.212933,-70.93914,1427,80.257660
43867,2019,12,043948,011350,116,11,180101,3,3,2,...,0.0,0.0,0.0,0.0,0023,ASOCIACION DE VIVIENDA BELLO AMANECER,-17.212933,-70.93914,1427,80.257660

In [10]:
enaho34_2019 = pd.read_stata(r"../data_extra/enaho/2019/687-Modulo34/sumaria-2019.dta",
                           convert_categoricals=False) #Modulo 34
enaho34_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,percepho,...,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,factor07
0,2019,01,007076,005009,041,11,010101,4,4,2,...,22231.878906,23015.384766,23149.517578,22366.013672,5,0.815806,171.688263,302.621338,3,94.218208
1,2019,01,007076,005009,056,11,010101,4,4,3,...,15891.502930,16446.982422,16698.673828,16102.574219,5,0.815806,171.688263,302.621338,3,94.218208
2,2019,01,007076,005009,084,11,010101,4,4,1,...,16096.603516,16096.603516,16407.246094,16407.246094,5,0.815806,171.688263,302.621338,3,94.218208
3,2019,01,007076,005009,098,11,010101,4,4,3,...,23300.148438,23588.042969,23652.033203,23364.138672,5,0.815806,171.688263,302.621338,3,94.218208
4,2019,01,007089,005015,018,11,010101,4,4,3,...,44742.539062,44951.917969,45412.714844,45203.335938,4,0.815806,171.688263,302.621338,3,71.583305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34560,2019,12,043948,011350,022,11,180101,3,3,2,...,36245.558594,36245.558594,37693.914062,37693.914062,5,0.854033,174.192673,345.210449,3,80.257660
34561,2019,12,043948,011350,059,11,180101,3,3,2,...,23393.140625,22892.896484,23570.281250,23070.037109,5,0.854033,174.192673,345.210449,3,80.257660
34562,2019,12,043948,011350,078,11,180101,3,3,1,...,17501.556641,19399.974609,19563.822266,17665.404297,5,0.854033,174.192673,345.210449,3,80.257660
34563,2019,12,043948,011350,097,11,180101,3,3,1,...,19168.097656,19168.097656,19194.562500,19194.562500,5,0.854033,174.192673,345.210449,2,80.257660
34564,2019,12,043948,011350,116,11,180101,3,3,2,...,20189.916016,20189.916016,20285.361328,20285.361328,5,0.854033,174.192673,345.210449,3,80.257660

In [11]:
#Luego las bases del 2020
enaho01_2020 = pd.read_stata(r"../data_extra/enaho/2020/737-Modulo01/enaho01-2020-100.dta",
                           convert_categoricals=False) #Modulo 1
enaho01_2020

,aÑo,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,factor07,factor_p,rechazo_razones,nconglome,sub_conglome,codccpp,nomccpp,longitud,latitud,altitud
0,2020,01,005009,012,11,010101,4,4,1,3,...,149.202744,186.594391,NaN,007076,00,0001,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
1,2020,01,005009,041,11,010101,4,4,1,3,...,149.202744,186.594391,NaN,007076,00,0001,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
2,2020,01,005009,056,11,010101,4,4,1,3,...,149.202744,186.594391,NaN,007076,00,0001,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
3,2020,01,005009,084,11,010101,4,4,1,3,...,149.202744,186.594391,NaN,007076,00,0001,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
4,2020,01,005009,098,11,010101,4,4,1,3,...,149.202744,186.594391,NaN,007076,00,0001,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53418,2020,12,020305,052,11,250301,7,4,2,1,...,275.828552,379.820038,NaN,015122,00,0001,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292
53419,2020,12,020305,073,11,250301,7,4,2,1,...,275.828552,379.820038,NaN,015122,00,0001,JUNTA VECINAL PALMERAS,-75.513435,-9.041584,292
53420,2020,12,020305,094,11,250301,7,4,2,1,...,275.828552,379.820038,NaN,015122,00,0001,AGUAYTIA,-75.513435,-9.041584,292
53421,2020,12,020305,116,11,250301,7,4,2,1,...,275.828552,379.820038,NaN,015122,00,0001,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292
53422,2020,12,020305,137,11,250301,7,4,2,1,...,275.828552,379.820038,NaN,015122,00,0001,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292

In [12]:
enaho34_2020 = pd.read_stata(r"../data_extra/enaho/2020/737-Modulo34/sumaria-2020.dta",
                           convert_categoricals=False) #Modulo 34
enaho34_2020

,aÑo,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,linea,pobreza,tipocuestionario,tipoentrevista,factor07,nconglome,sub_conglome,lineav_rpl,lineav,pobrezav
0,2020,01,005009,012,11,010101,4,4,2,2,...,303.520996,3,0,1,149.202744,007076,00,657,560.468506,4
1,2020,01,005009,041,11,010101,4,4,2,2,...,303.520996,3,0,1,149.202744,007076,00,657,553.731506,4
2,2020,01,005009,098,11,010101,4,4,6,6,...,303.520996,3,0,1,149.202744,007076,00,657,547.194031,3
3,2020,01,005015,007,11,010101,4,4,4,4,...,303.520996,3,0,1,70.492592,007089,00,657,556.025330,4
4,2020,01,005015,019,11,010101,4,4,4,4,...,303.520996,3,0,1,70.492592,007089,00,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,020305,031,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,015122,00,657,641.312134,4
34486,2020,12,020305,052,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,015122,00,657,642.814026,4
34487,2020,12,020305,073,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,015122,00,657,641.782898,4
34488,2020,12,020305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,015122,00,657,643.160034,3
34489,2020,12,020305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,015122,00,657,639.233521,3

In [13]:
#Por último, la base de los delfactores
base_deflactor = pd.read_stata(r"../data_extra/enaho/2020/737-Modulo34/ConstVarGasto-Metodologia actualizada/Gasto2020/Bases/deflactores_base2020_new.dta",
                           convert_categoricals=False)
base_deflactor

,dpto,i00,i01,i02,i03,i04,i05,i06,i07,i08,aniorec
0,1.0,0.607886,0.530247,0.825380,0.588432,0.681404,0.552812,0.826531,0.803647,0.741648,2001.0
1,2.0,0.565700,0.509936,0.725376,0.443187,0.707493,0.638795,0.732794,0.705312,0.726457,2001.0
2,3.0,0.636805,0.574950,0.795341,0.646439,0.693671,0.708423,0.746142,0.719313,0.782393,2001.0
3,4.0,0.532813,0.487081,0.823422,0.498392,0.532523,0.782752,0.546386,0.563891,0.709164,2001.0
4,5.0,0.571589,0.544547,0.707839,0.489902,0.680501,0.637978,0.595529,0.615092,0.693569,2001.0
...,...,...,...,...,...,...,...,...,...,...,...
475,21.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.0
476,22.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.0
477,23.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.0
478,24.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.0
479,25.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.0

In [14]:
#Merge de las bases del año 2019, a través de las variables identificadoras de conglome, vivienda y hogar. Asimismo, se realiza el merge entre las variables que tengan match o no, asi tendremos todas las variables y observaciones de ambas bases.
#Como se repiten algunas variables en ambas bases, se indica que aquellas de la segunda base tengan un sufijo _y
enaho_merge_2019 = pd.merge(enaho01_2019, enaho34_2019, 
                         on = ["conglome", "vivienda", "hogar"],
                       how = "outer", 
                       validate = "1:1", suffixes=('', '_y'))
enaho_merge_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,factor07_y
0,2019,10,007060,005001,007,11,010101,4,4,1,...,30734.941406,30734.941406,31502.792969,31502.792969,5.0,0.815806,171.688263,302.621338,3.0,79.745071
1,2019,10,007060,005001,017,11,010101,4,4,1,...,23742.312500,24262.652344,24828.269531,24307.929688,5.0,0.815806,171.688263,302.621338,3.0,79.745071
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,10,007060,005001,040,11,010101,4,4,1,...,19335.648438,30210.748047,30449.076172,19573.978516,5.0,0.815806,171.688263,302.621338,3.0,79.745071
4,2019,10,007060,005001,050,11,010101,4,4,1,...,42133.832031,42133.832031,43146.253906,43146.253906,5.0,0.815806,171.688263,302.621338,3.0,79.745071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43863,2019,12,043948,011350,022,11,180101,3,3,2,...,36245.558594,36245.558594,37693.914062,37693.914062,5.0,0.854033,174.192673,345.210449,3.0,80.257660
43864,2019,12,043948,011350,059,11,180101,3,3,2,...,23393.140625,22892.896484,23570.281250,23070.037109,5.0,0.854033,174.192673,345.210449,3.0,80.257660
43865,2019,12,043948,011350,078,11,180101,3,3,2,...,17501.556641,19399.974609,19563.822266,17665.404297,5.0,0.854033,174.192673,345.210449,3.0,80.257660
43866,2019,12,043948,011350,097,11,180101,3,3,2,...,19168.097656,19168.097656,19194.562500,19194.562500,5.0,0.854033,174.192673,345.210449,2.0,80.257660
43867,2019,12,043948,011350,116,11,180101,3,3,2,...,20189.916016,20189.916016,20285.361328,20285.361328,5.0,0.854033,174.192673,345.210449,3.0,80.257660

In [15]:
#Elimino aquellas variables que tengan el sufijo _y de mi base 2019
index_columns = np.where( enaho_merge_2019.columns.str.contains('_y$', regex=True))[0]

enaho_merge_2019.drop(enaho_merge_2019.columns[index_columns], axis = 1, inplace = True)
enaho_merge_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,gashog23,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza
0,2019,10,007060,005001,007,11,010101,4,4,1,...,30734.941406,30734.941406,30734.941406,31502.792969,31502.792969,5.0,0.815806,171.688263,302.621338,3.0
1,2019,10,007060,005001,017,11,010101,4,4,1,...,24262.652344,23742.312500,24262.652344,24828.269531,24307.929688,5.0,0.815806,171.688263,302.621338,3.0
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,10,007060,005001,040,11,010101,4,4,1,...,30210.748047,19335.648438,30210.748047,30449.076172,19573.978516,5.0,0.815806,171.688263,302.621338,3.0
4,2019,10,007060,005001,050,11,010101,4,4,1,...,42133.832031,42133.832031,42133.832031,43146.253906,43146.253906,5.0,0.815806,171.688263,302.621338,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43863,2019,12,043948,011350,022,11,180101,3,3,2,...,36245.558594,36245.558594,36245.558594,37693.914062,37693.914062,5.0,0.854033,174.192673,345.210449,3.0
43864,2019,12,043948,011350,059,11,180101,3,3,2,...,23393.140625,23393.140625,22892.896484,23570.281250,23070.037109,5.0,0.854033,174.192673,345.210449,3.0
43865,2019,12,043948,011350,078,11,180101,3,3,2,...,19399.974609,17501.556641,19399.974609,19563.822266,17665.404297,5.0,0.854033,174.192673,345.210449,3.0
43866,2019,12,043948,011350,097,11,180101,3,3,2,...,19168.097656,19168.097656,19168.097656,19194.562500,19194.562500,5.0,0.854033,174.192673,345.210449,2.0
43867,2019,12,043948,011350,116,11,180101,3,3,2,...,20189.916016,20189.916016,20189.916016,20285.361328,20285.361328,5.0,0.854033,174.192673,345.210449,3.0

In [16]:
#Merge de las bases 2020. Se realiza el mismo merge que se hizo con la base 2019.
enaho_merge_2020 = pd.merge(enaho01_2020, enaho34_2020, 
                         on = ["conglome", "vivienda", "hogar"],
                       how = "outer", 
                       validate = "1:1", suffixes=('', '_y'))
enaho_merge_2020

,aÑo,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,linea,pobreza,tipocuestionario_y,tipoentrevista_y,factor07_y,nconglome_y,sub_conglome_y,lineav_rpl,lineav,pobrezav
0,2020,01,005009,012,11,010101,4,4,1,3,...,303.520996,3.0,0.0,1.0,149.202744,007076,00,657.0,560.468506,4.0
1,2020,01,005009,041,11,010101,4,4,1,3,...,303.520996,3.0,0.0,1.0,149.202744,007076,00,657.0,553.731506,4.0
2,2020,01,005009,056,11,010101,4,4,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,01,005009,084,11,010101,4,4,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,01,005009,098,11,010101,4,4,1,3,...,303.520996,3.0,0.0,1.0,149.202744,007076,00,657.0,547.194031,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53418,2020,12,020305,052,11,250301,7,4,2,1,...,335.352234,3.0,2.0,1.0,275.828552,015122,00,657.0,642.814026,4.0
53419,2020,12,020305,073,11,250301,7,4,2,1,...,335.352234,3.0,2.0,1.0,275.828552,015122,00,657.0,641.782898,4.0
53420,2020,12,020305,094,11,250301,7,4,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53421,2020,12,020305,116,11,250301,7,4,2,1,...,335.352234,3.0,2.0,1.0,275.828552,015122,00,657.0,643.160034,3.0
53422,2020,12,020305,137,11,250301,7,4,2,1,...,335.352234,3.0,2.0,1.0,275.828552,015122,00,657.0,639.233521,3.0

In [17]:
#Elimino aquellas variables o columnas con el sufijo _y
index_columns1 = np.where( enaho_merge_2020.columns.str.contains('_y$', regex=True))[0]

enaho_merge_2020.drop(enaho_merge_2020.columns[index_columns1], axis = 1, inplace = True)
enaho_merge_2020

,aÑo,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,lineav_rpl,lineav,pobrezav
0,2020,01,005009,012,11,010101,4,4,1,3,...,25065.796875,25065.796875,5.0,0.815806,172.961548,303.520996,3.0,657.0,560.468506,4.0
1,2020,01,005009,041,11,010101,4,4,1,3,...,28650.019531,28650.019531,5.0,0.815806,172.961548,303.520996,3.0,657.0,553.731506,4.0
2,2020,01,005009,056,11,010101,4,4,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,01,005009,084,11,010101,4,4,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,01,005009,098,11,010101,4,4,1,3,...,39180.941406,38136.218750,5.0,0.815806,172.961548,303.520996,3.0,657.0,547.194031,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53418,2020,12,020305,052,11,250301,7,4,2,1,...,10690.595703,10690.595703,5.0,0.924496,189.646835,335.352234,3.0,657.0,642.814026,4.0
53419,2020,12,020305,073,11,250301,7,4,2,1,...,11576.803711,11576.803711,5.0,0.924496,189.646835,335.352234,3.0,657.0,641.782898,4.0
53420,2020,12,020305,094,11,250301,7,4,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53421,2020,12,020305,116,11,250301,7,4,2,1,...,23779.029297,23779.029297,5.0,0.924496,189.646835,335.352234,3.0,657.0,643.160034,3.0
53422,2020,12,020305,137,11,250301,7,4,2,1,...,16872.869141,16872.869141,5.0,0.924496,189.646835,335.352234,3.0,657.0,639.233521,3.0

In [18]:
#Realizar el append de las bases del año 2019 primero y luego aparece la base 2020. Se coloca ignore_index = True para que no haya problemas con los indices de las observaciones.
merge_append = enaho_merge_2019.append(enaho_merge_2020, ignore_index = True)
merge_append

C:\Users\DELL\AppData\Local\Temp\ipykernel_7972\3809396889.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_append = enaho_merge_2019.append(enaho_merge_2020, ignore_index = True)

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,ingtpu071,ingtpu08,ingtpu081,ingtpu09,ingtpu091,inghog1d1,inghog2d1,lineav_rpl,lineav,pobrezav
0,2019,10,007060,005001,007,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,10,007060,005001,017,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,10,007060,005001,040,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,10,007060,005001,050,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020,12,015122,020305,052,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,0.0,11442.000000,11442.000000,657.0,642.814026,4.0
97287,2020,12,015122,020305,073,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,0.0,12083.000000,12083.000000,657.0,641.782898,4.0
97288,2020,12,015122,020305,094,11,250301,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97289,2020,12,015122,020305,116,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,0.0,21009.353516,21009.353516,657.0,643.160034,3.0
97290,2020,12,015122,020305,137,11,250301,7,4,2,...,0.0,0.0,0.0,762.0,762.0,19060.650391,19060.650391,657.0,639.233521,3.0

In [19]:
#Creo mi variable departamento, extrayendo los 2 primeros digitos de mi variable ubigeo. Esta variable nos servira para hacer el merge con la base del deflactor.
merge_append['departamento'] = merge_append['ubigeo'].str[:2]
merge_append

C:\Users\DELL\AppData\Local\Temp\ipykernel_7972\4019542872.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merge_append['departamento'] = merge_append['ubigeo'].str[:2]

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,ingtpu08,ingtpu081,ingtpu09,ingtpu091,inghog1d1,inghog2d1,lineav_rpl,lineav,pobrezav,departamento
0,2019,10,007060,005001,007,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
1,2019,10,007060,005001,017,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
3,2019,10,007060,005001,040,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
4,2019,10,007060,005001,050,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020,12,015122,020305,052,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,11442.000000,11442.000000,657.0,642.814026,4.0,25
97287,2020,12,015122,020305,073,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,12083.000000,12083.000000,657.0,641.782898,4.0,25
97288,2020,12,015122,020305,094,11,250301,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
97289,2020,12,015122,020305,116,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,21009.353516,21009.353516,657.0,643.160034,3.0,25
97290,2020,12,015122,020305,137,11,250301,7,4,2,...,0.0,0.0,762.0,762.0,19060.650391,19060.650391,657.0,639.233521,3.0,25

In [20]:
#Para poder hacer el merge entre las bases necesito que mis variables de enlace sean del mismo tipo, sino sale el error de querer realizar un match entre un objeto y un float. Para ello, paso mi variable departamento a tipo float
merge_append["departamento"] = merge_append["departamento"].astype ("float")
merge_append

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,ingtpu08,ingtpu081,ingtpu09,ingtpu091,inghog1d1,inghog2d1,lineav_rpl,lineav,pobrezav,departamento
0,2019,10,007060,005001,007,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2019,10,007060,005001,017,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2019,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2019,10,007060,005001,040,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2019,10,007060,005001,050,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020,12,015122,020305,052,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,11442.000000,11442.000000,657.0,642.814026,4.0,25.0
97287,2020,12,015122,020305,073,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,12083.000000,12083.000000,657.0,641.782898,4.0,25.0
97288,2020,12,015122,020305,094,11,250301,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0
97289,2020,12,015122,020305,116,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,21009.353516,21009.353516,657.0,643.160034,3.0,25.0
97290,2020,12,015122,020305,137,11,250301,7,4,2,...,0.0,0.0,762.0,762.0,19060.650391,19060.650391,657.0,639.233521,3.0,25.0

In [21]:
#También, paso la variable aÑo a tipo float para que coincida con la variable de la base del deflactor
merge_append["aÑo"] = merge_append["aÑo"].astype ("float")
merge_append

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,ingtpu08,ingtpu081,ingtpu09,ingtpu091,inghog1d1,inghog2d1,lineav_rpl,lineav,pobrezav,departamento
0,2019.0,10,007060,005001,007,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2019.0,10,007060,005001,017,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2019.0,10,007060,005001,028,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2019.0,10,007060,005001,040,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2019.0,10,007060,005001,050,11,010101,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020.0,12,015122,020305,052,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,11442.000000,11442.000000,657.0,642.814026,4.0,25.0
97287,2020.0,12,015122,020305,073,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,12083.000000,12083.000000,657.0,641.782898,4.0,25.0
97288,2020.0,12,015122,020305,094,11,250301,7,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0
97289,2020.0,12,015122,020305,116,11,250301,7,4,2,...,0.0,0.0,0.0,0.0,21009.353516,21009.353516,657.0,643.160034,3.0,25.0
97290,2020.0,12,015122,020305,137,11,250301,7,4,2,...,0.0,0.0,762.0,762.0,19060.650391,19060.650391,657.0,639.233521,3.0,25.0

In [23]:
#Merge entre la base que contiene mis datos del año 2019 y 2020 con la base de los deflactores, en este caso, un merge entre bases con distintos nombres de variables.
#En la primera base las variables son departamento y aÑo; mientras que en la segunda, dpto y aniorec
#Por otro lado, el tipo de merge es m:1, ya que nuestra base principal es la de la izquierda que contiene las observaciones. 
base_enaho = pd.merge(merge_append, base_deflactor, 
                         left_on = ["departamento", "aÑo"],
                         right_on = ["dpto","aniorec"],
                       how = "left", 
                       validate = "m:1") 
base_enaho

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,...,i00,i01,i02,i03,i04,i05,i06,i07,i08,aniorec
0,2019.0,10,007060,005001,007,11,010101,4,4,1,...,0.982802,0.961824,1.007068,0.988996,0.993981,0.996161,1.03648,1.011901,0.995908,2019.0
1,2019.0,10,007060,005001,017,11,010101,4,4,1,...,0.982802,0.961824,1.007068,0.988996,0.993981,0.996161,1.03648,1.011901,0.995908,2019.0
2,2019.0,10,007060,005001,028,11,010101,4,4,1,...,0.982802,0.961824,1.007068,0.988996,0.993981,0.996161,1.03648,1.011901,0.995908,2019.0
3,2019.0,10,007060,005001,040,11,010101,4,4,1,...,0.982802,0.961824,1.007068,0.988996,0.993981,0.996161,1.03648,1.011901,0.995908,2019.0
4,2019.0,10,007060,005001,050,11,010101,4,4,1,...,0.982802,0.961824,1.007068,0.988996,0.993981,0.996161,1.03648,1.011901,0.995908,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020.0,12,015122,020305,052,11,250301,7,4,2,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2020.0
97287,2020.0,12,015122,020305,073,11,250301,7,4,2,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2020.0
97288,2020.0,12,015122,020305,094,11,250301,7,4,2,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2020.0
97289,2020.0,12,015122,020305,116,11,250301,7,4,2,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2020.0
97290,2020.0,12,015122,020305,137,11,250301,7,4,2,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,2020.0

In [24]:
#Dividir las variables de ingreso y gasto por mieperho, 12, ld e i00
#Primero, las variables de ingreso
base_enaho['ing_mieperho'] = base_enaho['inghog1d'] / base_enaho['mieperho'] #ingreso bruto anual del hogar entre numero de miembros del hogar
base_enaho['ing_mensual'] = base_enaho['inghog1d'] / 12 #ingreso bruto anual del hogar entre 12
base_enaho['ing_ld'] = base_enaho['inghog1d'] / base_enaho['ld'] #ingreso bruto anual del hogar entre el deflactor espacial
base_enaho['ing_deftemp'] = base_enaho['inghog1d'] / base_enaho['i00'] #ingreso bruto anual del hogar entre el deflactor temporal

In [25]:
#Por último, las variables de gasto
base_enaho['gas_mieperho'] = base_enaho['gashog2d'] / base_enaho['mieperho'] #gasto bruto anual del hogar entre miembros del hogar
base_enaho['gas_mensual'] = base_enaho['gashog2d'] / 12 #gasto bruto anual del hogar entre 12
base_enaho['gas_ld'] = base_enaho['gashog2d'] / base_enaho['ld'] #gasto bruto anual del hogar entre el deflactor espacial
base_enaho['gas_deftemp'] = base_enaho['gashog2d'] / base_enaho['i00'] #gasto bruto anual del hogar entre el delfactor temporal

In [27]:
base_enaho[['aÑo','departamento','inghog1d','gashog2d','ing_mieperho','ing_mensual','ing_ld','ing_deftemp','gas_mieperho','gas_mensual','gas_ld','gas_deftemp']]

,aÑo,departamento,inghog1d,gashog2d,ing_mieperho,ing_mensual,ing_ld,ing_deftemp,gas_mieperho,gas_mensual,gas_ld,gas_deftemp
0,2019.0,1.0,36268.609375,31502.792969,9067.152344,3022.384115,44457.383296,36903.263875,7875.698242,2625.232747,38615.534647,32054.051748
1,2019.0,1.0,29571.716797,24307.929688,4928.619466,2464.309733,36248.457578,30089.184201,4051.321615,2025.660807,29796.205751,24733.287517
2,2019.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.0,1.0,30884.748047,19573.978516,7721.187012,2573.729004,37857.946736,31425.191826,4893.494629,1631.164876,23993.416910,19916.498225
4,2019.0,1.0,56722.804688,43146.253906,14180.701172,4726.900391,69529.753499,57715.381570,10786.563477,3595.521159,52887.871378,43901.258431
...,...,...,...,...,...,...,...,...,...,...,...,...
97286,2020.0,25.0,11442.000000,10690.595703,11442.000000,953.500000,12376.473301,11442.000000,10690.595703,890.882975,11563.701477,10690.595703
97287,2020.0,25.0,12847.000000,11576.803711,12847.000000,1070.583333,13896.220285,12847.000000,11576.803711,964.733643,12522.286492,11576.803711
97288,2020.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97289,2020.0,25.0,21009.353516,23779.029297,5252.338379,1750.779460,22725.196895,21009.353516,5944.757324,1981.585775,25721.073346,23779.029297
97290,2020.0,25.0,19822.650391,16872.869141,4955.662598,1651.887533,21441.575190,19822.650391,4218.217285,1406.072428,18250.883975,16872.869141

In [11]:
######RESOLUCIÓN DEL EJERCICIO 2#######
#Importamos lo necesario para realizar el ejercicio
from tqdm import tqdm

In [12]:
#Realizamos los siguientes 3 pasos para importar la data de ENAHO 2020, módulo 5 de empleo 
#Paso 1
user = os.getlogin()

In [13]:
#Paso 2
os.chdir(f"C:/Users/{user}/Documents/GitHub/Quispe_Angie_Rep") #fijar directorio

In [15]:
os.getcwd() #se comprueba cual es el directorio

'C:\\Users\\MSI\\Documents\\GitHub\\Quispe_Angie_Rep'

In [18]:
#Paso 3
#Se importa la base de datos 2020, modulo 5 empleo 
enaho01_2020 = pd.read_stata(r"../data/enaho01a-2020-500.dta",
                          convert_categoricals=False)

#Comprobaos
enaho01_2020

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,codinfor,...,ocu500,ocupinf,emplpsec,fac500a,fac500_p,ticuest01a,tipocuestionario,tipoentrevista,nconglome,sub_conglome
0,2020,01,005009,012,11,01,010101,4,4,01,...,1,2.0,NaN,109.029137,153.650513,2,0,1,007076,00
1,2020,01,005009,012,11,02,010101,4,4,01,...,1,1.0,1.0,181.484161,184.611099,2,0,1,007076,00
2,2020,01,005009,041,11,01,010101,4,4,01,...,1,1.0,1.0,103.218079,153.650513,2,0,1,007076,00
3,2020,01,005009,041,11,02,010101,4,4,02,...,1,1.0,2.0,153.179947,234.997849,2,0,1,007076,00
4,2020,01,005009,098,11,01,010101,4,4,01,...,4,NaN,NaN,123.571358,176.217346,2,0,1,007076,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91310,2020,12,020305,073,11,01,250301,7,4,01,...,1,1.0,1.0,389.946991,528.807373,2,2,1,015122,00
91311,2020,12,020305,116,11,01,250301,7,4,01,...,1,1.0,1.0,334.276123,423.865906,2,2,1,015122,00
91312,2020,12,020305,116,11,02,250301,7,4,02,...,4,NaN,NaN,245.805115,393.312439,2,2,1,015122,00
91313,2020,12,020305,137,11,01,250301,7,4,01,...,1,1.0,1.0,346.518066,528.807373,2,2,1,015122,00
91314,2020,12,020305,137,11,02,250301,7,4,02,...,1,1.0,2.0,326.873810,395.234772,2,2,1,015122,00

In [47]:
#Creamos un data frame
enaho01_2020 = enaho01_2020.copy()

In [48]:
#Aplicamos el siguiente código para que la data reconozca los labels 
labels01 = pd.read_stata(r"../data/enaho01a-2020-500.dta",
                           convert_categoricals=False, iterator=True)

labels01.variable_labels()

{'aÑo': 'año de la encuesta',
 'mes': 'mes de ejecución de la encuesta',
 'conglome': 'número de conglomerado',
 'vivienda': 'número de selección de vivienda',
 'hogar': 'número secuencial del hogar',
 'codperso': 'número de orden de la persona',
 'ubigeo': 'ubicación geográfica',
 'dominio': 'dominio geográfico',
 'estrato': 'estrato geográfico',
 'codinfor': 'código de informante',
 'p500a': 'inicio de período de referencia - día',
 'p500b': 'inicio de período de referencia - mes',
 'p500b1': 'inicio de período de referencia - año',
 'p500c': 'fin de período de referencia - día',
 'p500d': 'fin de período de referencia - mes',
 'p500d1': 'fin de período de referencia - año',
 'p500n': 'código de la persona',
 'p500i': 'código de informante del capítulo 500',
 'p501': 'la semana pasada, del ... al ..., ¿tuvo ud. algún trabajo? (sin contar los queha',
 'p502': 'aunque no trabajó la semana pasada, ¿tiene algún empleo fijo al que próximamente',
 'p503': 'aunque no trabajó la semana pasada, ¿tiene algún negocio propio al que próximame',
 'p504': 'indicador de omisión de la pregunta 504',
 'p5041': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5042': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5043': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5044': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5045': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5046': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5047': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5048': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5049': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p50410': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p50411': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p504a': 'la semana del domingo 08 al sábado 14 de marzo (semana anterior al estado de eme',
 'p504b': '¿cuál fue la razón principal por la que ud. no trabajó la semana pasada?',
 'p505': '¿cuál es la ocupación principal que desempeño? (revisión ciou-88)',
 'p505r4': '¿cuál es la ocupación principal que desempeño? (revisión cno-2015)',
 'p505b': '¿qué tareas realizó en su ocupación principal?',
 'p506': '¿a qué se dedica el negocio, organismo o empresa en la que trabajó en su ocupaci',
 'p506r4': '¿a qué se dedica el negocio, organismo o empresa en la que trabajo en su ocupaci',
 'p507': 'ud. se desempeño en su ocupación principal o negocio como:',
 'p508': '¿le ayudaron personas de su familia sin recibir una remuneración fija?',
 'p509': '¿tenía ud. trabajadores remunerados a su cargo?',
 'p510': 'en su ocupación principal, ¿ud. trabajó para:',
 'p510a1': 'el negocio o empresa donde trabaja, ¿se encuentra registrado en la sunat, como:',
 'p510b': 'el negocio o empresa donde trabaja, ¿lleva las cuentas por medio de libros(ingre',
 'p5111': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: sueldo?',
 'p5112': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: salario?',
 'p5113': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: comisión',
 'p5114': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: destajo?',
 'p5115': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: subvenci',
 'p5116': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: honorari',
 'p5117': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: ingreso ',
 'p5118': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: ingreso ',
 'p5119': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: propina?',
 'p51110': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: en espec',
 'p51111': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: otro?',
 'p51112': '¿el tipo de pago o ingreso que ud. recibe en su ocupación principal es: no recib',
 'p511a': 'bajo qué tipo de contrato',
 'p512a': 'en su trabajo, negocio o empresa, incluyéndose ud., ¿laboraron:',
 'p512b': 'número de personas',
 'p513': 'indicador de omisión de la pregunta 513',
 'p513a': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: domi',
 'p513b': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: lune',
 'p513c': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: mart',
 'p513d': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: miér',
 'p513e': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: juev',
 'p513f': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: vier',
 'p513g': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: sába',
 'p513t': '¿cuántas horas trabajó la semana pasada, en su ocupación principal, el día: tota',
 'p513a1': '¿cuánto tiempo trabaja ud., en esta ocupación principal? - años',
 'p513a2': '¿cuánto tiempo trabaja ud., en esta ocupación principal? - meses',
 'p514': '¿además de su ocupación principal la semana pasada, ¿tuvo ud. otro trabajo para ',
 'p5151': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5152': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5153': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5154': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5155': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5156': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5157': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5158': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p5159': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p51510': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p51511': 'la semana pasada, ¿realizó alguna actividad al menos una hora para obtener ingre',
 'p516': '¿a qué se dedica el negocio, organismo o empresa en la que trabajó en su ocupaci',
 'p516r4': '¿a qué se dedica el negocio, organismo o empresa en la que trabajó en su ocupaci',
 'p517': '¿ud. se desempeñó en su ocupación secundaria o negocio como:',
 'p517a': 'en su ocupación secundaria, ¿ud. trabajó para:',
 'p517b1': 'el negocio o empresa donde trabaja, ¿se encuentra registrado en la sunat, como:',
 'p517c': 'el negocio o empresa donde trabaja, ¿lleva las cuentas por medio de libros (ingr',
 'p517d1': 'en su trabajo, negocio o empresa, incluyéndose ud. ¿laboraron:',
 'p517d2': 'número de personas',
 'p518': '¿cuántas horas trabajó la semana pasada en su(s) ocupación(es) secundaria(s)?',
 'p519': 'en total ud. trabajó ... horas la semana pasada. ¿normalmente trabaja esas horas',
 'p520': 'normalmente, ¿cuántas horas trabaja a la semana en todas sus ocupaciones?',
 'p520a': '¿la razón por la que ud. no trabajó el número normal de horas la semana pasada f',
 'p521': 'la semana pasada, ¿quería trabajar más horas de las que normalmente trabaja?',
 'p521a': 'la semana pasada, ¿estuvo disponible para trabajar más horas?',
 'p521b': '¿cuantas horas más hubiera trabajado la semana pasada?',
 'p521b1': '¿cuantas horas mas hubiera trabajado la semana pasada? - no sabe',
 'p521c': '¿desea ud. otro trabajo y ha hecho algo por cambiar su trabajo actual?',
 'p521d': '¿ha buscado otro trabajo:',
 'p522a': 'la semana pasada ¿ha realizado su trabajo?',
 'p522b': '¿por qué no pudo realizar ninguna labor?',
 'p522c': 'el pago que ud. recibió por su ocupación es:',
 'p523': 'en su ocupación principal, ¿a ud. le pagan:',
 'p524a1': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524a2': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524b1': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524b2': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524c1': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524c2': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524d1': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524d2': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524e1': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p524e2': '¿cuánto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras',
 'p528': 'en los últimos 12 meses, además del ingreso anterior ¿recibió alimentos, vestido',
 'p5291a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5291b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5291c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5292a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5292b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5292c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5293a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5293b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5293c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5294a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5294b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5294c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5295a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5295b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5295c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5296a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5296b': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p5296c': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p529t': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p529h': 'antes del 16 de marzo, ¿ud. trabajaba en una empresa o negocio como empleador o ',
 'p529i': 'sus ingresos o ganancia actual de su negocio/servicio en comparación con el mes ',
 'p529j': '¿por qué sus ingresos o ganancia han sido menor de lo habitual / o no ha tenido ',
 'p5297a': 'en su ocupación principal, ¿con qué frecuencia y en cuánto estimaría ud. el pago',
 'p530a': 'en la ocupación principal ¿cuál fue la ganancia neta en el mes anterior?',
 'p530b': 'en la ocupación principal ¿cuál fue la ganancia neta en el mes anterior? - no sa',
 'p535': 'de los bienes producidos por el hogar y/o de los productos adquiridos con fines ',
 'p536': '¿en cuánto estima ud. el valor de los productos utilizados para su consumo en el',
 'p5371': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5372': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5373': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5374': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5375': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5376': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5377': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5378': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p5379': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p53710': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p53711': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p53712': '¿el tipo de pago o ingreso que ud. recibe en su(s) ocupación(es) secundaria(s) e',
 'p538a1': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538a2': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538b1': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538b2': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538c1': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538c2': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538d1': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538d2': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538e1': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538e2': '¿cuánto fue su ingreso total en el mes anterior, incluyendo horas extras, bonifi',
 'p538a_1': 'en su(s) ocupacion(es) secundaria(s) ¿cuál fue su ingreso en el mes anterior? -m',
 'p538a_2': 'en su(s) ocupacion(es) secundaria(s) ¿cuál fue su ingreso en el mes anterior? -e',
 'p538a_3': 'en su(s) ocupacion(es) secundaria(s) ¿cuál fue su ingreso en el mes anterior? -n',
 'p539': 'en los últimos 12 meses, además del ingreso anterior, ¿recibió alimentos, vestid',
 'p5401a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5401b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5401c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5402a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5402b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5402c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5403a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5403b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5403c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5404a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5404b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5404c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5405a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5405b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5405c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5406a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5406b': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5406c': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p540t': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p5407a': 'en su ocupación secundaria, ¿con qué frecuencia y en cuánto estimaría ud. el pag',
 'p541a': 'en su(s) ocupación(es) secundaria(s) ¿cuál fue su ganancia neta en el mes el mes',
 'p541b': 'en su(s) ocupación(es) secundaria(s) ¿cuál fue su ganancia neta en el mes el mes',
 'p542': 'de los bienes producidos por el hogar y/o de los prodcutos adquiridos con fines ',
 'p543': '¿en cuanto estima ud. el valor de los productos utilizados para su consumo en el',
 'p5441a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: gratificación d',
 'p5441b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - gra',
 'p5442a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: gratificación d',
 'p5442b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - gra',
 'p5443a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: bonificación po',
 'p5443b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - bon',
 'p5444a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: bonificación po',
 'p5444b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - bon',
 'p5445a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: participación d',
 'p5445b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - par',
 'p5446a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: bonificación po',
 'p5446b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - bon',
 'p5447a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: compensación po',
 'p5447b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - com',
 'p5448a': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: otro ingreso po',
 'p5448b': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto s/. - otr',
 'p544t': 'en los últimos 12 meses, de ... a ... ¿recibió algún dinero por: monto total s/.',
 'p545': 'la semana pasada, ¿hizo algo para conseguir trabajo?',
 'p546': '¿qué estuvo haciendo la semana pasada:',
 'p547': 'la semana pasada, ¿quería ud. trabajar?',
 'p548': 'la semana pasada, ¿estuvo disponible para trabajar?',
 'p549': '¿por qué no buscó trabajo?',
 'p550_1': 'la semana pasada, ¿qué hizo para conseguir trabajo? empleador/patrono',
 'p550_2': 'la semana pasada, ¿qué hizo para conseguir trabajo? agencia de empleo /bolsa de ',
 'p550_3': 'la semana pasada, ¿qué hizo para conseguir trabajo? sólo amigos, parientes',
 'p550_4': 'la semana pasada, ¿qué hizo para conseguir trabajo? sólo leyó avisos',
 'p550_5': 'la semana pasada, ¿qué hizo para conseguir trabajo? búsqueda a través de interne',
 'p550_6': 'la semana pasada, ¿qué hizo para conseguir trabajo? otro',
 'p550_7': 'la semana pasada, ¿qué hizo para conseguir trabajo? no hizo nada para conseguir ',
 'p550_gi': 'código de la gestión más importante',
 'p551': '¿cuántas semanas ha estado buscando trabajo, sin interrupciones?',
 'p552': '¿ha trabajado antes?',
 'p554': '¿a qué se dedicaba el negocio, organismo o empresa en la que ud. trabajaba? (rev',
 'p554r4': '¿a qué se dedicaba el negocio, organismo o empresa en la que ud. trabajaba? (rev',
 'p555': '¿ud. se desempeñó en su trabajo anterior como:',
 'p5561a': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',
 'p5561b': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',
 'p5561c': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',
 'p5561d': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',
 'p5561e': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',
 'p5562a': 'en los últimos 6 meses, de ... a ... ¿recibió ud. ingresos por concepto de: pens',

In [38]:
#Ahora, pasamos a los cálculos para poder hallar los ingresos por horas
#Primero, el ingreso anual del principal y segundo empleo del trabajador dependiente son 
#i524e1 i538e1 respectivamente
ç
enaho01_2020["ingresos_suma"] = enaho01_2020["i524e1"]+ enaho01_2020["i538e1"]

In [39]:
enaho01_2020

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,codinfor,...,ocupinf,emplpsec,fac500a,fac500_p,ticuest01a,tipocuestionario,tipoentrevista,nconglome,sub_conglome,ingresos_suma
0,2020,01,005009,012,11,01,010101,4,4,01,...,2.0,NaN,109.029137,153.650513,2,0,1,007076,00,NaN
1,2020,01,005009,012,11,02,010101,4,4,01,...,1.0,1.0,181.484161,184.611099,2,0,1,007076,00,NaN
2,2020,01,005009,041,11,01,010101,4,4,01,...,1.0,1.0,103.218079,153.650513,2,0,1,007076,00,NaN
3,2020,01,005009,041,11,02,010101,4,4,02,...,1.0,2.0,153.179947,234.997849,2,0,1,007076,00,NaN
4,2020,01,005009,098,11,01,010101,4,4,01,...,NaN,NaN,123.571358,176.217346,2,0,1,007076,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91310,2020,12,020305,073,11,01,250301,7,4,01,...,1.0,1.0,389.946991,528.807373,2,2,1,015122,00,NaN
91311,2020,12,020305,116,11,01,250301,7,4,01,...,1.0,1.0,334.276123,423.865906,2,2,1,015122,00,NaN
91312,2020,12,020305,116,11,02,250301,7,4,02,...,NaN,NaN,245.805115,393.312439,2,2,1,015122,00,NaN
91313,2020,12,020305,137,11,01,250301,7,4,01,...,1.0,1.0,346.518066,528.807373,2,2,1,015122,00,NaN
91314,2020,12,020305,137,11,02,250301,7,4,02,...,1.0,2.0,326.873810,395.234772,2,2,1,015122,00,NaN

In [42]:
#Para los ingresos por hora, el dato anterior hallado "ingresos_ suma" lo dividimos por 
#la cantidad de horas trabajados en el principal y segundo empleo en la semana, i513t+ i518
#respectivamente
#Finalmente, se divide por 52, pues el año tiene 52 semanas.

enaho01_2020["ingresos_hora"] = (enaho01_2020["i524e1"]+ enaho01_2020["i538e1"])/((enaho01_2020["i513t"]+enaho01_2020["i518"])/52)

In [43]:
enaho01_2020

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,codinfor,...,emplpsec,fac500a,fac500_p,ticuest01a,tipocuestionario,tipoentrevista,nconglome,sub_conglome,ingresos_suma,ingresos_hora
0,2020,01,005009,012,11,01,010101,4,4,01,...,NaN,109.029137,153.650513,2,0,1,007076,00,NaN,NaN
1,2020,01,005009,012,11,02,010101,4,4,01,...,1.0,181.484161,184.611099,2,0,1,007076,00,NaN,NaN
2,2020,01,005009,041,11,01,010101,4,4,01,...,1.0,103.218079,153.650513,2,0,1,007076,00,NaN,NaN
3,2020,01,005009,041,11,02,010101,4,4,02,...,2.0,153.179947,234.997849,2,0,1,007076,00,NaN,NaN
4,2020,01,005009,098,11,01,010101,4,4,01,...,NaN,123.571358,176.217346,2,0,1,007076,00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91310,2020,12,020305,073,11,01,250301,7,4,01,...,1.0,389.946991,528.807373,2,2,1,015122,00,NaN,NaN
91311,2020,12,020305,116,11,01,250301,7,4,01,...,1.0,334.276123,423.865906,2,2,1,015122,00,NaN,NaN
91312,2020,12,020305,116,11,02,250301,7,4,02,...,NaN,245.805115,393.312439,2,2,1,015122,00,NaN,NaN
91313,2020,12,020305,137,11,01,250301,7,4,01,...,1.0,346.518066,528.807373,2,2,1,015122,00,NaN,NaN
91314,2020,12,020305,137,11,02,250301,7,4,02,...,2.0,326.873810,395.234772,2,2,1,015122,00,NaN,NaN

In [ ]:
#Como adicional, reemplazamos los missing values por cero.

df = enaho01_2020.copy()
df = df.fillna(0)
print(df)

## Groupby (Python y R)

In [34]:
enaho02_2019 = pd.read_stata(r"E:\LABURO\DAE\Demanda educativa\Base OCAI\Modulo 2 (Características de los hogares)/enaho01-2019-200.dta", convert_categoricals=False)
enaho02_2020 = pd.read_stata(r"E:\LABURO\DAE\Demanda educativa\Base OCAI\Modulo 2 (Características de los hogares)/enaho01-2020-200.dta", convert_categoricals=False)

In [35]:
enaho02_2020

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,p201p,...,rama_r4,codtarea,codtiempo,ticuest01,tipocuestionario,tipoentrevista,facpob07,factor_p,nconglome,sub_conglome
0,2020,01,005009,012,11,01,010101,4,4,20180050090121101,...,NaN,NaN,NaN,2,0,1,149.202744,186.594391,007076,00
1,2020,01,005009,012,11,02,010101,4,4,20180050090121102,...,5610.0,1.0,1.0,2,0,1,149.202744,186.594391,007076,00
2,2020,01,005009,041,11,01,010101,4,4,20180050090411101,...,NaN,NaN,NaN,2,0,1,149.202744,186.594391,007076,00
3,2020,01,005009,041,11,02,010101,4,4,20180050090411102,...,NaN,NaN,NaN,2,0,1,149.202744,186.594391,007076,00
4,2020,01,005009,041,11,03,010101,4,4,20200050090411103,...,NaN,NaN,NaN,2,0,1,149.202744,186.594391,007076,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126826,2020,12,020305,116,11,04,250301,7,4,20200203051161104,...,4721.0,1.0,1.0,2,2,1,275.828552,379.820038,015122,00
126827,2020,12,020305,137,11,01,250301,7,4,20200203051371101,...,NaN,NaN,NaN,2,2,1,275.828552,379.820038,015122,00
126828,2020,12,020305,137,11,02,250301,7,4,20200203051371102,...,NaN,NaN,NaN,2,2,1,275.828552,379.820038,015122,00
126829,2020,12,020305,137,11,03,250301,7,4,20200203051371103,...,NaN,NaN,NaN,2,2,1,275.828552,379.820038,015122,00
126830,2020,12,020305,137,11,04,250301,7,4,20200203051371104,...,NaN,NaN,NaN,2,2,1,275.828552,379.820038,015122,00

In [90]:
enaho34_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,ubigeo,dominio,estrato,percepho,...,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,factor07
0,2019,01,007076,005009,041,11,010101,4,4,2,...,22231.878906,23015.384766,23149.517578,22366.013672,5,0.815806,171.688263,302.621338,3,94.218208
1,2019,01,007076,005009,056,11,010101,4,4,3,...,15891.502930,16446.982422,16698.673828,16102.574219,5,0.815806,171.688263,302.621338,3,94.218208
2,2019,01,007076,005009,084,11,010101,4,4,1,...,16096.603516,16096.603516,16407.246094,16407.246094,5,0.815806,171.688263,302.621338,3,94.218208
3,2019,01,007076,005009,098,11,010101,4,4,3,...,23300.148438,23588.042969,23652.033203,23364.138672,5,0.815806,171.688263,302.621338,3,94.218208
4,2019,01,007089,005015,018,11,010101,4,4,3,...,44742.539062,44951.917969,45412.714844,45203.335938,4,0.815806,171.688263,302.621338,3,71.583305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34560,2019,12,043948,011350,022,11,180101,3,3,2,...,36245.558594,36245.558594,37693.914062,37693.914062,5,0.854033,174.192673,345.210449,3,80.257660
34561,2019,12,043948,011350,059,11,180101,3,3,2,...,23393.140625,22892.896484,23570.281250,23070.037109,5,0.854033,174.192673,345.210449,3,80.257660
34562,2019,12,043948,011350,078,11,180101,3,3,1,...,17501.556641,19399.974609,19563.822266,17665.404297,5,0.854033,174.192673,345.210449,3,80.257660
34563,2019,12,043948,011350,097,11,180101,3,3,1,...,19168.097656,19168.097656,19194.562500,19194.562500,5,0.854033,174.192673,345.210449,2,80.257660
34564,2019,12,043948,011350,116,11,180101,3,3,2,...,20189.916016,20189.916016,20285.361328,20285.361328,5,0.854033,174.192673,345.210449,3,80.257660

In [42]:
enaho02_2020_grouped= enaho02_2020.groupby(["conglome","vivienda","hogar"])["codperso"].count()
enaho02_2020_grouped

conglome  vivienda  hogar
005002    011       11       4
          023       11       1
          049       11       6
          073       11       2
          097       11       1
                            ..
020353    023       11       4
          030       11       3
          049       11       1
          055       11       8
          062       11       6
Name: codperso, Length: 34490, dtype: int64

In [43]:
enaho02_2020_grouped.to_frame()

                         codperso
conglome vivienda hogar
005002   011      11            4
         023      11            1
         049      11            6
         073      11            2
         097      11            1
...                           ...
020353   023      11            4
         030      11            3
         049      11            1
         055      11            8
         062      11            6

[34490 rows x 1 columns]

In [50]:
enaho02_2019[["p208a"]] #la variable de interés respecto a la edad es p208a

        p208a
0        60.0
1        28.0
2        48.0
3        25.0
4        16.0
...       ...
128271    1.0
128272    0.0
128273   41.0
128274   22.0
128275   12.0

[128276 rows x 1 columns]

In [76]:
cond_mayor65 = enaho02_2019["p208a"]>65
enaho02_2019_65 = enaho02_2019[cond_mayor65]

In [67]:
def categorias(row):  
    if row['p208a'] > 65:
        return 'Adulto mayor'
    return 'Jóven'

In [69]:
enaho02_2019['P65_CAT'] = enaho02_2019.apply(lambda row: categorias(row), axis=1)

In [78]:
enaho02_2019[cond_mayor65][['p208a','P65_CAT']]

        p208a       P65_CAT
23       70.0  Adulto mayor
30       71.0  Adulto mayor
32       75.0  Adulto mayor
50       93.0  Adulto mayor
51       83.0  Adulto mayor
...       ...           ...
128244   74.0  Adulto mayor
128245   69.0  Adulto mayor
128246   68.0  Adulto mayor
128247   85.0  Adulto mayor
128251   75.0  Adulto mayor

[13466 rows x 2 columns]

In [79]:
dummies = pd.get_dummies(enaho02_2019['P65_CAT'])

In [82]:
dummies

        Adulto mayor  Jóven
0                  0      1
1                  0      1
2                  0      1
3                  0      1
4                  0      1
...              ...    ...
128271             0      1
128272             0      1
128273             0      1
128274             0      1
128275             0      1

[128276 rows x 2 columns]

In [85]:
enaho02_2019_x = pd.concat([enaho02_2019, dummies], axis=1)
enaho02_2019_x 
#de esta forma obtenemos una variable dummy para las personas adultas mayores

,aÑo,mes,nconglome,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,...,codtarea,codtiempo,ocupac_r3,ocupac_r4,rama_3,rama_4,facpob07,P65_CAT,Adulto mayor,Jóven
0,2019,01,007076,005009,041,11,01,010101,4,4,...,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0,1
1,2019,01,007076,005009,041,11,02,010101,4,4,...,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0,1
2,2019,01,007076,005009,056,11,01,010101,4,4,...,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0,1
3,2019,01,007076,005009,056,11,02,010101,4,4,...,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0,1
4,2019,01,007076,005009,056,11,03,010101,4,4,...,0,1,572.0,5212.0,5232.0,4771.0,94.218208,Jóven,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128271,2019,12,043948,011350,097,11,04,180101,3,3,...,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0,1
128272,2019,12,043948,011350,097,11,05,180101,3,3,...,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0,1
128273,2019,12,043948,011350,116,11,01,180101,3,3,...,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0,1
128274,2019,12,043948,011350,116,11,02,180101,3,3,...,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0,1
128275,2019,12,043948,011350,116,11,03,180101,3,3,...,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0,1

In [89]:
base_enaho2 = pd.merge(enaho02_2019_x , enaho34_2019, 
                         left_on = ["conglome", "vivienda","hogar"],
                         right_on = ["conglome", "vivienda","hogar"],
                       how = "outer", 
                       validate = "m:1") 
base_enaho2

,aÑo_x,mes_x,nconglome_x,conglome,vivienda,hogar,codperso,ubigeo_x,dominio_x,estrato_x,...,gashog24,gashog26,gashog25,gashog2d,estrsocial,ld,linpe,linea,pobreza,factor07
0,2019,01,007076,005009,041,11,01,010101,4,4,...,22231.878906,23015.384766,23149.517578,22366.013672,5,0.815806,171.688263,302.621338,3,94.218208
1,2019,01,007076,005009,041,11,02,010101,4,4,...,22231.878906,23015.384766,23149.517578,22366.013672,5,0.815806,171.688263,302.621338,3,94.218208
2,2019,01,007076,005009,056,11,01,010101,4,4,...,15891.502930,16446.982422,16698.673828,16102.574219,5,0.815806,171.688263,302.621338,3,94.218208
3,2019,01,007076,005009,056,11,02,010101,4,4,...,15891.502930,16446.982422,16698.673828,16102.574219,5,0.815806,171.688263,302.621338,3,94.218208
4,2019,01,007076,005009,056,11,03,010101,4,4,...,15891.502930,16446.982422,16698.673828,16102.574219,5,0.815806,171.688263,302.621338,3,94.218208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128271,2019,12,043948,011350,097,11,04,180101,3,3,...,19168.097656,19168.097656,19194.562500,19194.562500,5,0.854033,174.192673,345.210449,2,80.257660
128272,2019,12,043948,011350,097,11,05,180101,3,3,...,19168.097656,19168.097656,19194.562500,19194.562500,5,0.854033,174.192673,345.210449,2,80.257660
128273,2019,12,043948,011350,116,11,01,180101,3,3,...,20189.916016,20189.916016,20285.361328,20285.361328,5,0.854033,174.192673,345.210449,3,80.257660
128274,2019,12,043948,011350,116,11,02,180101,3,3,...,20189.916016,20189.916016,20285.361328,20285.361328,5,0.854033,174.192673,345.210449,3,80.257660
128275,2019,12,043948,011350,116,11,03,180101,3,3,...,20189.916016,20189.916016,20285.361328,20285.361328,5,0.854033,174.192673,345.210449,3,80.257660

In [91]:
def identi(row):  
    if row['Adulto mayor'] == 1 and row['pobreza']<3:
        return 1
    return 0

In [92]:
enaho02_2019['Recpetor_P65'] = base_enaho2.apply(lambda row: identi(row), axis=1)

In [93]:
enaho02_2019

,aÑo,mes,nconglome,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,...,ticuest01,codtarea,codtiempo,ocupac_r3,ocupac_r4,rama_3,rama_4,facpob07,P65_CAT,Recpetor_P65
0,2019,01,007076,005009,041,11,01,010101,4,4,...,2,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0
1,2019,01,007076,005009,041,11,02,010101,4,4,...,2,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0
2,2019,01,007076,005009,056,11,01,010101,4,4,...,2,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0
3,2019,01,007076,005009,056,11,02,010101,4,4,...,2,,,NaN,NaN,NaN,NaN,94.218208,Jóven,0
4,2019,01,007076,005009,056,11,03,010101,4,4,...,2,0,1,572.0,5212.0,5232.0,4771.0,94.218208,Jóven,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128271,2019,12,043948,011350,097,11,04,180101,3,3,...,2,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0
128272,2019,12,043948,011350,097,11,05,180101,3,3,...,2,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0
128273,2019,12,043948,011350,116,11,01,180101,3,3,...,2,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0
128274,2019,12,043948,011350,116,11,02,180101,3,3,...,2,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0
128275,2019,12,043948,011350,116,11,03,180101,3,3,...,2,,,NaN,NaN,NaN,NaN,80.257660,Jóven,0

In [94]:
enaho02_2019['Recpetor_P65'].describe()

count    128276.000000
mean          0.017907
std           0.132613
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Recpetor_P65, dtype: float64