### Trabaje con el modulo de empleo (modulo 05, enaho01a-2020-500), el ingreso anual del principal y segundo empleo del trabajador dependiente son i524e1 i538e1 respectivamente. Sume estos montos. Luego sume la cantidad de horas trabajados en el principal y segundo empleo en la semana, i513t i518 respectivamente. 

### Luego realice lo siguiente: salario por hora del trabajador dependiente: suma de i524e1 i538e1/ ( ( suma i513t i518)*52) 

### Se divide por 52, pues el año tiene 52 semanas, con ello se obtiene el salario por semana, y al dividirse por la cantidad de horas trabajadas por semana, se obtiene el salario por hora.

In [1]:
###### Pregunta 2 ###### Grupo 9 #######

import pandas as pd
import numpy as np
import os              # for usernanme y set directorio

enaho_2020 = pd.read_stata(r"../../enaho/2020/737-Modulo05/737-Modulo05/enaho01a-2020-500.dta") #leer la base de datos

In [2]:
enaho_2020[['i524e1','i538e1','i513t','i518']] #ver las observaciones de las variables

        i524e1  i538e1  i513t  i518
0          NaN     NaN   70.0   NaN
1          NaN     NaN   70.0   NaN
2          NaN     NaN   84.0   NaN
3       2433.0     NaN   12.0  70.0
4          NaN     NaN    NaN   NaN
...        ...     ...    ...   ...
91310  10761.0     NaN   53.0   NaN
91311  14202.0     NaN   48.0   NaN
91312      NaN     NaN    NaN   NaN
91313   7680.0     NaN   34.0   NaN
91314   7680.0     NaN   70.0   NaN

[91315 rows x 4 columns]

### Nota: pasos para el cálculo del salario por hora

#### Todos los NA reemplazar por 0:

In [3]:
enaho_2020.i524e1=enaho_2020.i524e1.fillna(0)
enaho_2020.i538e1=enaho_2020.i538e1.fillna(0)
enaho_2020.i513t=enaho_2020.i513t.fillna(0)
enaho_2020.i518=enaho_2020.i518.fillna(0)
enaho_2020[['i524e1','i538e1','i513t','i518']] #observar si efectivamente se cambiaron los valores

        i524e1  i538e1  i513t  i518
0          0.0     0.0   70.0   0.0
1          0.0     0.0   70.0   0.0
2          0.0     0.0   84.0   0.0
3       2433.0     0.0   12.0  70.0
4          0.0     0.0    0.0   0.0
...        ...     ...    ...   ...
91310  10761.0     0.0   53.0   0.0
91311  14202.0     0.0   48.0   0.0
91312      0.0     0.0    0.0   0.0
91313   7680.0     0.0   34.0   0.0
91314   7680.0     0.0   70.0   0.0

[91315 rows x 4 columns]

In [4]:
#Comprobación de que ya no hya missings values
print( enaho_2020.i524e1.isna().sum() ) 
print( enaho_2020.i538e1.isna().sum() ) 
print( enaho_2020.i513t.isna().sum() )  
print( enaho_2020.i518.isna().sum() )

0
0
0
0

#### Realizar el cálculo del salario por hora:

In [6]:
sum_ing=enaho_2020.i524e1 +enaho_2020.i538e1 #el ingreso anual del principal y el segundo empleo del trabajador dependiente 
sum_hrs=enaho_2020.i513t +enaho_2020.i518    #cantidad de horas trabajados en el principal y segundo empleo en la semana
wxhr= sum_ing / (sum_hrs*52)             #salario por hora del trabajador dependiente
wxhr

0        0.000000
1        0.000000
2        0.000000
3        0.570591
4             NaN
           ...
91310    3.904572
91311    5.689904
91312         NaN
91313    4.343891
91314    2.109890
Length: 91315, dtype: float64

#### Si un salario por hora resulta 0, convertir a missing:

In [7]:
wxhr.replace(to_replace = 0, value = np.NaN, inplace=True) #reemplaza el 0 por NaN en la misma variable
wxhr #observar el salario por hora del trabajador dependiente, ya con los valores cambiados a NaN

0             NaN
1             NaN
2             NaN
3        0.570591
4             NaN
           ...
91310    3.904572
91311    5.689904
91312         NaN
91313    4.343891
91314    2.109890
Length: 91315, dtype: float64