In [235]:
import numpy as np
import pandas as pd

In [236]:
#Importamos los archivos de los Estad√≠sticos del programa Juntos
df1 = pd.read_html('2014.xls')
df2 = pd.read_html('2015.xls')
df3 = pd.read_html('2016.xls')
df4 = pd.read_html('2017.xls')
df5 = pd.read_html('2018.xls')
df6 = pd.read_html('2019.xls')
df7 = pd.read_html('2020.xls')
df8 = pd.read_html('2021.xls')
df9 = pd.read_html('2022.xls')

In [237]:
# Revisamos la estructura de los datos que presentan
df1[1]

,0,1,2,3,4,5,6,7
0,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...,INFORMACION BIMESTRAL VRAEM -2014 - Peru: Info...
1,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29,Reporte al 07/12/2022 07:24:29
2,NaN,I BIMESTRE,II BIMESTRE,III BIMESTRE,IV BIMESTRE,V BIMESTRE,VI BIMESTRE,ANUAL
3,Departamentos atendidos,5,5,5,5,5,5,5
4,Provincias Atendidas,10,10,10,10,10,10,10
5,Distritos Atendidos,51,51,51,51,51,51,51
6,CCPP con hogares afiliados,0,0,0,0,2447,2450,2450
7,Hogares afiliados,50961,50131,49428,51446,51968,52022,52022
8,CCNN con hogares afiliados,0,0,0,0,0,135,135
9,CCPP con hogares abonados,0,0,0,0,0,2396,2396
10,Hogares abonados,45511,46739,42295,46087,49447,46506,46506
11,Establecimientos de Salud,0,0,0,0,0,0,0
12,Instituciones Educativas,0,0,0,0,0,0,0
13,Transferencia S/.,9103111.00,9348734.78,8459845.90,9218321.74,9890388.94,9467746.68,55488149.04
14,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS,FUENTE: UPP-JUNTOS

In [238]:
#Filtramos y nos quedamos con los datos requeridos
df1 = df1[1][3:-1][[0,7]].drop([11, 12],axis=0).T
df2 = df2[1][3:-1][[7]].drop([11, 12],axis=0).T
df3 = df3[1][3:-1][[7]].drop([11, 12],axis=0).T
df4 = df4[1][3:-1][[7]].drop([11, 12],axis=0).T
df5 = df5[1][3:-1][[7]].drop([11, 12],axis=0).T
df6 = df6[1][3:-1][[7]].drop([11, 12],axis=0).T 
df7 = df7[1][3:-1][[7]].drop([11, 12],axis=0).T
df8 = df8[1][3:-1][[7]].drop([11, 12],axis=0).T
df9 = df9[1][3:-1][[7]].drop([11, 12],axis=0).T

In [239]:
df1

,3,4,5,6,7,8,9,10,13
0,Departamentos atendidos,Provincias Atendidas,Distritos Atendidos,CCPP con hogares afiliados,Hogares afiliados,CCNN con hogares afiliados,CCPP con hogares abonados,Hogares abonados,Transferencia S/.
7,5,10,51,2450,52022,135,2396,46506,55488149.04

In [245]:
#Concatenamos los datos de cada a√±o en un solo dataframe
lista = [df1,df2,df3,df4,df5,df6,df7,df8,df9]
df_concat = pd.concat(lista)
df_concat.reset_index(drop = True,inplace = True)
df_concat

,3,4,5,6,7,8,9,10,13
0,Departamentos atendidos,Provincias Atendidas,Distritos Atendidos,CCPP con hogares afiliados,Hogares afiliados,CCNN con hogares afiliados,CCPP con hogares abonados,Hogares abonados,Transferencia S/.
1,5,10,51,2450,52022,135,2396,46506,55488149.04
2,5,10,51,2450,52022,135,2396,46506,55488149.04
3,5,10,51,2450,52022,135,2396,46506,55488149.04
4,5,10,51,2450,52022,135,2396,46506,55488149.04
5,5,10,51,2450,52022,135,2396,46506,55488149.04
6,5,10,51,2450,52022,135,2396,46506,55488149.04
7,5,10,51,2450,52022,135,2396,46506,55488149.04
8,5,10,51,2450,52022,135,2396,46506,55488149.04
9,5,10,51,2450,52022,135,2396,46506,55488149.04

In [247]:
#A√±adimos la columna de a√±os al dataframe
a√±os = pd.DataFrame(['years', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]).reset_index(drop = True)
df = pd.concat([df_concat,a√±os], axis=1)

In [248]:
#Ponemos en formato nuestra tabla para presentarlo de manera mas clara
df = df.rename(columns=df.iloc[0]).drop(df.index[0]).style.hide_index()
df