In [147]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 95%; }
    div#maintoolbar-container { width: 65%; }a
</style>
"""))

In [148]:
'''
Importar librerias
- numpy para operaciones de vectores y matrices
- pandas para manipular DataFrame (base de datos)
- Series para manipular columnas de DataFrame 
'''

import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [149]:
# importar el csv almacenada en la carpeta data
# relative path ../ salir de la carpeta Lab3
# /data ingresar a la carpeta data

netflix = pd.read_csv("../data/netflix_titles.csv")
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [150]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [151]:
netflix.info() # varaible's type 

print( netflix.shape ) # filas y columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB
(7787, 12)

In [152]:
'''
Equivalent sum de Stata, solo la variable release_year es numerica
'''

netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [153]:
## Verificando ID


print( netflix.show_id.unique() )

print( len( netflix.show_id.unique() ) )

print( netflix.show_id.is_unique )


##################################

print( len(netflix['show_id'].unique() ) )

netflix['show_id'].unique()

netflix['show_id'].is_unique # verificando repeticiones

['s1' 's2' 's3' ... 's7785' 's7786' 's7787']
7787
True
7787

True

### ***Exploring a DataFrame***:

In [154]:
# Series en Python

print(type(netflix['director']))
netflix['director']

<class 'pandas.core.series.Series'>

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [155]:
## revisado missing values (NaN in Python)

print( netflix.director.unique() )

## isnull() and isna() son similares 

print( netflix['director'].isnull() )

print( netflix['director'].isna() )

[nan 'Jorge Michel Grau' 'Gilbert Chan' ... 'Josef Fares' 'Mozez Singh'
 'Sam Dunn']
0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool
0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool

In [156]:
# cantidad de missing values en la variables director
netflix['director'].isna().sum()

# Borrar missing values 

netflix.dropna() # borra todas las filas o columnas con al menos un missing value
netflix.dropna(axis = 0) # borras filas con missing value
netflix.dropna(axis = 1) # columnas con al menos un missign values

,show_id,type,title,release_year,duration,listed_in,description
0,s1,TV Show,3%,2020,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,2016,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,2011,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,2009,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,2008,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,2005,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,2015,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,2019,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,2019,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,2019,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

- Notese que la base de datos Netflix no ha sido alterada. Para que la base de datos se altere debe ocurrir dos cosas:
1. Asignarse a una nueva base de datos }
2. Si la función lo permite, incluir el input ***Inplace = True***

In [161]:
netflix.dropna(subset = ['director']) # drop observaciones que presentan missing values en la columna director

netflix.dropna(subset = ['director']) 

 # Reemplazar missing values de la columna director con la palabra "Sin director"
netflix.director = netflix.director.fillna("Sin director")

In [162]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Sin director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,Sin director,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,Sin director,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [ ]:
# Alrerar la misma base de datos sin la necesidad de asignar a uno nuevo 

netflix.director.fillna("Sin director", inplace = True)


# Qué funciones admiten Inplace = True

# drop, fillna, rename

In [73]:
# Create new variable
netflix['new_col'] = np.arange(0, netflix.shape[0]) # creat new varaible

In [85]:
'''
Loc usa los nombres de filas y columnas para filtrar
'''

# Filter rows

netflix.loc[0:100]
netflix.loc[210:500]

# filter columns 

netflix.loc[:,['show_id','type','description']]

netflix.loc[1000:2000,['show_id','type','description']]

     show_id     type                                        description
1000   s1001  TV Show  This sequel to the award-winning nature series...
1001   s1002    Movie  Bad news from the past unhinges vagabond Dwigh...
1002   s1003    Movie  A jewel thief returns to his hiding place afte...
1003   s1004    Movie  As Cindy and Dean muddle through their languis...
1004   s1005    Movie  When his girlfriend learns the truth about his...
...      ...      ...                                                ...
1996   s1997    Movie  This documentary explores the extent to which ...
1997   s1998    Movie  Warehouse workers Vince and Zack compete in a ...
1998   s1999  TV Show  This fictional series tells the stories of wha...
1999   s2000    Movie  After accidentally killing a young mobster, a ...
2000   s2001  TV Show  This documentary series tries to get at the ro...

[1001 rows x 3 columns]

In [103]:
netflix2 = netflix.set_index( [ 'show_id' ] )
netflix2.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
show_id,,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",3
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4

In [104]:
netflix2.loc[['s1','s100','s7000'],:]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
show_id,,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0
s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,TV-PG,124 min,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...,99
s7000,TV Show,The Wiggles,NaN,"Anthony Field, Lachlan Gillespie, Simon Pryce,...",Australia,"May 15, 2020",2015,TV-Y,2 Seasons,Kids' TV,"The top band for preschool kids, The Wiggles, ...",6999

In [105]:
# Reset index 

netflix2.reset_index()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,7782
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,7783
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",7784
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,7785
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,7786

In [86]:
'''
iloc usa las posiciones de filas y columnas
'''

# Filter rows

netflix.iloc[0:100]
netflix.iloc[210:500]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
210,s211,Movie,A Night at the Roxbury,John Fortenberry,"Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...",United States,"December 1, 2019",1998,PG-13,82 min,"Comedies, Cult Movies","After a run-in with Richard Grieco, dimwits Do...",210
211,s212,Movie,A Noble Intention,Joram Lürsen,"Gijs Scholten van Aschat, Jacob Derwig, Rifka ...",Netherlands,"September 1, 2016",2015,TV-MA,111 min,"Dramas, International Movies","In 1888 Amsterdam, a headstrong violin maker f...",211
212,s213,Movie,A Patch of Fog,Michael Lennox,"Stephen Graham, Conleth Hill, Lara Pulver, Ars...",United Kingdom,"April 15, 2017",2015,TV-MA,92 min,"Dramas, Thrillers",When a guard catches a writer-television host ...,212
213,s214,TV Show,A Perfect Crime,NaN,NaN,Germany,"September 25, 2020",2020,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...",This docuseries investigates the 1991 killing ...,213
214,s215,Movie,A Perfect Ending,Nicole Conn,"Barbara Niven, Jessica Clark, John Heard, Morg...",United States,"January 1, 2019",2012,TV-MA,110 min,"Dramas, Independent Movies, LGBTQ Movies","After confessing an unusual secret, a represse...",214
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,s496,Movie,An Interview with God,Perry Lang,"Brenton Thwaites, David Strathairn, Hill Harpe...",United States,"March 1, 2019",2018,TV-PG,97 min,"Dramas, Faith & Spirituality","After an assignment in a war zone, a journalis...",495
496,s497,Movie,An Ordinary Man,Brad Silberling,"Ben Kingsley, Hera Hilmar, Peter Serafinowicz","Serbia, United States","October 1, 2020",2017,R,91 min,"Dramas, Thrillers",A war criminal in hiding begins to suspect tha...,496
497,s498,Movie,An Unremarkable Christmas,Juan Camilo Pinzon,"Antonio Sanint, Luis Eduardo Arango, María Cec...",Colombia,"December 17, 2020",2020,TV-14,83 min,"Comedies, Dramas, International Movies",An accountant and aspiring magician invites hi...,497
498,s499,Movie,An Upper Egyptian,"Ismail Farouk, Hazem Fouda","Mohamed Ramadan, Randa El Behery, Nermin Maher...",Egypt,"June 20, 2019",2014,TV-MA,85 min,"Comedies, Dramas, International Movies","Eager to settle down, Abdullah searches for th...",498
499,s500,Movie,Ana e Vitória,Matheus Souza,"Ana Caetano, Vitória Falcão, Clarissa Müller, ...",Brazil,"November 2, 2018",2018,TV-MA,116 min,"Comedies, International Movies, LGBTQ Movies","After meeting by chance, two young musicians w...",499

In [99]:
# filter columns 

netflix.iloc[:,[0,1,12]]

     show_id     type  new_col
0         s1  TV Show        0
1         s2    Movie        1
2         s3    Movie        2
3         s4    Movie        3
4         s5    Movie        4
...      ...      ...      ...
7782   s7783    Movie     7782
7783   s7784    Movie     7783
7784   s7785    Movie     7784
7785   s7786  TV Show     7785
7786   s7787    Movie     7786

[7787 rows x 3 columns]

In [101]:
netflix.iloc[1000:2000,[0,1,12]]

     show_id     type  new_col
1000   s1001  TV Show     1000
1001   s1002    Movie     1001
1002   s1003    Movie     1002
1003   s1004    Movie     1003
1004   s1005    Movie     1004
...      ...      ...      ...
1995   s1996  TV Show     1995
1996   s1997    Movie     1996
1997   s1998    Movie     1997
1998   s1999  TV Show     1998
1999   s2000    Movie     1999

[1000 rows x 3 columns]

In [107]:
# Column names in a list
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description',
 'new_col']

### ***Sorting and Subsetting***

In [108]:
# sort ascendet 
net_old = netflix.sort_values("release_year")
net_old.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,4867
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,6117
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,4960
7679,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,7679
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,7342
7616,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,7616
7268,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,"Classic Movies, Documentaries",British and American troops join forces to lib...,7268
6699,s6700,Movie,The Negro Soldier,Stuart Heisler,NaN,United States,"March 31, 2017",1944,TV-14,40 min,"Classic Movies, Documentaries",This documentary urged African Americans to en...,6699
6657,s6658,Movie,The Memphis Belle: A Story of a\r\nFlying Fort...,William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,6657
5371,s5372,Movie,San Pietro,John Huston,NaN,United States,"March 31, 2017",1945,TV-14,32 min,"Classic Movies, Documentaries","After the Allies invade Italy, the Liri Valley...",5371

In [109]:
net_new = netflix.sort_values("release_year", ascending = False)
net_new.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
2327,s2328,TV Show,Gabby's Dollhouse,NaN,"Laila Lockhart Kraner, Tucker Chandler, Juliet...",NaN,"January 5, 2021",2021,TV-Y,1 Season,Kids' TV,"Cute cats, quirky crafts and colorful magic! J...",2327
4468,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,NaN,"January 13, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries",Beneath the sunlit glamour of 1985 LA lurks a ...,4468
2753,s2754,TV Show,History of Swear Words,NaN,Nicolas Cage,United States,"January 5, 2021",2021,TV-MA,1 Season,"Docuseries, TV Comedies","Nicolas Cage hosts this proudly profane, funny...",2753
5103,s5104,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",NaN,"January 6, 2021",2021,TV-MA,76 min,"Documentaries, International Movies, Music & M...","The irrepressible Ratones Paranoicos, Argentin...",5103
1355,s1356,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,NaN,"January 12, 2021",2021,TV-MA,98 min,Stand-Up Comedy,"In this extended cut of his 2018 special, Chri...",1355
7644,s7645,Movie,Wish You,Sung Do-jun,"Kang In-soo, Lee Sang, Soo-bin",NaN,"January 15, 2021",2021,TV-PG,102 min,"Dramas, International Movies, LGBTQ Movies","Singing and dreaming together, a talented sing...",7644
1864,s1865,TV Show,Dream Home Makeover,NaN,NaN,United States,"January 1, 2021",2021,TV-G,2 Seasons,Reality TV,Dreams come true for real families looking for...,1864
6701,s6702,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,"January 2, 2021",2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London...",6701
6670,s6671,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,6670
1222,s1223,TV Show,Carmen Sandiego,NaN,"Gina Rodriguez, Finn Wolfhard, Abby Trott, Mic...",United States,"January 15, 2021",2021,TV-Y7,4 Seasons,"Kids' TV, TV Thrillers","A master thief who uses her skills for good, C...",1222

In [110]:
netflix['number'] = np.random.randint(1, 10, netflix.shape[0])

In [111]:
netflix.sort_values(["release_year","number"])
netflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2,6
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",3,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4,8
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,5,3
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ...",6,2
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...,7,2
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w...",8,1
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,9,6

In [112]:
net_two_sort = netflix.sort_values(["release_year","number"], ascending = [True,False]) 
net_two_sort.head(10)
# obs : en 1943 ==> en ["duration"] lo ordena de forma descendente

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,4867,7
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,4960,3
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,6117,3
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,7342,8
7616,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,7616,5
7679,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,7679,2
7268,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,"Classic Movies, Documentaries",British and American troops join forces to lib...,7268,8
6657,s6658,Movie,The Memphis Belle: A Story of a\r\nFlying Fort...,William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,6657,7
6699,s6700,Movie,The Negro Soldier,Stuart Heisler,NaN,United States,"March 31, 2017",1944,TV-14,40 min,"Classic Movies, Documentaries",This documentary urged African Americans to en...,6699,7
4436,s4437,Movie,Nazi Concentration Camps,George Stevens,NaN,United States,"March 31, 2017",1945,TV-MA,59 min,"Classic Movies, Documentaries",Shocking footage shows Nazi concentration camp...,4436,2

### ***Subsetting columns***

In [113]:
netflix.director

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [114]:
netflix[["director","cast"]]

               director                                               cast
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                NaN                                            Nasty C
7785                NaN                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

[7787 rows x 2 columns]

### ***Subsetting rows***

In [115]:
netflix[netflix["release_year"] < 2011].head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",3,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4,8
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...,7,2
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,9,6
42,s43,Movie,Çok Filim Hareketler Bunlar,Ozan Açıktan,"Ayça Erturan, Aydan Taş, Ayşegül Akdemir, Burc...",Turkey,"March 10, 2017",2010,TV-MA,99 min,"Comedies, International Movies",Vignettes of the summer holidays follow vacati...,42,8
44,s45,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,93 min,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an...",44,9
50,s51,Movie,"10,000 B.C.",Roland Emmerich,"Steven Strait, Camilla Belle, Cliff Curtis, Jo...","United States, South Africa","June 1, 2019",2008,PG-13,109 min,Action & Adventure,Fierce mammoth hunter D'Leh sets out on an imp...,50,3
68,s69,Movie,14 Blades,Daniel Lee,"Donnie Yen, Zhao Wei, Wu Chun, Law Kar-Ying, K...","Hong Kong, China, Singapore","April 3, 2019",2010,R,113 min,"Action & Adventure, International Movies","In the age of the Ming Dynasty, Quinglong is t...",68,5
71,s72,Movie,16 Blocks,Richard Donner,"Bruce Willis, Mos Def, David Morse, Jenna Ster...","United States, Germany","November 1, 2019",2006,PG-13,102 min,Action & Adventure,Tasked with escorting a prosecution witness to...,71,3
72,s73,Movie,17 Again,Burr Steers,"Zac Efron, Leslie Mann, Matthew Perry, Thomas ...",United States,"January 1, 2021",2009,PG-13,102 min,Comedies,"Nearing a midlife crisis, thirty-something Mik...",72,5

In [116]:
netflix[(netflix["release_year"] < 2011) & (netflix["number"] > 5)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4,8
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,9,6
42,s43,Movie,Çok Filim Hareketler Bunlar,Ozan Açıktan,"Ayça Erturan, Aydan Taş, Ayşegül Akdemir, Burc...",Turkey,"March 10, 2017",2010,TV-MA,99 min,"Comedies, International Movies",Vignettes of the summer holidays follow vacati...,42,8
44,s45,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,93 min,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an...",44,9
105,s106,Movie,300 Miles to Heaven,Maciej Dejczer,"Krzysztof Stroiński, Andrzej Mellin, Adrianna ...","Denmark, France, Poland","October 1, 2019",1989,TV-14,93 min,"Dramas, International Movies","Hoping to help their dissident parents, two br...",105,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7758,s7759,Movie,Zack and Miri Make a Porno,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States,"October 1, 2018",2008,R,101 min,"Comedies, Independent Movies, Romantic Movies",Zack and Miri make and star in an adult film t...,7758,9
7760,s7761,Movie,Zaki Chan,Wael Ihsan,"Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...",Egypt,"May 19, 2020",2005,TV-PG,109 min,"Comedies, International Movies, Romantic Movies",An unqualified young man has his work cut out ...,7760,8
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7778,6
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",7781,9
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,7782,6

In [117]:
netflix[( netflix.release_year < 2011 ) & (netflix.number > 5)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4,8
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,9,6
42,s43,Movie,Çok Filim Hareketler Bunlar,Ozan Açıktan,"Ayça Erturan, Aydan Taş, Ayşegül Akdemir, Burc...",Turkey,"March 10, 2017",2010,TV-MA,99 min,"Comedies, International Movies",Vignettes of the summer holidays follow vacati...,42,8
44,s45,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,93 min,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an...",44,9
105,s106,Movie,300 Miles to Heaven,Maciej Dejczer,"Krzysztof Stroiński, Andrzej Mellin, Adrianna ...","Denmark, France, Poland","October 1, 2019",1989,TV-14,93 min,"Dramas, International Movies","Hoping to help their dissident parents, two br...",105,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7758,s7759,Movie,Zack and Miri Make a Porno,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States,"October 1, 2018",2008,R,101 min,"Comedies, Independent Movies, Romantic Movies",Zack and Miri make and star in an adult film t...,7758,9
7760,s7761,Movie,Zaki Chan,Wael Ihsan,"Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...",Egypt,"May 19, 2020",2005,TV-PG,109 min,"Comedies, International Movies, Romantic Movies",An unqualified young man has his work cut out ...,7760,8
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7778,6
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",7781,9
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,7782,6

In [118]:
netflix[['director']].iloc[0:10]

            director
0                NaN
1  Jorge Michel Grau
2       Gilbert Chan
3        Shane Acker
4     Robert Luketic
5        Serdar Akar
6    Yasir Al Yasiri
7     Kevin Reynolds
8      Shravan Kumar
9       Vikram Bhatt

### ***Subsetting based on text data***

In [119]:
net_peru = netflix[netflix.country == "Peru"]
net_peru.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
604,s605,Movie,Asu Mare 2,Ricardo Maldonado,"Carlos Alcántara, Emilia Drago, Christian Meie...",Peru,"December 1, 2016",2015,TV-14,100 min,"Comedies, International Movies",To win the heart of his true love – a high-soc...,604,1
2845,s2846,Movie,How to Get Over a Breakup,"Joanna Lombardi, Bruno Ascenzo","Gisela Ponce de León, Karina Jordán, Jely Reát...",Peru,"October 20, 2018",2018,TV-MA,104 min,"Comedies, International Movies, Romantic Movies","A heartbroken ad copywriter living in Lima, Pe...",2845,7
4732,s4733,Movie,Pacificum: Return to the Ocean,"Mariana Tschudi, Héctor Gálvez",NaN,Peru,"June 15, 2018",2017,TV-G,74 min,"Documentaries, International Movies",Four scientists offer a sweeping yet intimate ...,4732,1
5634,s5635,Movie,Sinister Circle,Dorian Fernández-Moris,"Milene Vázquez, Matías Raygada, Claudia Dammer...",Peru,"October 1, 2019",2017,TV-MA,87 min,"Horror Movies, International Movies",A psychologist and her mute son confront evil ...,5634,8

In [120]:
net_mex = netflix[netflix["country"] == "Mexico"]
net_mex

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1,6
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...,12,8
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...,292,3
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...,370,4
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...,378,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro...",7698,3
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...,7725,9
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...,7734,9
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...,7773,3
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,7779,1

# ***Filtering Data***

### Checking unique values

In [121]:
netflix["country"].unique()

array(['Brazil', 'Mexico', 'Singapore', 'United States', 'Turkey',
       'Egypt', 'India', 'Poland, United States', 'Thailand', 'Nigeria',
       nan, 'Norway, Iceland, United States', 'United Kingdom', 'Japan',
       'South Korea', 'Italy', 'Canada', 'Indonesia', 'Romania', 'Spain',
       'Iceland', 'South Africa, Nigeria', 'France',
       'United States, South Africa', 'Portugal, Spain',
       'Hong Kong, China, Singapore', 'United States, Germany',
       'South Africa, China, United States', 'Argentina',
       'United States, France, Serbia', 'Germany',
       'Denmark, France, Poland', 'Poland', 'Kenya',
       'New Zealand, United Kingdom', 'Pakistan', 'Australia',
       'Australia, United States', 'Mexico, United States',
       'United States, China', 'China, Hong Kong', 'Taiwan',
       'United States, United Kingdom', 'France, South Korea, Japan',
       'United States, Canada', 'United Kingdom, United States',
       'Netherlands, Denmark, South Africa', 'Canada, United States',
       'Denmark', 'Hong Kong', 'France, Netherlands, Singapore', 'China',
       'Philippines', 'United Kingdom, Spain, United States',
       'United Arab Emirates, United States', 'Netherlands',
       'United Kingdom, Hong Kong', 'Iran, France',
       'United States, United Kingdom, France',
       'United Kingdom, France, Belgium, United States, China',
       'Argentina, Brazil, France, Poland, Germany, Denmark',
       'Israel, United States', 'United States, Mexico',
       'Uruguay, Argentina, Spain', 'Singapore, France',
       'United Kingdom, United States, France, Germany',
       'Turkey, United States', 'Bulgaria, United States',
       'Australia, France', 'Hong Kong, Iceland, United States',
       'United Arab Emirates', 'United States, Chile',
       'Germany, France, Russia', 'Mauritius, South Africa',
       'United States, Japan', 'Lebanon', 'United States, Bulgaria',
       'Colombia', 'Uruguay, Argentina', 'Egypt, Algeria',
       'France, Egypt', 'Uruguay', 'Soviet Union, India',
       'Sweden, United States', 'South Africa', 'Malaysia',
       'Ireland, United Kingdom, United States', 'Spain, Italy',
       'United Kingdom, France, Germany',
       'United States, Germany, Canada', 'United States, India',
       'Japan, United States', 'Denmark, United States',
       'South Africa, United States', 'Canada, Luxembourg',
       'Serbia, United States', 'Canada, Nigeria',
       'Iceland, Sweden, Belgium', 'Ireland, Canada',
       'United States, Italy', 'Finland', 'India, Germany',
       'China, Spain, South Korea, United States', 'Spain, Belgium',
       'United Kingdom, Canada, United States, Germany',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'France, Belgium', 'Indonesia, South Korea, Singapore', 'Norway',
       'Peru', 'France, Senegal, Belgium', 'Canada, France', 'Chile',
       'Romania, France, Switzerland, Germany',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'Ghana', 'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Singapore, United States', 'Japan, Canada, United States',
       'Saudi Arabia',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'United States, France', 'Norway, Denmark, Netherlands, Sweden',
       'Namibia', 'Mexico, Finland', 'United States, Australia', 'Russia',
       'Australia, Canada', 'United Kingdom, Ireland', 'Belgium, France',
       'New Zealand', 'Uruguay, Spain, Mexico', 'South Korea, China',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'India, Iran', 'United States, France, Japan',
       'United Kingdom, France', 'Turkey, India', 'Philippines, Qatar',
       'Vietnam', 'Ireland, Luxembourg, Belgium',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'Russia, United States', 'United Kingdom, Russia, United States',
       'Argentina, Spain', 'Germany, Jordan, Netherlands',
       'Hong Kong, China', 'Argentina, United States',
       'France, Belgium, Spain', 'Germany, United States',
       'Denmark, Sweden, Israel, United States',
       'Ireland, United Kingdom', 'United States, Iceland',
       'United Arab Emirates, United Kingdom, India', 'Sweden',
       'Norway, Germany, Sweden', 'Finland, France', 'Denmark, Spain',
       'United Kingdom, Russia',
       'United States, United Kingdom, Australia',
       'India, United Kingdom', 'United States, Canada, Ireland',
       'Canada, United Kingdom',
       'United States, Israel, Italy, South Africa',
       'India, United States', 'United Kingdom, China',
       'Indonesia, Singapore', 'Netherlands, Denmark, France, Germany',
       'South Korea, Japan',
       'Philippines, Canada, United Kingdom, United States',
       'France, Malta, United States', 'Kuwait',
       'United Kingdom, Pakistan', 'Ireland', 'France, New Zealand',
       'United Kingdom, United States, Australia',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'United States, Australia, China',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, Sweden', 'Canada, United States, Cayman Islands',
       'India, France', 'United Kingdom, Canada',
       'United States, India, Bangladesh',
       'United States, Canada, France',
       'Taiwan, China, France, United States', 'Brazil, France, Germany',
       'United States,', 'Turkey, France, Germany, Poland',
       'Australia, New Zealand, United States',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland', 'Mexico, Argentina',
       'Italy, United States, Argentina',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'Canada, United States, United Kingdom',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Zimbabwe', 'United Kingdom, France, Germany, Spain',
       'Taiwan, Hong Kong, United States, China', 'China, United States',
       'Canada, Brazil', 'United Kingdom, Australia', 'Hungary',
       'Germany, Australia', 'United Kingdom, Poland, United States',
       'Bulgaria', 'Philippines, United States', 'Finland, Germany',
       'United States, Thailand',
       'Spain, Belgium, Switzerland, United States, China, United Kingdom',
       'Denmark, Zimbabwe', 'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'United Kingdom, India',
       'South Africa, United States, New Zealand, Canada',
       'France, Qatar', 'France, Algeria',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'Russia, Poland, Serbia', 'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Chile, Argentina', 'China, United States, United Kingdom',
       'Pakistan, Norway, United States',
       'United Kingdom, Japan, United States', 'Philippines, Singapore',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Argentina, Uruguay, Serbia', 'United States, Mexico, Colombia',
       'Colombia, Peru, United Kingdom', 'Brazil, United States',
       'Czech Republic, United States',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'Hong Kong, United States',
       'France, Canada, China, Cambodia', 'United States, Indonesia',
       'Spain, France', 'Spain, Mexico, France', 'Spain, France, Italy',
       'Spain, France, United States', 'United States, France, Canada',
       'Israel', 'Italy, France', 'United Kingdom, Canada, United States',
       'Cambodia, United States', 'China, Japan',
       'United Arab Emirates, United States, United Kingdom',
       'Argentina, Italy', 'United Kingdom, Israel, Russia',
       'Italy, Switzerland, Albania, Poland', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua', 'Austria, Germany',
       'United Arab Emirates, Jordan, Lebanon',
       'France, United Kingdom, United States',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'France, Belgium, Luxembourg, Cambodia,', 'Italy, Turkey',
       'Brazil, France', 'India, Turkey', 'Kenya, United States',
       'United States, South Korea', 'South Korea, United States',
       'Italy, Canada, France', 'Thailand, United States',
       'United Kingdom, Denmark, Canada, Croatia', 'Netherlands, Belgium',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Italy, Germany', 'United States, France, United Kingdom, Japan',
       'United States, United Kingdom, Denmark, Sweden',
       'United States, United Kingdom, Italy',
       'United States, France, Canada, Spain', 'Uruguay, Guatemala',
       'Germany, Australia, France, China',
       'United States, United Kingdom, Japan',
       'United States, United Kingdom, Canada',
       'Italy, Switzerland, France, Germany',
       'Russia, United States, China', 'United States, Canada, Germany',
       'United States, Czech Republic', 'Ireland, United States',
       'United States, United Arab Emirates',
       'France, Australia, Germany', 'Hong Kong, China, United States',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'United States, South Korea, Japan', 'Romania, United States',
       'West Germany', 'United States, Ireland', 'Chile, Italy',
       'Ireland, United Kingdom, Italy, United States', 'Belgium',
       'Poland,', 'Slovenia, Croatia, Germany, Czech Republic, Qatar',
       'Canada, United Kingdom, Netherlands',
       'United Kingdom, United States, France',
       'Indonesia, United Kingdom', 'United States, Spain, Germany',
       'India, Japan', 'Switzerland, France, Belgium, United States',
       'China, South Korea, United States',
       'United Kingdom, France, Belgium',
       'Canada, Ireland, United States',
       'United Kingdom, United States, Dominican Republic',
       'United States, Senegal', 'Germany, United Kingdom, United States',
       'United States, Canada, United Kingdom',
       'Canada, United States, France', 'United Kingdom, Germany, Canada',
       'Argentina, France', 'South Africa, Germany, Netherlands, France',
       'Canada, United States, United Kingdom, France, Luxembourg',
       'Finland, Germany, Belgium',
       'United States, United Kingdom, Germany', 'Taiwan, China',
       'Cambodia', 'Spain, Portugal', 'Ireland, United States, France',
       'Jordan', 'Austria', 'Germany, United States, Canada',
       'United Kingdom, Germany, Canada, United States',
       'United States, France, Canada, Lebanon, Qatar',
       'Indonesia, Netherlands',
       'Netherlands, Belgium, United Kingdom, United States',
       'China, United States, Australia',
       'France, Belgium, China, United States', 'Spain, United Kingdom',
       'United States, Chile, Israel', 'Bangladesh',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'United States, Japan, Canada', 'Norway, Denmark, Sweden',
       'China, India, Nepal', 'United States, Argentina',
       'Mexico, United States, Spain, Colombia',
       'Colombia, Mexico, United States',
       'United Kingdom, Belgium, Sweden', 'Nigeria, United Kingdom',
       'United Kingdom, South Korea', 'United States, Taiwan',
       'Netherlands, Belgium, Germany, Jordan', 'France, Canada',
       'United Kingdom, France, United States',
       'Denmark, Singapore, Canada, United States', 'Denmark, China',
       'Malaysia, Singapore, Hong Kong', 'Norway, United States',
       'United States, Philippines', 'United States, Greece, Brazil',
       'France, United States', 'South Korea, France',
       'United States, Australia, Samoa, United Kingdom',
       'Canada, South Africa', 'United Kingdom, Italy',
       'Germany, United Kingdom', 'China, United Kingdom',
       'Argentina, Chile, Peru', 'United States, Russia',
       'Uruguay, Germany', 'Turkey, Azerbaijan',
       'United States, China, Hong Kong',
       'Canada, Germany, France, United States',
       'Argentina, United States, Mexico',
       'France, United Kingdom, India', 'China, Taiwan',
       'Italy, United Kingdom, France', 'Poland, West Germany',
       'Germany, United States, Sweden', 'Canada, Spain',
       'United Kingdom, France, Belgium, United States', 'France, Japan',
       'Netherlands, Germany, Italy, Canada', 'United States, Cambodia',
       'United States, Greece', 'United States, China, Colombia',
       'United States, Spain, Italy',
       'Norway, United Kingdom, France, Ireland',
       'United States, Bermuda, Ecuador', 'United Kingdom, Poland',
       'China, Canada, United States', 'United States, Spain',
       'India, Mexico', 'United Kingdom, West Germany',
       'Pakistan, United States', 'Israel, Sweden, Germany, Netherlands',
       'Chile, United States, France', 'France, Morocco',
       'United Kingdom, Germany', 'Georgia, Germany, France',
       'Switzerland, France', 'Turkey, South Korea', 'Italy, India',
       'United States, Botswana', 'United States, Colombia, Mexico',
       'Chile, Argentina, France, Spain, United States',
       'Puerto Rico, United States, Colombia', 'United States, Nigeria',
       'Germany, United States, France',
       'Spain, Germany, Denmark, United States',
       'United Kingdom, United States, Japan',
       'Netherlands, United States',
       'United States, India, South Korea, China',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Denmark, Germany, Belgium, United Kingdom, France, Sweden',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Norway, Sweden', 'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Spain, Germany',
       'Germany, Czech Republic',
       'Denmark, Brazil, France, Portugal, Sweden',
       'Brazil, India, China, United States', 'India, Germany, Austria',
       'Italy, United States', 'Denmark, France, United States, Sweden',
       'Australia, Iraq', 'China, Morocco, Hong Kong', 'Spain, Colombia',
       'Australia, United Arab Emirates',
       'Canada, United States, Germany', 'France, Belgium, Italy',
       'United Kingdom, Thailand', 'Venezuela, Colombia',
       'France, Luxembourg, Canada', 'India, Nepal', 'Mexico, Spain',
       'Colombia, United States', 'Colombia, Mexico',
       'France, Germany, Czech Republic, Belgium',
       'Germany, China, United Kingdom', 'Canada, Hungary, United States',
       'Pakistan, United Arab Emirates', 'France, United Kingdom',
       'Spain, United Kingdom, United States', 'United Kingdom, Kenya',
       'United States, Norway, Canada', 'Canada, United States, Ireland',
       'Switzerland, Vatican City, Italy, Germany, France',
       'Portugal, France, Poland, United States',
       'France, Japan, United States', 'United States, New Zealand',
       'United States, New Zealand, Japan',
       'United States, Netherlands, Japan, France', 'India, Switzerland',
       'Canada, India', 'Canada, Japan, United States',
       'United States, Morocco', 'United States, Mexico, Spain, Malta',
       'Norway, Denmark', 'South Korea, Canada, United States, China',
       'Singapore, Japan, France',
       'Canada, Mexico, Germany, South Africa',
       'United Kingdom, United States, Canada',
       'Germany, France, United States, Canada, United Kingdom',
       'Peru, Germany, Norway', 'Singapore, Malaysia',
       'United States, Uruguay', 'India, Canada',
       'Ireland, Canada, United Kingdom, United States',
       'United States, Germany, Australia', 'Senegal',
       'Israel, Germany, France', 'Australia, France, Ireland',
       'South Africa, Angola', 'Austria, Czech Republic',
       'Australia, India', 'United States, United Kingdom, Canada, Japan',
       'Sweden, United Kingdom, Finland', 'Hong Kong, Taiwan',
       'United States, United Kingdom, Spain, South Korea',
       'South Korea, China, United States', 'Guatemala', 'Ukraine',
       'United States, United Kingdom, Canada, China',
       'Italy, South Africa, West Germany, Australia, United States',
       'United Kingdom, Finland, Germany',
       'South Africa, United States, Germany',
       'United States, Germany, United Kingdom, Australia',
       'India, Soviet Union', 'Italy, France, Switzerland',
       'Canada, France, United States', 'United States, Colombia',
       'India, Malaysia', 'Switzerland, United States',
       'Thailand, Canada, United States',
       'China, Hong Kong, United States', 'United Kingdom, New Zealand',
       'United Kingdom, France, Germany, United States',
       'South Korea, Czech Republic',
       'Czech Republic, United Kingdom, France',
       'Australia, United Kingdom, Canada',
       'Canada, United Kingdom, United States', 'United States, Hungary',
       'Jamaica, United States', 'Switzerland',
       'Australia, United Kingdom, United States, New Zealand, Italy, France',
       'France, United States, Canada', 'Australia, United Kingdom',
       'United States, Denmark',
       'United Kingdom, France, Canada, Belgium, United States',
       'Denmark, United Kingdom, Sweden', 'Belarus', 'Cyprus',
       'Lebanon, United States, United Arab Emirates',
       'United States, Hong Kong', 'United States, Kazakhstan',
       'Argentina, France, United States, Germany, Qatar',
       'United States, Germany, United Kingdom',
       'United States, Germany, United Kingdom, Italy',
       'United States, New Zealand, United Kingdom',
       'Finland, United States', 'Spain, France, Uruguay',
       'France, Belgium, United States', 'France, Canada, United States',
       'Spain, Argentina', 'United Kingdom, India, United States',
       'Chile, France',
       'United States, United Kingdom, France, Germany, Japan',
       'Canada, Norway', 'United States, Hungary, Ireland, Canada',
       'United States, Canada, China', 'United Kingdom, Malawi',
       'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       'United States, Czech Republic, United Kingdom',
       'Ghana, United States', 'Israel, Germany', 'Spain, Mexico',
       'Mexico, France', 'Brazil, United Kingdom',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'Israel, Germany, Poland, Luxembourg, Belgium, France, United States',
       'France, Germany', 'United States, Malta, France, United Kingdom',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'Austria, United States', 'Canada, Australia',
       'Greece, United States',
       'United Kingdom, France, Belgium, Canada, United States',
       'Argentina, Chile', 'Czech Republic, Slovakia',
       'United Kingdom, Germany, United States, France',
       'United Kingdom, Lithuania', 'Egypt, France',
       'Spain, France, Canada', 'United States, Greece, United Kingdom',
       'United Kingdom, China, United States, India', 'Taiwan, Malaysia',
       'United States, Sweden, Norway',
       'United Kingdom, United States, Morocco',
       'United States, United Kingdom, Morocco',
       'United States, China, Canada', 'Spain, Canada, United States',
       'Canada, Belgium', 'United States, India, United Arab Emirates',
       'United Kingdom, Canada, France, United States',
       'Spain, Thailand, United States', 'Canada, Germany, South Africa',
       'India, Germany, France',
       'United States, Israel, United Kingdom, Canada',
       'United Kingdom, Hungary, Australia', 'Lebanon, France',

In [25]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
 12  new_col       7787 non-null   int32
dtypes: int32(1), int64(1), object(11)
memory usage: 760.6+ KB

In [26]:
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2

### Example

In [122]:
netflix[netflix.type == "TV Show"].head(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,5,3
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...","Poland, United States","November 30, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a naïve law...",11,8
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...,12,8

In [123]:
len( netflix.loc[netflix["type"] == "TV Show"] )

2410

In [124]:
netflix[(netflix["type"] == "TV Show") & (netflix["country"] == "Peru")]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, new_col, number]
Index: []

In [125]:
# No hay series peruanas en Netflix

len(netflix[(netflix["country"] == "Brazil") | (netflix["country"] == "Peru")])

76

In [126]:
netflix[(netflix["type"] == "TV Show") | (netflix["country"] == "Peru")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,5,3
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...","Poland, United States","November 30, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a naïve law...",11,8
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...,12,8
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h...",16,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7767,s7768,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",7767,8
7775,s7776,TV Show,Zoids Wild,NaN,"Kensho Ono, Takahiro Sakurai, Mikako Komatsu, ...",Japan,"August 14, 2020",2018,TV-Y7,1 Season,"Anime Series, Kids' TV",A quest for freedom and legendary treasure beg...,7775,4
7777,s7778,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",7777,6
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,7779,1
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,7785,1

In [127]:
# peliculas americanas
netflix.loc[(netflix["type"] == "Movie") & (netflix["country"] == "United States") & (netflix["release_year"] > 2019)].head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
147,s148,Movie,A Babysitter's Guide to Monster Hunting,Rachel Talalay,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,Children & Family Movies,"Recruited by a secret society of babysitters, ...",147,3
154,s155,Movie,A California Christmas,Shaun Paul Piccinino,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,2
168,s169,Movie,A Fall from Grace,Tyler Perry,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",United States,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki...",168,3
177,s178,Movie,A Go! Go! Cory Carson Christmas,"Stanley Moore, Alex Woo","Alan C. Lim, Taron C. Hensley, Maisie Benson, ...",United States,"November 27, 2020",2020,TV-Y,22 min,Children & Family Movies,When a familiar-looking stranger crashes in wi...,177,1
200,s201,Movie,A Love Song for Latasha,Sophia Nahli Allison,NaN,United States,"September 21, 2020",2020,TV-PG,20 min,Documentaries,The killing of Latasha Harlins became a flashp...,200,8

In [128]:
# Brazil in 2020
net_B_2020 = netflix[(netflix["country"] == "Brazil") & (netflix["release_year"] == 2020)]
net_B_2020.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
218,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,218,4
320,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,320,8

# .isin()
If you want to filter by multiple values of a categorical variable, the easiest way is to use the isin() method.

In [129]:
# Peliculas de Perú y Chile

net_per_ch = netflix[netflix["country"].isin(["Peru","Chile"])] # filter by variables's values
net_per_ch

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
604,s605,Movie,Asu Mare 2,Ricardo Maldonado,"Carlos Alcántara, Emilia Drago, Christian Meie...",Peru,"December 1, 2016",2015,TV-14,100 min,"Comedies, International Movies",To win the heart of his true love – a high-soc...,604,1
618,s619,Movie,Attitude Test,"Fabrizio Copano, Augusto Matte","Belén Soto, Denise Rosenthal, Constanza Piccol...",Chile,"August 19, 2018",2016,TV-14,88 min,"Comedies, Independent Movies, International Mo...",Four high school seniors steal an important co...,618,1
707,s708,TV Show,Bala Loca,NaN,"Alejandro Goic, Trinidad González, Ingrid Isen...",Chile,"April 1, 2017",2016,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",A veteran journalist starting a news site abou...,707,7
754,s755,Movie,Barrio Universitario,Esteban Vidal,"Fabrizio Copano, Rodrigo Salinas, Pedro Rumino...",Chile,"August 19, 2018",2013,TV-14,91 min,"Comedies, International Movies",Four friends from a humble technical school co...,754,3
1962,s1963,TV Show,El Reemplazante,NaN,"Iván Álvarez de Araya, Blanca Lewin, Karla Mel...",Chile,"April 4, 2020",2013,TV-MA,2 Seasons,"International TV Shows, Spanish-Language TV Sh...",A former high-ranking financial executive find...,1962,4
2086,s2087,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,2086,5
2564,s2565,Movie,Héroes,Esteban Vidal,"Fabrizio Copano, Juanita Ringeling, Fernando A...",Chile,"August 19, 2018",2015,TV-MA,91 min,"Comedies, International Movies","When an earthquake hits Chile, rescue workers ...",2564,4
2845,s2846,Movie,How to Get Over a Breakup,"Joanna Lombardi, Bruno Ascenzo","Gisela Ponce de León, Karina Jordán, Jely Reát...",Peru,"October 20, 2018",2018,TV-MA,104 min,"Comedies, International Movies, Romantic Movies","A heartbroken ad copywriter living in Lima, Pe...",2845,7
3123,s3124,Movie,Jani Dueñas: Grandes fracasos de ayer y hoy,"Raúl Campos, Jan Suter",Jani Dueñas,Chile,"June 29, 2018",2018,TV-MA,77 min,Stand-Up Comedy,Chilean comedian and personality Jani Dueñas p...,3123,9
3227,s3228,TV Show,Juana Brava,NaN,"Elisa Zulueta, Alejandro Trejo, Lucas Balmaced...",Chile,"March 20, 2017",2015,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","After many years away, a woman returns to her ...",3227,2
3850,s3851,Movie,Madre,Aaron Burns,"Daniela Ramírez, Cristobal Tapia Montt, Aida, ...",Chile,"August 26, 2017",2016,TV-MA,95 min,"International Movies, Thrillers","Pregnant and overwhelmed, Diana hires a careta...",3850,8
4061,s4062,Movie,Mi amigo Alexis,Alejandro Fernández Almendras,"Luciano González, Alexis Sánchez, Daniel Muñoz...",Chile,"August 30, 2019",2019,TV-PG,102 min,"Children & Family Movies, Comedies, Dramas",When a young soccer fan and his idol forge an ...,4061,1
4272,s4273,Movie,Mujeres arriba,Andrés Feddersen,"Loretto Bernal, Natalia Valdebenito, Alison Ma...",Chile,"May 21, 2020",2019,TV-14,98 min,"Comedies, International Movies, Romantic Movies",A trio of best friends — a carefree bacheloret...,4272,1
4415,s4416,Movie,Natalia Valdebenito: El especial,"Raúl Campos, Jan Suter",Natalia Valdebenito,Chile,"March 2, 2018",2018,TV-MA,69 min,Stand-Up Comedy,A Chilean comedian fuses activism with irrever...,4415,8
4486,s4487,Movie,No Estoy Loca,Nicolás López,"Paz Bascuñán, Marcial Tagle, Antonia Zegers, C...",Chile,"May 4, 2018",2018,TV-MA,116 min,"Comedies, Dramas, International Movies",A woman enters a quirky mental health clinic a...,4486,9
4499,s4500,Movie,Nobody Knows I'm Here,Gaspar Antillo,"Jorge García, Millaray Lobos, Luis Gnecco, Ale...",Chile,"June 24, 2020",2020,TV-MA,92 min,"Dramas, Independent Movies, International Movies","A former child singer, traumatized by his expe...",4499,1
4732,s4733,Movie,Pacificum: Return to the Ocean,"Mariana Tschudi, Héctor Gálvez",NaN,Peru,"June 15, 2018",2017,TV-G,74 min,"Documentaries, International Movies",Four scientists offer a sweeping yet intimate ...,4732,1
5634,s5635,Movie,Sinister Circle,Dorian Fernández-Moris,"Milene Vázquez, Matías Raygada, Claudia Dammer...",Peru,"October 1, 2019",2017,TV-MA,87 min,"Horror Movies, International Movies",A psychologist and her mute son confront evil ...,5634,8

In [131]:
# Peliculas diferentes de Perú y Chile

netflix[~netflix["country"].isin(["Peru","Chile"])]   # ~ negación en Python ALT + 126

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2,6
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",3,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,7782,6
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,7783,2
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",7784,2
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,7785,1
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,7786,7

## Alternative methods to filter

In [132]:
movie = netflix["type"] == "Movie"
m_usa = netflix["country"] == "United States"
m_actual = netflix["release_year"] > 2019

movie_usa = netflix[movie & m_usa & m_actual]
movie_usa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
147,s148,Movie,A Babysitter's Guide to Monster Hunting,Rachel Talalay,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,Children & Family Movies,"Recruited by a secret society of babysitters, ...",147,3
154,s155,Movie,A California Christmas,Shaun Paul Piccinino,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,2
168,s169,Movie,A Fall from Grace,Tyler Perry,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",United States,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki...",168,3
177,s178,Movie,A Go! Go! Cory Carson Christmas,"Stanley Moore, Alex Woo","Alan C. Lim, Taron C. Hensley, Maisie Benson, ...",United States,"November 27, 2020",2020,TV-Y,22 min,Children & Family Movies,When a familiar-looking stranger crashes in wi...,177,1
200,s201,Movie,A Love Song for Latasha,Sophia Nahli Allison,NaN,United States,"September 21, 2020",2020,TV-PG,20 min,Documentaries,The killing of Latasha Harlins became a flashp...,200,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,7
7576,s7577,Movie,Wheels of Fortune,Shaun Paul Piccinino,"Matt Jones, Noureen DeWulf, John Ducey, Matty ...",United States,"November 1, 2020",2020,R,107 min,"Comedies, Sports Movies","To claim a big inheritance, a down-on-his-luck...",7576,4
7662,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,7662,1
7710,s7711,Movie,"Yes, God, Yes",Karen Maine,"Natalia Dyer, Timothy Simons, Wolfgang Novogra...",United States,"October 22, 2020",2020,R,78 min,"Comedies, Dramas, Independent Movies",A devoutly religious teen grapples with her ow...,7710,6
7722,s7723,Movie,You Are My Home,Amanda Raymond,"Alyssa Milano, Angel Parker, Cristián de la Fu...",United States,"December 4, 2020",2020,TV-PG,93 min,"Children & Family Movies, Dramas","After becoming separated from her family, a yo...",7722,8

In [133]:
movie_usa = netflix.loc[ ( netflix[ "type" ] == "Movie" ) & ( netflix[ "country" ] == "United States") & ( netflix[ "release_year" ] > 2019 ) ]

In [134]:
movie_usa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
147,s148,Movie,A Babysitter's Guide to Monster Hunting,Rachel Talalay,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,Children & Family Movies,"Recruited by a secret society of babysitters, ...",147,3
154,s155,Movie,A California Christmas,Shaun Paul Piccinino,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,2
168,s169,Movie,A Fall from Grace,Tyler Perry,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",United States,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki...",168,3
177,s178,Movie,A Go! Go! Cory Carson Christmas,"Stanley Moore, Alex Woo","Alan C. Lim, Taron C. Hensley, Maisie Benson, ...",United States,"November 27, 2020",2020,TV-Y,22 min,Children & Family Movies,When a familiar-looking stranger crashes in wi...,177,1
200,s201,Movie,A Love Song for Latasha,Sophia Nahli Allison,NaN,United States,"September 21, 2020",2020,TV-PG,20 min,Documentaries,The killing of Latasha Harlins became a flashp...,200,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,7
7576,s7577,Movie,Wheels of Fortune,Shaun Paul Piccinino,"Matt Jones, Noureen DeWulf, John Ducey, Matty ...",United States,"November 1, 2020",2020,R,107 min,"Comedies, Sports Movies","To claim a big inheritance, a down-on-his-luck...",7576,4
7662,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,7662,1
7710,s7711,Movie,"Yes, God, Yes",Karen Maine,"Natalia Dyer, Timothy Simons, Wolfgang Novogra...",United States,"October 22, 2020",2020,R,78 min,"Comedies, Dramas, Independent Movies",A devoutly religious teen grapples with her ow...,7710,6
7722,s7723,Movie,You Are My Home,Amanda Raymond,"Alyssa Milano, Angel Parker, Cristián de la Fu...",United States,"December 4, 2020",2020,TV-PG,93 min,"Children & Family Movies, Dramas","After becoming separated from her family, a yo...",7722,8

In [135]:
movie_usa.drop(['show_id', 'director'], axis=1 ) # axis = 1 , drop por columna

,type,title,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
147,Movie,A Babysitter's Guide to Monster Hunting,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,Children & Family Movies,"Recruited by a secret society of babysitters, ...",147,3
154,Movie,A California Christmas,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,2
168,Movie,A Fall from Grace,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",United States,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki...",168,3
177,Movie,A Go! Go! Cory Carson Christmas,"Alan C. Lim, Taron C. Hensley, Maisie Benson, ...",United States,"November 27, 2020",2020,TV-Y,22 min,Children & Family Movies,When a familiar-looking stranger crashes in wi...,177,1
200,Movie,A Love Song for Latasha,NaN,United States,"September 21, 2020",2020,TV-PG,20 min,Documentaries,The killing of Latasha Harlins became a flashp...,200,8
...,...,...,...,...,...,...,...,...,...,...,...,...
7569,Movie,What Would Sophia Loren Do?,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,7
7576,Movie,Wheels of Fortune,"Matt Jones, Noureen DeWulf, John Ducey, Matty ...",United States,"November 1, 2020",2020,R,107 min,"Comedies, Sports Movies","To claim a big inheritance, a down-on-his-luck...",7576,4
7662,Movie,Work It,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,7662,1
7710,Movie,"Yes, God, Yes","Natalia Dyer, Timothy Simons, Wolfgang Novogra...",United States,"October 22, 2020",2020,R,78 min,"Comedies, Dramas, Independent Movies",A devoutly religious teen grapples with her ow...,7710,6
7722,Movie,You Are My Home,"Alyssa Milano, Angel Parker, Cristián de la Fu...",United States,"December 4, 2020",2020,TV-PG,93 min,"Children & Family Movies, Dramas","After becoming separated from her family, a yo...",7722,8

In [136]:
movie_usa[movie_usa.release_year != 2020]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
1514,s1515,Movie,"Crack: Cocaine, Corruption & Conspiracy",Stanley Nelson,NaN,United States,"January 11, 2021",2021,TV-MA,90 min,Documentaries,"A cheap, powerful drug emerges during a recess...",1514,2
6670,s6671,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,6670,6
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,7

In [137]:
#Rename variables

movie_usa.rename(columns = {'title':'Tituto_movie', 'duration':'Duration_movie'}, inplace = True)

C:\Users\Roberto\AppData\Local\Temp\ipykernel_23976\2731978430.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_usa.rename(columns = {'title':'Tituto_movie', 'duration':'Duration_movie'}, inplace = True)

In [138]:
movie_usa

,show_id,type,Tituto_movie,director,cast,country,date_added,release_year,rating,Duration_movie,listed_in,description,new_col,number
147,s148,Movie,A Babysitter's Guide to Monster Hunting,Rachel Talalay,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,Children & Family Movies,"Recruited by a secret society of babysitters, ...",147,3
154,s155,Movie,A California Christmas,Shaun Paul Piccinino,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,2
168,s169,Movie,A Fall from Grace,Tyler Perry,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",United States,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki...",168,3
177,s178,Movie,A Go! Go! Cory Carson Christmas,"Stanley Moore, Alex Woo","Alan C. Lim, Taron C. Hensley, Maisie Benson, ...",United States,"November 27, 2020",2020,TV-Y,22 min,Children & Family Movies,When a familiar-looking stranger crashes in wi...,177,1
200,s201,Movie,A Love Song for Latasha,Sophia Nahli Allison,NaN,United States,"September 21, 2020",2020,TV-PG,20 min,Documentaries,The killing of Latasha Harlins became a flashp...,200,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,7
7576,s7577,Movie,Wheels of Fortune,Shaun Paul Piccinino,"Matt Jones, Noureen DeWulf, John Ducey, Matty ...",United States,"November 1, 2020",2020,R,107 min,"Comedies, Sports Movies","To claim a big inheritance, a down-on-his-luck...",7576,4
7662,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,7662,1
7710,s7711,Movie,"Yes, God, Yes",Karen Maine,"Natalia Dyer, Timothy Simons, Wolfgang Novogra...",United States,"October 22, 2020",2020,R,78 min,"Comedies, Dramas, Independent Movies",A devoutly religious teen grapples with her ow...,7710,6
7722,s7723,Movie,You Are My Home,Amanda Raymond,"Alyssa Milano, Angel Parker, Cristián de la Fu...",United States,"December 4, 2020",2020,TV-PG,93 min,"Children & Family Movies, Dramas","After becoming separated from her family, a yo...",7722,8

### Export data

In [139]:
movie_usa.to_csv("../movie_usa.csv")

In [140]:
movie_usa.to_excel("../movie_usa.xlsx")

### References 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html