# Introduction Python

## Tuples, Lists, Dictionaries, Arrays

## 1.0 Types of variables

In [1]:
a1 = 3.141
type(a1)

float

In [2]:
a2 = 3.1416165516
type(a2)

float

In [3]:
# from float to int 

int(a2)

3

In [4]:
b1 = 10000
type(b1)

int

In [5]:
# from int to float 

float(b1)

10000.0

In [6]:
b2 = 8
type(b2)

int

In [7]:
c1 = "My first python code"
print(c1)

My first python code

In [8]:
c2 = 'Lab1 Pucp'
print(c2)

Lab1 Pucp

In [9]:
type(c2)

str

In [10]:
# including a space using \n

c1 = "First python code"
print(c1, '\n')

First python code

In [11]:
# join string 

print(c1 + ": " + c2)

First python code: Lab1 Pucp

In [12]:
# using 


print(f'{c1} : semester 2022-1')

First python code : semester 2022-1

In [13]:
d = 2022

In [14]:
print(f'{c1} : semester {d}-1')

First python code : semester 2022-1

In [15]:
print('{} : semester {}-1'.format(c1,d))

First python code : semester 2022-1

In [16]:
#Using % string 

print("%s : semester %s -1" % (c1,d))

First python code : semester 2022 -1

In [17]:
#first character
print('Fisrt letter is :',c1[0])

Fisrt letter is : F

In [18]:
#first word
print('Fisrt letter is :',c1[0:5])

Fisrt letter is : First

In [19]:
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
             the world of Python"""
print(my_string)

Hello, welcome to
             the world of Python

### 2. 0 Bool variables 

It’s used to represent the truth value of an expression.

In [20]:
"a" == "a"

True

In [21]:
1 == 1

True

In [22]:
z1 = (1==1)

In [23]:
int(z1)

1

In [24]:
z1 = int(z1)
print(z1)

1

In [25]:
z2 = (10 > 20)
int(z2)

0

In [26]:
z3 = (100 != 100)
int(z3)

0

## 3.0 Tuple

#### It is an ordered and immutable Python object

In [27]:
T1 = (1,4,8,10,20,15,4,5,8,8)
type(T1)

tuple

In [28]:
# aritmethic operations

print("Suma:", sum(T1),'\n', "Minimo:", min(T1), '\n', "Maximo:", max(T1))

Suma: 83
 Minimo: 1
 Maximo: 20

In [29]:
len(T1) # lenght of tuple

10

In [30]:
T1[1] # get tuple's element

4

In [31]:
T1[0:3]

# 0 : first element
# end - 1 element

(1, 4, 8)

In [32]:
# It is not possible to change
T1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [33]:
# count times of 8
T1.count(8)

3

In [34]:
#position
T1.index(8)

2

In [35]:
T2 = ("alex", 5, True)
len(T2[0])

4

## 4.0 List

#### It is an ordered and mutable Python container.

In [36]:
L1 = []
print(L1)

[]

In [37]:
dis1 = ["ATE", 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO']
dis1

['ATE', 'BARRANCO', 'BREÑA', 'CALLAO', 'CARABAYLLO']

In [38]:
dis2 = ['ATE', 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO','CHACLACAYO','CHORRILLOS','CIENEGUILLA'
            ,'COMAS','EL_AGUSTINO','INDEPENDENCIA']

In [39]:
dis2

['ATE',
 'BARRANCO',
 'BREÑA',
 'CALLAO',
 'CARABAYLLO',
 'CHACLACAYO',
 'CHORRILLOS',
 'CIENEGUILLA',
 'COMAS',
 'EL_AGUSTINO',
 'INDEPENDENCIA']

In [40]:
print(type(dis2))

<class 'list'>

In [41]:
dis2[0]

'ATE'

In [42]:
dis2[2:5]

['BREÑA', 'CALLAO', 'CARABAYLLO']

In [43]:
type(dis2[-1])

str

In [44]:
dis2[-5:-1]

['CHORRILLOS', 'CIENEGUILLA', 'COMAS', 'EL_AGUSTINO']

In [45]:
len(dis2)

11

In [46]:
num = [13,5,5,8,9,10,5,8,13,1,20]
num.sort()
print(num)

[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20]

In [47]:
num.append(102)
print(num)

[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20, 102]

In [48]:
num2 = [10,20,30]
num.extend(num2)
print(num)

[1, 5, 5, 5, 8, 8, 9, 10, 13, 13, 20, 102, 10, 20, 30]

In [49]:
print(num.index(102))

11

In [50]:
print("Suma:", sum(num),'\n', "Minimo:", min(num), '\n', "Maximo:", max(num))

Suma: 259
 Minimo: 1
 Maximo: 102

In [51]:
import numpy as np

list1 = [ np.array([1,2,3]), "R", 120]

list1

[array([1, 2, 3]), 'R', 120]

In [52]:
# from tuple to list 
T3 = (1,4,8,10,20,15,4,5,8,8)
#list(range(0,10))
T3 = list(T3)

print(list(T2))
T2 = ("alex", 5, True)
type(T2[2])
# No use list as a object´s name

['alex', 5, True]

bool

## 5.0 Dictionarities

In [53]:
Postal_code = {'Majes': 40520, 'Mollendo': 40701, 'Islay': 40704, 'Cotahuasi': 40801, 'Alca': 40802 }
type(Postal_code)

dict

In [54]:
Postal_code

{'Majes': 40520,
 'Mollendo': 40701,
 'Islay': 40704,
 'Cotahuasi': 40801,
 'Alca': 40802}

In [55]:
Postal_code.clear()
print( Postal_code )

{}

In [56]:
Postal_code = {'Majes': 40520, 'Mollendo': 40701,
               'Islay': 40704, 'Cotahuasi': 40801, 
               'Alca': 40802 }

In [57]:
# Get information from key
Postal_code.keys()
Postal_code.get('Islay')

40704

In [58]:
# Drop key
Postal_code.pop('Islay')
Postal_code

{'Majes': 40520, 'Mollendo': 40701, 'Cotahuasi': 40801, 'Alca': 40802}

In [59]:
Postal_code.update( { "CHARCANA" :  40803 } )
Postal_code.update( {"LOMAS": {"UBIGEO": 40311, "Poverty Rate" : "18.2%", "Population" : "20 mil"}})

In [60]:
Postal_code.get('LOMAS').get('Poverty Rate')

'18.2%'

In [61]:
Postal_code['LOMAS']['Poverty Rate']

'18.2%'

In [62]:
# keys
cities = ['Fray Martin','Santa Rosa de Puquio','Cuchicorral','Santiago de Punchauca','La Cruz (11 Amigos)','Cerro Cañon','Cabaña Suche','San Lorenzo','Jose Carlos Mariategui','Pascal','La Esperanza','Fundo Pancha Paula','Olfa','Rio Seco','Paraiso','El Rosario','Cerro Puquio','La Campana','Las Animas','Vetancio','Roma Alta','San Jose','San Pedro de Carabayllo','Huacoy','Fundo Pampa Libre','Ex Fundo Santa Ines','Reposo','Carmelito','Santa Elena','Don Luis','Santa Ines Parcela','Asociacion Santa Ines','Roma Baja','Residencial Santa Lucia','San Francisco','Santa Margarita - Molinos','Sipan Peru','Fundo Cuadros','Bello Horizonte','El Hueco','Ex Fundo Mariategui','Naranjito','Vista Hermosa','El Sabroso de Jose Carlos Mariategui','Granja Carabayllo','Agropecuario Valle el Chillon','Camino Real','Copacabana','El Trebol','Tablada la Virgen','San Fernando de Carabayllo','San Fernando de Copacabana','La Manzana','Chacra Grande','Torres de Copacabana','San Pedro de Carabayllo','San Lorenzo','Chaclacayo','Chorrillos','Cieneguilla','Lindero','Pichicato','San Isidro','San Vicente','Piedra Liza','Santa Rosa de Chontay (Chontay)','La Libertad','El Agustino','Independencia','Jesus Maria','La Molina','La Victoria','Lince','Las Palmeras','Chosica','Lurin','Los Almacigos','Rinconada del Puruhuay','Fundo Santa Genoveva','Los Maderos','Casco Viejo','Vista Alegre','Buena Vista Alta','Lomas Pucara','Fundo la Querencia','Magdalena del Mar','Pueblo Libre','Miraflores','Pachacamac','Puente Manchay','Tambo Inga','Pampa Flores','Manchay Alto Lote B','Invasion Cementerio','Manchay Bajo','Santa Rosa de Mal Paso','Cardal','Jatosisa','Tomina','Pucusana','Honda','Quipa','Los Pelicanos','Playa Puerto Bello','Ñaves','Granja Santa Elena','Alvatroz II','Poseidon - Lobo Varado','Playa Minka Mar','Playa Acantilado','Puente Piedra','Punta Hermosa','Capilla Lucumo','Cucuya','Pampapacta','Avicola San Cirilo de Loma Negra - 03','Avicola San Cirilo de Loma Negra - 02','Avicola San Cirilo de Loma Negra - 01','Pampa Mamay','Cerro Botija','Agricultores y Ganaderos','Pampa Malanche Avicola Puma','Punta Negra','Chancheria','Rimac','San Bartolo','Plantel 41','Granja 4','Granja 5','Granja 07','Granja 44','Granja 47','Santa Maria I','Las Torres Santa Fe','San Francisco de Borja','San Isidro','San Juan de Lurigancho','Ciudad de Dios','San Luis','Barrio Obrero Industrial','San Miguel','Santa Anita - los Ficus','Santa Maria del Mar','Don Bruno','Santa Rosa','Santiago de Surco','Surquillo','Villa el Salvador','Villa Maria del Triunfo', 'Pueblo libre']
# values
postal_code1 = [15001,15003,15004,15006,15018,15019,15046,15072,15079,15081,15082,15083,15088,15123,15004,15011,15012,15019,15022,15023,15026,15476,15479,15483,15487,15491,15494,15498,15047,15049,15063,15082,15083,15121,15122,15313,15316,15318,15319,15320,15321,15324,15320,15320,15320,15320,15320,15320,15121,15320,15320,15121,15320,15320,15121,15121,15122,15122,15121,15121,15121,15320,15320,15320,15320,15320,15320,15121,15121,15121,15320,15121,15319,15121,15121,15121,15320,15320,15121,15121,15121,15121,15320,15320,15320,15122,15122,15122,15122,15122,15122,15122,15122,15121,15121,15122,15122,15121,15121,15122,15122,15121,15122,15122,15122,15472,15476,15054,15056,15057,15058,15063,15064,15066,15067,15593,15594,15593,15593,15593,15593,15593,15593,15593,15311,15312,15313,15314,15316,15324,15326,15327,15328,15332,15003,15004,15006,15007,15008,15009,15011,15018,15022,15311,15328,15331,15332,15333,15046, 15001]

In [63]:
# Return a dictionarie
ct_pc = dict( zip( cities , postal_code1) )

In [64]:
ct_pc

{'Fray Martin': 15001,
 'Santa Rosa de Puquio': 15003,
 'Cuchicorral': 15004,
 'Santiago de Punchauca': 15006,
 'La Cruz (11 Amigos)': 15018,
 'Cerro Cañon': 15019,
 'Cabaña Suche': 15046,
 'San Lorenzo': 15122,
 'Jose Carlos Mariategui': 15079,
 'Pascal': 15081,
 'La Esperanza': 15082,
 'Fundo Pancha Paula': 15083,
 'Olfa': 15088,
 'Rio Seco': 15123,
 'Paraiso': 15004,
 'El Rosario': 15011,
 'Cerro Puquio': 15012,
 'La Campana': 15019,
 'Las Animas': 15022,
 'Vetancio': 15023,
 'Roma Alta': 15026,
 'San Jose': 15476,
 'San Pedro de Carabayllo': 15121,
 'Huacoy': 15483,
 'Fundo Pampa Libre': 15487,
 'Ex Fundo Santa Ines': 15491,
 'Reposo': 15494,
 'Carmelito': 15498,
 'Santa Elena': 15047,
 'Don Luis': 15049,
 'Santa Ines Parcela': 15063,
 'Asociacion Santa Ines': 15082,
 'Roma Baja': 15083,
 'Residencial Santa Lucia': 15121,
 'San Francisco': 15122,
 'Santa Margarita - Molinos': 15313,
 'Sipan Peru': 15316,
 'Fundo Cuadros': 15318,
 'Bello Horizonte': 15319,
 'El Hueco': 15320,
 'Ex Fundo Mariategui': 15321,
 'Naranjito': 15324,
 'Vista Hermosa': 15320,
 'El Sabroso de Jose Carlos Mariategui': 15320,
 'Granja Carabayllo': 15320,
 'Agropecuario Valle el Chillon': 15320,
 'Camino Real': 15320,
 'Copacabana': 15320,
 'El Trebol': 15121,
 'Tablada la Virgen': 15320,
 'San Fernando de Carabayllo': 15320,
 'San Fernando de Copacabana': 15121,
 'La Manzana': 15320,
 'Chacra Grande': 15320,
 'Torres de Copacabana': 15121,
 'Chaclacayo': 15122,
 'Chorrillos': 15121,
 'Cieneguilla': 15121,
 'Lindero': 15121,
 'Pichicato': 15320,
 'San Isidro': 15004,
 'San Vicente': 15320,
 'Piedra Liza': 15320,
 'Santa Rosa de Chontay (Chontay)': 15320,
 'La Libertad': 15320,
 'El Agustino': 15121,
 'Independencia': 15121,
 'Jesus Maria': 15121,
 'La Molina': 15320,
 'La Victoria': 15121,
 'Lince': 15319,
 'Las Palmeras': 15121,
 'Chosica': 15121,
 'Lurin': 15121,
 'Los Almacigos': 15320,
 'Rinconada del Puruhuay': 15320,
 'Fundo Santa Genoveva': 15121,
 'Los Maderos': 15121,
 'Casco Viejo': 15121,
 'Vista Alegre': 15121,
 'Buena Vista Alta': 15320,
 'Lomas Pucara': 15320,
 'Fundo la Querencia': 15320,
 'Magdalena del Mar': 15122,
 'Pueblo Libre': 15122,
 'Miraflores': 15122,
 'Pachacamac': 15122,
 'Puente Manchay': 15122,
 'Tambo Inga': 15122,
 'Pampa Flores': 15122,
 'Manchay Alto Lote B': 15122,
 'Invasion Cementerio': 15121,
 'Manchay Bajo': 15121,
 'Santa Rosa de Mal Paso': 15122,
 'Cardal': 15122,
 'Jatosisa': 15121,
 'Tomina': 15121,
 'Pucusana': 15122,
 'Honda': 15122,
 'Quipa': 15121,
 'Los Pelicanos': 15122,
 'Playa Puerto Bello': 15122,
 'Ñaves': 15122,
 'Granja Santa Elena': 15472,
 'Alvatroz II': 15476,
 'Poseidon - Lobo Varado': 15054,
 'Playa Minka Mar': 15056,
 'Playa Acantilado': 15057,
 'Puente Piedra': 15058,
 'Punta Hermosa': 15063,
 'Capilla Lucumo': 15064,
 'Cucuya': 15066,
 'Pampapacta': 15067,
 'Avicola San Cirilo de Loma Negra - 03': 15593,
 'Avicola San Cirilo de Loma Negra - 02': 15594,
 'Avicola San Cirilo de Loma Negra - 01': 15593,
 'Pampa Mamay': 15593,
 'Cerro Botija': 15593,
 'Agricultores y Ganaderos': 15593,
 'Pampa Malanche Avicola Puma': 15593,
 'Punta Negra': 15593,
 'Chancheria': 15593,
 'Rimac': 15311,
 'San Bartolo': 15312,
 'Plantel 41': 15313,
 'Granja 4': 15314,
 'Granja 5': 15316,
 'Granja 07': 15324,
 'Granja 44': 15326,
 'Granja 47': 15327,
 'Santa Maria I': 15328,
 'Las Torres Santa Fe': 15332,
 'San Francisco de Borja': 15003,
 'San Juan de Lurigancho': 15006,
 'Ciudad de Dios': 15007,
 'San Luis': 15008,
 'Barrio Obrero Industrial': 15009,
 'San Miguel': 15011,
 'Santa Anita - los Ficus': 15018,
 'Santa Maria del Mar': 15022,
 'Don Bruno': 15311,
 'Santa Rosa': 15328,
 'Santiago de Surco': 15331,
 'Surquillo': 15332,
 'Villa el Salvador': 15333,
 'Villa Maria del Triunfo': 15046,
 'Pueblo libre': 15001}

## 6.0 Numpy (array, matrices)

A library is a collection of modules or a single module. Libraries are the tools we will use to make our program.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1D array
a = np.array( [1, 2, 3, 4, 5] )
a
type(a)

numpy.ndarray

In [3]:
np.mean(a)

3.0

Standar deviation in Python by default

\begin{equation}
 sd(x) = \sqrt{\frac{\sum(x_i-\bar{x})}{N}}
\end{equation}

In [4]:
np.std(a)

1.4142135623730951

In [5]:
np.std(a,ddof=1)

1.5811388300841898

In [6]:
# 2D array
M = np.array( [ [1, 2, 3], [4, 5, 6] ] )

print(M)
type(M)

[[1 2 3]
 [4 5 6]]

numpy.ndarray

In [7]:
print(np.mean(M, axis=0)) # vertical operation axis = 0

print(np.mean(M, axis=1)) # horizontal operation axis = 1

[2.5 3.5 4.5]
[2. 5.]

In [8]:
print("Rows:",M.shape[0],"\n", "Columns: ", M.shape[1])

Rows: 2
 Columns:  3

In [9]:
# Create a 1D NumPy array with values from 0 to 20 (exclusively) incremented by 2:
y = np.arange( 0, 20, 2 )
print(y.shape)
print(y)

(10,)
[ 0  2  4  6  8 10 12 14 16 18]

In [10]:
y[0]

0

In [11]:
# deafult one by one 

y = np.arange( 0, 10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
for i in np.arange(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
A = np.array([np.arange(0,10), np.arange(10,20), np.arange(30,40), np.arange(-20,-10), np.arange(2,21,2)])

In [14]:
A[2:5,:]  # rows selecrtion

array([[ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
       [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20]])

In [15]:
A[:,0:6]  # columns selecrtion

array([[  0,   1,   2,   3,   4,   5],
       [ 10,  11,  12,  13,  14,  15],
       [ 30,  31,  32,  33,  34,  35],
       [-20, -19, -18, -17, -16, -15],
       [  2,   4,   6,   8,  10,  12]])

In [73]:
M1 = np.zeros( (8, 2) )
print(M1)

[[0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]]

In [74]:
M2 = np.ones( (8, 4) )
print(M2)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

## Join matrix

In [205]:
M3 = np.hstack((M1,M2))
M3


#vstack

array([[0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1., 1.]])

In [ ]:
con1 = np.concatenate((M1,M2), axis = 1) # add more columns. This is a horizontal operation
con1

In [206]:
M4 = np.array([[2,2,3,4,5,1],[1,5,5,9,8,2]])
print(M4)

[[2 2 3 4 5 1]
 [1 5 5 9 8 2]]

In [208]:
M5 = np.vstack((M3,M4))
print(M5)
M5.T

[[0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [0. 0. 1. 1. 1. 1.]
 [2. 2. 3. 4. 5. 1.]
 [1. 5. 5. 9. 8. 2.]]

array([[0., 0., 0., 0., 0., 0., 0., 0., 2., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 5.],
       [1., 1., 1., 1., 1., 1., 1., 1., 3., 5.],
       [1., 1., 1., 1., 1., 1., 1., 1., 4., 9.],
       [1., 1., 1., 1., 1., 1., 1., 1., 5., 8.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 2.]])

In [ ]:
con2 = np.concatenate((M3,M4), axis = 0) # add more rows. This is a vertical operation
con2

In [78]:
# Create a 1D NumPy array of ones of length 10:
w = np.ones(10)
print(w)
type(w)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

numpy.ndarray

In [79]:
# Create the identity matrix of size 8:
I = np.eye(8)
print(I)

[[1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1.]]

In [80]:
I3 = I.reshape(32, 2)
print(I3)

[[1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]]

In [81]:
#Transpose
print(I3.T)
(I3.T).shape

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
  0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
  0. 0. 0. 0. 0. 0. 0. 1.]]

(2, 32)

In [237]:
import random 

random.seed(756)

x1 = np.random.rand(500) # uniform distribution  [0,1]
x2 = np.random.rand(500) # uniform distribution [0,1]
x3 = np.random.rand(500) # uniform distribution [0,1]
x4 = np.random.rand(500) # uniform distribution [0,1]
e = np.random.normal(0,1,500) # normal distribution mean = 0 and sd = 1

# Poblacional regression (Data Generating Process GDP)


Y = 1 + 0.8*x1 + 1.2*x2 + 0.5*x3 + 1.5*x4 + e

In [238]:
X = np.column_stack((np.ones(500),x1,x2,x3,x4))
X

array([[1.        , 0.82143752, 0.77506974, 0.56985783, 0.5991409 ],
       [1.        , 0.21332814, 0.9636352 , 0.91069215, 0.4371743 ],
       [1.        , 0.30127242, 0.80668595, 0.60806435, 0.64983449],
       ...,
       [1.        , 0.5287086 , 0.92499686, 0.09077985, 0.9199916 ],
       [1.        , 0.54919718, 0.8250157 , 0.00817754, 0.34395405],
       [1.        , 0.1303242 , 0.90792156, 0.8851071 , 0.65142884]])

In [239]:
beta = np.linalg.inv(X.T @ X) @ ((X.T) @ Y )

array([0.95331358, 0.80952446, 1.13566675, 0.87588083, 1.31801947])

In [240]:
beta

array([0.95331358, 0.80952446, 1.13566675, 0.87588083, 1.31801947])

In [202]:
Y_hat = X @ beta
Y_hat
u = Y - Y_hat

sigma = (u.T @ u)/(500-5)
sigma

1.0336346104484013

In [171]:
cov = sigma*(np.linalg.inv(X.T @ X))
cov

array([[ 0.02828333, -0.01416922, -0.01243349, -0.01265894, -0.01237873],
       [-0.01416922,  0.02501452, -0.00166621,  0.00189245,  0.00252297],
       [-0.01243349, -0.00166621,  0.02559144,  0.00015771, -0.00066608],
       [-0.01265894,  0.00189245,  0.00015771,  0.02406502, -0.00038069],
       [-0.01237873,  0.00252297, -0.00066608, -0.00038069,  0.02341702]])

In [183]:
SCT = Y.T @ Y - 500*np.mean(Y)
SCE = Y_hat.T @ Y_hat - 500*np.mean(Y_hat)
SCR = u.T @ u
np.std(u)

1.0115820601137198

In [197]:
R2 = 1 -SCR/SCT
R2

0.8720628672048172

In [198]:
M = np.eye(500)-X @ np.linalg.inv(X.T @ X) @ X.T

In [200]:
u2 = M @ Y
u2

array([ 6.99586769e-01, -1.39775127e+00, -3.65475254e-01, -9.54766939e-01,
       -2.00027844e+00, -8.34919686e-01, -7.99017543e-01, -1.11873125e+00,
        5.80239673e-01,  4.00452064e-01, -2.26437362e+00,  2.75537061e-01,
       -8.39841729e-01,  7.61371094e-01,  1.02019227e+00, -2.53703367e-01,
        1.31042582e+00,  7.87966631e-01,  8.59925353e-01,  7.62165048e-01,
       -3.31762569e-01,  1.04389830e+00, -7.19026370e-01,  5.14198857e-01,
        5.14317002e-01,  9.48985755e-01, -2.04386563e-01, -4.38416090e-01,
       -1.91679487e+00,  8.43259349e-01, -1.39229482e+00,  5.04279756e-01,
       -9.00293012e-01, -5.26255504e-01,  1.04125881e+00, -6.22557730e-01,
       -1.45776305e+00,  5.16502718e-01,  3.77167028e-01, -5.36157640e-02,
       -3.27159429e-01, -9.33069353e-01, -1.01157679e+00,  1.36004111e-01,
        2.40991282e-01, -3.23557722e-01, -5.46127245e-01,  8.65961708e-01,
       -5.24525610e-01, -6.65769301e-02, -1.73210566e+00, -1.15749074e+00,
       -3.21713060e-01, -8.11289168e-01,  8.96531329e-01,  1.45416225e+00,
       -5.52696930e-01, -1.07808621e-01,  1.45442503e+00, -1.54833592e+00,
       -3.26997037e+00, -1.88908032e-01, -1.19013419e-01,  2.00105301e+00,
       -1.92885342e+00,  3.68216905e-01, -5.71374054e-01, -9.68650605e-01,
        1.25732390e+00, -2.45907860e+00, -1.67731466e-01, -3.61135796e-01,
       -1.36663420e+00,  2.66767604e-01, -3.12593381e-01,  4.61282808e-01,
        7.50243434e-01, -1.13173071e+00,  6.58353512e-02,  1.10524157e+00,
       -1.57336648e+00, -1.97922027e-01,  4.15473654e-01, -1.20093024e+00,
        1.78651399e+00, -1.42629681e+00, -1.74844328e-01, -1.79597243e+00,
       -3.14647861e-01,  6.31831990e-01,  5.72744341e-01, -1.56481665e+00,
       -5.91793702e-01, -1.82189774e+00, -1.09916376e+00,  4.86599755e-01,
        9.95253102e-01,  7.98161908e-03, -2.23934833e+00,  1.33164720e+00,
        8.39216578e-01, -1.02864717e-01, -1.89548742e+00, -1.65477781e+00,
       -2.35512875e-01, -2.61956549e+00, -1.38474180e+00,  1.48374201e+00,
       -6.18472035e-01, -5.63543917e-01,  9.54713542e-01, -6.26676881e-01,
        6.60632341e-01, -1.29639267e+00,  4.02583446e-01,  6.41666828e-01,
        6.73573168e-02, -6.94174449e-01,  1.11313964e+00,  5.98259663e-01,
        1.90613977e-01,  2.29780185e-01,  7.50028598e-01, -1.28819061e+00,
       -1.67987898e+00, -4.81148023e-02, -5.83507919e-01,  1.35976225e+00,
        1.65986006e+00,  3.36149096e-01, -9.49472522e-01,  5.37385756e-01,
       -1.57361408e+00, -1.22099277e+00,  1.23099620e+00,  2.31606312e-01,
        6.29668266e-01, -1.76655110e+00,  5.54706926e-01,  1.03065235e+00,
       -1.70275145e-01, -7.96836701e-02, -1.99874152e+00, -1.26892743e+00,
        7.36293021e-01,  1.21366545e-01,  6.01135988e-02, -1.77647735e+00,
        8.12245768e-01, -1.00206973e+00, -4.92635380e-01,  2.72778516e-01,
       -2.89225083e-01,  2.82845913e+00, -4.71176014e-01,  1.72948108e+00,
        7.84075999e-01, -1.00830523e+00,  1.32537447e+00,  5.35309687e-01,
        7.52659205e-01, -9.52722160e-01,  1.41029342e+00, -7.26979375e-01,
        6.45867582e-01,  1.67387186e+00, -8.17164911e-01,  7.56724788e-02,
        5.70128349e-02,  1.16194970e+00, -5.11184463e-01, -5.24050635e-01,
        5.06409275e-01, -1.88639354e+00,  3.46032645e-01, -2.18689324e-01,
        1.54569808e+00, -7.45702658e-01,  2.44783628e-01,  2.70522012e-01,
        7.30152991e-02,  7.59436290e-02,  1.58124756e+00,  8.39726467e-01,
        6.40351854e-01, -1.19935294e+00, -1.02022591e+00, -7.61785822e-01,
        1.55493485e+00,  1.12729259e+00,  2.48849807e-01,  3.22575204e+00,
        1.36576754e-01,  1.03991204e+00,  1.69029898e+00,  1.09806127e+00,
        5.79522860e-01,  5.43615129e-01, -1.43584216e+00,  1.60129039e+00,
       -1.11990588e+00,  3.67305236e-01,  2.31279272e-01,  6.97150032e-01,
       -1.26393110e+00, -1.03933691e-01, -9.79545787e-01, -6.33536874e-02,
        7.91545750e-01, -1.46648848e+00, -3.18406686e-01, -2.37911048e-02,
       -6.55396126e-01, -3.54449166e-01, -3.05162923e-01,  6.34013831e-01,
        1.95768137e-01,  3.40655674e-01,  1.60997959e+00,  1.72343537e+00,
        5.93256323e-01,  1.41415005e+00,  4.77568655e-01,  6.61584731e-01,
        1.69392932e+00,  4.87644865e-01,  1.61075322e-01, -4.59811679e-02,
        7.85314608e-01,  8.10550835e-01,  5.75015518e-02, -9.23718775e-01,
       -2.43656383e+00,  3.55520845e-02,  1.47191458e+00,  7.78968242e-01,
       -3.22026504e-02, -2.49716758e-01,  8.64102075e-01,  2.35501020e-01,
        1.08122932e+00, -5.06987583e-01,  1.70203952e+00, -1.46734390e+00,
       -2.36385791e-01,  1.59525006e+00,  5.53891697e-01,  9.62359285e-01,
       -1.71072234e+00, -4.62454381e-01,  4.17387269e-01,  1.67885126e-01,
       -1.18770889e+00,  4.07184162e-01,  3.30737785e-01,  5.04558253e-01,
       -6.81180966e-01,  6.49924071e-01,  8.49464132e-01, -1.41361343e+00,
       -7.00723228e-01,  1.81585121e+00,  4.30000266e-01, -1.18129378e+00,
        8.02468377e-01, -4.26002704e-01, -5.85679956e-01,  2.29095551e+00,
       -3.12379061e-02,  8.21430625e-01, -6.24704835e-01, -1.33783524e+00,
        1.09286537e+00,  7.62697940e-01, -1.12271615e+00,  6.41623860e-01,
       -4.48792962e-01, -2.16498292e-01, -1.51294186e+00, -1.69466552e-01,
        5.30890044e-01,  5.29621523e-01,  3.01885032e-01,  1.24537651e+00,
       -6.05059402e-01, -2.17338069e+00, -9.41744800e-01,  1.16678067e-01,
        9.88169999e-01, -1.69393502e-01, -1.34139455e+00,  3.04144069e-01,
        1.03975272e+00, -3.18220341e-01, -7.05602763e-01, -2.60768222e-01,
        1.62476682e+00, -4.88344579e-01,  1.65838217e+00,  2.63101707e-01,
       -2.04494446e-01, -6.24625808e-01,  1.27206433e+00,  2.58626532e-01,
       -1.26251866e+00,  9.50024939e-01, -1.81471046e-01, -1.21067161e+00,
       -1.97914307e+00, -7.96223924e-02, -7.13331856e-03,  2.91326590e-01,
       -2.43211626e-01, -1.47430797e-01,  7.30098503e-01,  2.91892746e+00,
        4.94111320e-01,  8.55991748e-01, -9.98339145e-01, -1.15549323e+00,
       -9.86243482e-01, -2.50879654e-01,  2.18973011e+00,  3.66888579e-01,
       -3.20583461e-01, -5.73432279e-02,  1.58966288e-01,  1.06900075e-01,
       -3.10132833e-01, -2.89162528e-01, -3.46946305e+00,  3.58751231e-01,
        9.60465282e-02, -3.37699468e-01,  8.66587274e-01,  7.36709524e-02,
        5.92555610e-01,  2.39495942e-01, -2.04738326e+00,  2.39285610e+00,
        1.46340854e-01, -8.78599977e-01,  1.66490492e+00,  4.41193234e-01,
       -7.37749923e-01,  9.48055493e-02,  3.63602674e-01, -9.18341074e-01,
        9.65353987e-01,  2.53173910e+00, -5.57600501e-01, -8.92557481e-01,
       -1.47559432e+00, -1.50087490e+00,  4.30444553e-01, -1.32558262e+00,
       -2.28906120e-01,  1.04696593e-01,  4.40072511e-01, -1.20251394e-01,
        9.34518673e-01,  3.50717905e-01, -1.37740279e-02,  7.79651872e-01,
        4.12587827e-01,  5.69701418e-01,  9.94598470e-02,  2.81037090e-01,
        1.81343627e+00, -4.18134002e-01,  1.43070605e+00,  4.50819813e-01,
       -1.49266451e+00,  5.54545077e-01,  4.34099340e-01, -5.11101062e-01,
       -3.46067136e-02,  1.74117010e-03,  3.27235597e-02,  1.84541795e+00,
       -8.09989658e-01, -5.00295711e-01, -5.49733620e-01, -1.30500832e+00,
        1.04496547e+00,  1.48210729e+00, -1.48725619e+00, -7.23602812e-01,
       -9.07309173e-03, -3.63249114e-01, -8.32332043e-01,  2.79617795e-01,
        6.40025597e-01,  6.25427367e-01,  4.16813014e-01, -7.54426758e-01,
        7.78990275e-01,  2.09278973e+00, -6.39131542e-01,  2.07317254e-02,
        6.20384919e-02,  2.15126586e+00,  7.84984553e-01,  1.20188512e+00,
       -1.96424198e-01,  5.74905517e-01,  1.48725588e-01, -1.18278619e+00,
        6.42675698e-01,  1.19985749e+00,  3.58798927e-01, -8.37429352e-01,
        5.12344755e-01, -1.06473249e+00, -8.92662247e-01, -1.65917928e-01,
       -9.51584963e-01, -9.46621610e-01, -2.62271847e-02,  2.60937789e-01,
        6.56298122e-01, -9.66579802e-02,  2.25737350e+00,  3.22502475e-01,
        1.90611264e-01,  5.25622592e-01, -6.68485129e-01, -9.46917349e-01,
        6.32338289e-01,  2.04261922e-01,  4.47076996e-01, -4.74770767e-01,
       -3.77696192e-01,  9.03231788e-01, -3.06518698e-01,  4.60426495e-01,
       -1.45204985e+00,  5.64444750e-01, -1.90778321e-01,  5.67389574e-01,
       -1.51541697e+00,  6.09501497e-01, -8.20987330e-01,  4.71875392e-01,
        3.08548713e-01,  1.21155586e+00,  3.72969569e-02, -1.63508086e-01,
       -1.89683176e-01,  1.62507393e+00, -2.46566398e-01,  2.60283992e-01,
       -4.70524219e-01,  8.69241499e-01, -1.15005562e+00,  9.89218807e-01,
        1.11439351e+00,  1.04962517e+00, -5.25689479e-01, -1.73578425e+00,
       -8.49757880e-01,  5.38559516e-01, -6.07016189e-01,  1.50236022e+00,
       -9.95681358e-01,  8.38323199e-01,  7.08226611e-03, -6.20783966e-02,
       -4.81905950e-02,  1.17429408e+00,  1.77787747e-01,  8.01739597e-01,
        1.27743082e+00, -1.09832122e-01,  5.62861673e-01, -2.39622856e-03,
        2.97150257e-01, -1.46759569e+00,  5.40616289e-01,  4.62747393e-01,
       -1.58833614e+00, -3.54592545e-01, -1.66119252e+00, -1.39415251e+00,
       -2.68465424e-01, -8.18004206e-01,  7.24894346e-01,  4.16326011e-02,
       -1.39752426e+00, -5.98456520e-01, -1.30883298e-01,  8.86694788e-03,
        8.62833261e-01, -1.11423697e+00,  6.72251117e-01, -2.37978859e+00,
        1.74280872e+00, -1.54843698e+00,  1.62848918e-01, -7.44224655e-01])

# References

## Numpy 
https://numpy.org/doc/stable/reference/arrays.html