# R introduction

In [1]:
R.home()

[1] "C:/PROGRA~1/R/R-41~1.3"

In [2]:
R.version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          4
minor          1.3
year           2022
month          03
day            10
svn rev        81868
language       R
version.string R version 4.1.3 (2022-03-10)
nickname       One Push-Up

### Not use = for asignment, use <-

In [44]:
a <- b = 4

ERROR: Error in a <- b = 4: no se pudo encontrar la función "<-<-"

In [45]:
a <- b <-5
a

[1] 5

In [8]:
a1 <- 52
print(a1)
typeof(a1)  
class(a1)

# "typeof" how the object is stored and "class" is the type of object 

# double use more memory than float 

# integer, single precision and double precision

[1] 52

[1] "double"

[1] "numeric"

In [9]:
a2 <- 3.1614
print(a2)
typeof(a2)

[1] 3.1614

[1] "double"

In [47]:
a2 <- as.integer(a2)
typeof(a2)
class(a2)

[1] "integer"

[1] "integer"

In [14]:
b1 <- 10000
typeof(b1)

[1] "double"

In [18]:
b2 <- 8
typeof(b2)

[1] "double"

In [16]:
c1 <- "My first python code"
print(c1)
typeof(c1)
class(c1)

[1] "My first python code"

[1] "character"

[1] "character"

In [19]:
c1 <- "First python code"
cat(c1, '\n','\n')

First python code

In [20]:
c2 <- 'Lab1 Pucp'
cat(c1," : ",c2)

First python code  :  Lab1 Pucp

In [21]:
#install.packages("devtools")
library(glue)
a <- glue('{c1} : semester 2022-1')

Installing package into 'C:/Users/Roberto Carlos/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'devtools' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto Carlos\AppData\Local\Temp\RtmpcHPuc3\downloaded_packages

In [23]:
typeof(a)
class(a)

[1] "character"

[1] "glue"      "character"

In [24]:
d <- 2022
glue('{c1} : semester {d}-1')

First python code : semester 2022-1

In [25]:
sprintf(" %s. : %s.-1", c1, d)

[1] " First python code. : 2022.-1"

In [26]:
#first character
cat('Fisrt letter is :', substr(c1, 1,1)  )

Fisrt letter is : F

In [27]:
#first word
cat('Fisrt word is :', substr(c1, 1,5)  )

Fisrt word is : First

## 2.0 Logical variables

It’s used to represent the truth value of an expression.

In [28]:
a == a

[1] TRUE

In [29]:
1 == 1

[1] TRUE

In [32]:
z1 <- (1==1)
typeof(z1)
class(z1)

[1] "logical"

[1] "logical"

In [33]:
z1 <- as.integer(z1)
print(z1)
class(z1)

[1] 1

[1] "integer"

In [21]:
z2 <- (10 > 20)
as.integer(z2)

[1] 0

In [22]:
z3 <- (100 != 100)
z3 <- as.integer(z3)
typeof(z3)

[1] "integer"

## 3.0 List

In [48]:
L1 <- list()

In [49]:
dis1 <- list('ATE', 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO')
dis1

[[1]]
[1] "ATE"

[[2]]
[1] "BARRANCO"

[[3]]
[1] "BREÑA"

[[4]]
[1] "CALLAO"

[[5]]
[1] "CARABAYLLO"

In [50]:
typeof(dis1)
class(dis1)

[1] "list"

[1] "list"

In [63]:
dis2 <- list('ATE', 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO','CHACLACAYO','CHORRILLOS','CIENEGUILLA'
            ,'COMAS','EL_AGUSTINO','INDEPENDENCIA')
dis2

[[1]]
[1] "ATE"

[[2]]
[1] "BARRANCO"

[[3]]
[1] "BREÑA"

[[4]]
[1] "CALLAO"

[[5]]
[1] "CARABAYLLO"

[[6]]
[1] "CHACLACAYO"

[[7]]
[1] "CHORRILLOS"

[[8]]
[1] "CIENEGUILLA"

[[9]]
[1] "COMAS"

[[10]]
[1] "EL_AGUSTINO"

[[11]]
[1] "INDEPENDENCIA"

In [27]:
dis1[1]

[[1]]
[1] "ATE"

In [51]:
typeof(dis1[1])
class(dis1[1])

[1] "list"

[1] "list"

In [52]:
#double [] to get a singular object 

typeof(dis1[[1]])

[1] "character"

In [53]:
#dis1 <- list('ATE', 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO')

dis1[2:5]

[[1]]
[1] "BARRANCO"

[[2]]
[1] "BREÑA"

[[3]]
[1] "CALLAO"

[[4]]
[1] "CARABAYLLO"

In [55]:
dis1[-1:-2]

[[1]]
[1] "BREÑA"

[[2]]
[1] "CALLAO"

[[3]]
[1] "CARABAYLLO"

In [56]:
dis1[-5]

[[1]]
[1] "ATE"

[[2]]
[1] "BARRANCO"

[[3]]
[1] "BREÑA"

[[4]]
[1] "CALLAO"

In [58]:
num <- list(13,5,5,8,9,10,5,8,13,1,20)
#print(num)

length(num) # number of elements 

typeof(num[[11]])
print(num[[11]])

[1] 11

[1] "double"

[1] 20

In [60]:
# unlist to order, then covert list again 

a <- sort(unlist(num))
print(list(a))
a[11]

[[1]]
 [1]  1  5  5  5  8  8  9 10 13 13 20

[1] 20

In [61]:
max(unlist(num))

[1] 20

In [64]:
#dis2 <- list('ATE', 'BARRANCO','BREÑA', 'CALLAO', 'CARABAYLLO','CHACLACAYO','CHORRILLOS','CIENEGUILLA'
#            ,'COMAS','EL_AGUSTINO','INDEPENDENCIA')

length(dis2)

[1] 11

In [71]:
#add a single element

num <- append(num, 102)

In [72]:
num

[[1]]
[1] 13

[[2]]
[1] 5

[[3]]
[1] 5

[[4]]
[1] 8

[[5]]
[1] 9

[[6]]
[1] 10

[[7]]
[1] 5

[[8]]
[1] 8

[[9]]
[1] 13

[[10]]
[1] 1

[[11]]
[1] 20

[[12]]
[1] 102

In [73]:
# add a list 

num2 <- list(10,20,30)
append(num, num2)

[[1]]
[1] 13

[[2]]
[1] 5

[[3]]
[1] 5

[[4]]
[1] 8

[[5]]
[1] 9

[[6]]
[1] 10

[[7]]
[1] 5

[[8]]
[1] 8

[[9]]
[1] 13

[[10]]
[1] 1

[[11]]
[1] 20

[[12]]
[1] 102

[[13]]
[1] 10

[[14]]
[1] 20

[[15]]
[1] 30

In [74]:

cat("Suma:", sum(unlist(num)),'\n', "Minimo:", min(unlist(num)), '\n', "Maximo:", max(unlist(num)))

Suma: 199
 Minimo: 1
 Maximo: 102

In [76]:
# add type of objects

new_list <- list(c(1,2,3),         
                 "R ", 
                 120)
print(new_list)

[[1]]
[1] 1 2 3

[[2]]
[1] "R "

[[3]]
[1] 120

## List part 2 - dictionary

In [84]:
# using list as dictionary in python 

Postal_code <- list(Majes = 40520, Mollendo = 40701, Islay = 40704, Cotahuasi = 40801, Alca = 40802 )
print(Postal_code)

$Majes
[1] 40520

$Mollendo
[1] 40701

$Islay
[1] 40704

$Cotahuasi
[1] 40801

$Alca
[1] 40802

In [85]:
# add package to make operations 

#install.packages("rlist")
library(rlist)

In [86]:
# empty list 

a <- list()

In [95]:
#make empty
Postal_code <- list.remove(Postal_code)
Postal_code

numeric(0)

In [97]:
Postal_code <- list(Majes = 40520, Mollendo = 40701, 
                   Islay = 40704, Cotahuasi = 40801, Alca = 40802 )
print(Postal_code)

$Majes
[1] 40520

$Mollendo
[1] 40701

$Islay
[1] 40704

$Cotahuasi
[1] 40801

$Alca
[1] 40802

In [98]:
Postal_code$Islay

[1] 40704

In [99]:
a <- list.remove(Postal_code,"Islay")
a

$Majes
[1] 40520

$Mollendo
[1] 40701

$Cotahuasi
[1] 40801

$Alca
[1] 40802

In [100]:
# add new key

Postal_code <- append(Postal_code, list(CHARCANA =  40803 ))
Postal_code

$Majes
[1] 40520

$Mollendo
[1] 40701

$Islay
[1] 40704

$Cotahuasi
[1] 40801

$Alca
[1] 40802

$CHARCANA
[1] 40803

In [101]:
Postal_code <- append(Postal_code, list(LOMAS =  list(UBIGEO = 40311, Poverty_Rate = "18.2%", Population = "20 mil")))

Postal_code

$Majes
[1] 40520

$Mollendo
[1] 40701

$Islay
[1] 40704

$Cotahuasi
[1] 40801

$Alca
[1] 40802

$CHARCANA
[1] 40803

$LOMAS
$LOMAS$UBIGEO
[1] 40311

$LOMAS$Poverty_Rate
[1] "18.2%"

$LOMAS$Population
[1] "20 mil"

In [53]:
Postal_code$LOMAS$Poverty_Rate

[1] "18.2%"

### 3.0 Array and Matrices

In [105]:
# 1D numeric array

a <- c(1,2,3,4,5)
print(a)
typeof(a)
class(a)

[1] 1 2 3 4 5

[1] "double"

[1] "numeric"

In [106]:
print(mean(a))
print(sd(a))

[1] 3
[1] 1.581139

Standar deviation in R

\begin{equation}
 sd(x) = \sqrt{\frac{\sum(x_i-\bar{x})}{N-1}}
\end{equation}

In [107]:
# take care standar deviation formula

n <- length(a)

print(sd(a)*sqrt((n-1)/n))

[1] 1.414214

In [108]:
# 2D array numeric

M <- matrix(c(1,2,3,4,5,6), nrow = 2, byrow =TRUE)

print(M)
typeof(M)

colMeans(M)
rowMeans(M)
#cat(colMeans(M, dim = 1), "\n", colMeans(M, dim = 2))

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

[1] "double"

[1] 2.5 3.5 4.5

[1] 2 5

In [109]:
M <- matrix(c(1,2,3,4,5,6), nrow = 2, byrow =FALSE)
print(M)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [110]:
cat("rows: ", dim(M)[1], '\n', "Columns: ", dim(M)[2])

rows:  2
 Columns:  3

In [111]:
# Create a 1D NumPy array with values from 0 to 20 (exclusively) incremented by 2.5:

y <- matrix(seq(0,19,2))
class(y)
print(y)
typeof(y)

[1] "matrix" "array"

      [,1]
 [1,]    0
 [2,]    2
 [3,]    4
 [4,]    6
 [5,]    8
 [6,]   10
 [7,]   12
 [8,]   14
 [9,]   16
[10,]   18

[1] "double"

In [60]:
y[1]

[1] 0

In [61]:
y <- matrix(seq( 1, 10))
print(y)

      [,1]
 [1,]    1
 [2,]    2
 [3,]    3
 [4,]    4
 [5,]    5
 [6,]    6
 [7,]    7
 [8,]    8
 [9,]    9
[10,]   10

In [62]:
for (i in y) {
  print(i)    
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [22]:
A <- matrix(c(seq(0, 9), seq( 10, 19), seq( 30, 39), seq( -20, -11), seq( 2, 20,2)), nrow = 5, byrow =TRUE)
A

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]   0    1    2    3    4    5    6    7    8    9
[2,]  10   11   12   13   14   15   16   17   18   19
[3,]  30   31   32   33   34   35   36   37   38   39
[4,] -20  -19  -18  -17  -16  -15  -14  -13  -12  -11
[5,]   2    4    6    8   10   12   14   16   18   20

In [25]:
A[2:4,] # rows selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  10   11   12   13   14   15   16   17   18   19
[2,]  30   31   32   33   34   35   36   37   38   39
[3,] -20  -19  -18  -17  -16  -15  -14  -13  -12  -11

In [29]:
A[,1:6]  # columns selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]   0    1    2    3    4    5
[2,]  10   11   12   13   14   15
[3,]  30   31   32   33   34   35
[4,] -20  -19  -18  -17  -16  -15
[5,]   2    4    6    8   10   12

# Join matrix and special Matrix

In [63]:
M1 <- matrix(0,8,2)

print(M1)

     [,1] [,2]
[1,]    0    0
[2,]    0    0
[3,]    0    0
[4,]    0    0
[5,]    0    0
[6,]    0    0
[7,]    0    0
[8,]    0    0

In [64]:
M2 <- matrix(1,8, 4) 
print(M2)

     [,1] [,2] [,3] [,4]
[1,]    1    1    1    1
[2,]    1    1    1    1
[3,]    1    1    1    1
[4,]    1    1    1    1
[5,]    1    1    1    1
[6,]    1    1    1    1
[7,]    1    1    1    1
[8,]    1    1    1    1

In [65]:
M3 <- cbind(M1,M2)
M3

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 0    0    1    1    1    1
[2,] 0    0    1    1    1    1
[3,] 0    0    1    1    1    1
[4,] 0    0    1    1    1    1
[5,] 0    0    1    1    1    1
[6,] 0    0    1    1    1    1
[7,] 0    0    1    1    1    1
[8,] 0    0    1    1    1    1

In [66]:
M4 = matrix(c(2,2,3,4,5,1,1,5,5,9,8,2), nrow =2, byrow = TRUE)
print(M4)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    2    2    3    4    5    1
[2,]    1    5    5    9    8    2

In [67]:

print(t(M5))

      [,1] [,2] [,3] [,4] [,5] [,6]
 [1,]    0    0    1    1    1    1
 [2,]    0    0    1    1    1    1
 [3,]    0    0    1    1    1    1
 [4,]    0    0    1    1    1    1
 [5,]    0    0    1    1    1    1
 [6,]    0    0    1    1    1    1
 [7,]    0    0    1    1    1    1
 [8,]    0    0    1    1    1    1
 [9,]    2    2    3    4    5    1
[10,]    1    5    5    9    8    2
     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    0    0    0    0    0    0    0    0    2     1
[2,]    0    0    0    0    0    0    0    0    2     5
[3,]    1    1    1    1    1    1    1    1    3     5
[4,]    1    1    1    1    1    1    1    1    4     9
[5,]    1    1    1    1    1    1    1    1    5     8
[6,]    1    1    1    1    1    1    1    1    1     2

In [68]:
I <- diag(8)
print(I)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]    1    0    0    0    0    0    0    0
[2,]    0    1    0    0    0    0    0    0
[3,]    0    0    1    0    0    0    0    0
[4,]    0    0    0    1    0    0    0    0
[5,]    0    0    0    0    1    0    0    0
[6,]    0    0    0    0    0    1    0    0
[7,]    0    0    0    0    0    0    1    0
[8,]    0    0    0    0    0    0    0    1

In [69]:
I3 <- matrix(I, nrow = 32, ncol = 2)
print(I3)
typeof(I3)

      [,1] [,2]
 [1,]    1    0
 [2,]    0    0
 [3,]    0    0
 [4,]    0    0
 [5,]    0    1
 [6,]    0    0
 [7,]    0    0
 [8,]    0    0
 [9,]    0    0
[10,]    1    0
[11,]    0    0
[12,]    0    0
[13,]    0    0
[14,]    0    1
[15,]    0    0
[16,]    0    0
[17,]    0    0
[18,]    0    0
[19,]    1    0
[20,]    0    0
[21,]    0    0
[22,]    0    0
[23,]    0    1
[24,]    0    0
[25,]    0    0
[26,]    0    0
[27,]    0    0
[28,]    1    0
[29,]    0    0
[30,]    0    0
[31,]    0    0
[32,]    0    1

[1] "double"

In [112]:
set.seed(756)

#x1 = runif(500, min = 0, max = 1)
x1 <- runif(500)
x2 <- runif(500)
x3 <- runif(500)
x4 <- runif(500)
#random.seed(123)
e <- rnorm(500)

# Poblacional regression (Data Generating Process GDP)

Y <- 1 + 0.8*x1 + 1.2*x2 + 0.5*x3 + 1.5*x4 + e

In [114]:
#M1 <- matrix(0,8,2)

X <- cbind(matrix(1,500), x1,x2,x3,x4)
X

          x1         x2          x3         x4
 [1,] 1   0.18667121 0.14026657  0.94280410 0.10649518
 [2,] 1   0.94443903 0.13706934  0.52276689 0.52940151
 [3,] 1   0.92838826 0.71164475  0.64336073 0.71860641
 [4,] 1   0.95917710 0.18051582  0.69677409 0.25410129
 [5,] 1   0.52417646 0.08842863  0.19106442 0.40701648
 [6,] 1   0.76715036 0.21311299  0.76912339 0.23444981
 [7,] 1   0.11651188 0.23825413  0.93014166 0.99164182
 [8,] 1   0.22528155 0.07474239  0.94627987 0.67382932
 [9,] 1   0.50887578 0.59305166  0.19104230 0.68902774
[10,] 1   0.48288501 0.43254095  0.65083054 0.12949274
[11,] 1   0.99894565 0.69434619  0.01480160 0.42898919
[12,] 1   0.05084642 0.91495662  0.33351877 0.63241673
[13,] 1   0.06691185 0.19109222  0.08920029 0.76341623
[14,] 1   0.11794333 0.35745388  0.81815994 0.66611022
[15,] 1   0.68559683 0.27811306  0.66970300 0.05112475
[16,] 1   0.71863128 0.46288762  0.80392381 0.89823474
[17,] 1   0.06124421 0.84306605  0.37011961 0.92389927
[18,] 1   0.62285430 0.31216241  0.98473847 0.79780304
[19,] 1   0.55798855 0.75144188  0.52716798 0.65260034
[20,] 1   0.90502225 0.22930374  0.39986640 0.91896482
[21,] 1   0.92542007 0.65874796  0.69178055 0.09224323
[22,] 1   0.08820010 0.14306197  0.03249294 0.14938501
[23,] 1   0.31211653 0.56704057  0.32759226 0.80864499
[24,] 1   0.20291122 0.42337361  0.09160377 0.86773079
[25,] 1   0.71595446 0.59810639  0.30404230 0.34511233
[26,] 1   0.90460165 0.45845377  0.65259555 0.88972366
[27,] 1   0.46766476 0.52513082  0.71309737 0.16936588
[28,] 1   0.64029220 0.56341941  0.47951154 0.72864526
[29,] 1   0.96117897 0.44741020  0.60329951 0.69625929
[30,] 1   0.06439775 0.81046488  0.52349975 0.54737779
[31,] ... ...        ...         ...        ...
[32,] 1   0.95949565 0.675293292 0.8533642  0.02793749
[33,] 1   0.97966608 0.039872393 0.9416000  0.72198486
[34,] 1   0.52690660 0.977472335 0.6314807  0.56772196
[35,] 1   0.04598748 0.317146298 0.7144303  0.44446465
[36,] 1   0.90023072 0.205296297 0.6285209  0.60478397
[37,] 1   0.32258687 0.194069347 0.1173722  0.98242966
[38,] 1   0.40783653 0.555588038 0.5186564  0.50368648
[39,] 1   0.99673296 0.999136477 0.7249953  0.92376843
[40,] 1   0.91272255 0.241522007 0.7817168  0.99709942
[41,] 1   0.29021141 0.710598734 0.2612493  0.48444181
[42,] 1   0.69542780 0.276058567 0.9691086  0.17449112
[43,] 1   0.04131045 0.276989744 0.8094209  0.15243695
[44,] 1   0.71684108 0.512455887 0.8306769  0.01123611
[45,] 1   0.76262139 0.059084704 0.3211154  0.45001308
[46,] 1   0.15972753 0.833049576 0.2579192  0.15601347
[47,] 1   0.92483975 0.936467176 0.4144494  0.94711103
[48,] 1   0.81208558 0.555141241 0.3050448  0.66984936
[49,] 1   0.77316963 0.337681846 0.1429613  0.95666772
[50,] 1   0.35355523 0.450951844 0.3189683  0.73501092
[51,] 1   0.12435475 0.560914025 0.7513311  0.43392086
[52,] 1   0.88780212 0.681851396 0.3224342  0.22024524
[53,] 1   0.85313819 0.875375814 0.8255444  0.34645350
[54,] 1   0.84449228 0.617045320 0.8734211  0.16636795
[55,] 1   0.34172408 0.725208323 0.2835125  0.16518848
[56,] 1   0.28166291 0.007400454 0.3206765  0.12923063
[57,] 1   0.12384033 0.899060817 0.9858464  0.85039734
[58,] 1   0.73414969 0.561721307 0.3043357  0.91251808
[59,] 1   0.77999513 0.101500033 0.7807000  0.07230745
[60,] 1   0.92141159 0.072265238 0.8283349  0.79017804
[61,] 1   0.06351236 0.507830425 0.9885709  0.24619645

In [122]:
#install.packages("matlib")
#library(matlib)

#inv(X) or solve (X)

beta <- inv(t(X) %*% X) %*% (t(X) %*% Y)
beta

     [,1]
[1,] 1.1294824
[2,] 0.9372554
[3,] 1.0652353
[4,] 0.3915020
[5,] 1.3708117

### Matriz generadora de residuos 

\begin{equation}
 M = I - X(X'X)^{-1}X
\end{equation}